[2017-02-11 17:48] kracekumar commented on #364
My bad @RishabhJain2018.

[2017-02-11 17:49] RishabhJain2018 commented on #364
@kracekumar No problem.

[2017-02-11 18:01] kracekumar commented on #501
No problem. Take your time @RishabhJain2018

[2017-02-11 18:03] ChillarAnand commented on #343
Not sure. Need to check.

[2017-02-12 12:53] cosmologist10 commented on #502
On 11-Feb-2017 10:06 pm, "R.Kracekumar" <notifications@github.com> wrote:

@cosmologist10 <https://github.com/cosmologist10> Any update on the issue?

Still working on this issue, only one bug left, I think I will make the PR
by the end of this week

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/pythonindia/junction/issues/50

[2017-02-21 02:55] ibrahim45 commented on #264
@ChillarAnand Is the display name have to be shown in navigation bar?

[2017-02-21 13:26] ChillarAnand commented on #264
If user has set `display_name`, then show it in navigation bar.

[2017-02-21 13:33] ibrahim45 commented on #264
@ChillarAnand  Is it right to use django template tag for showing display_name? please suggest if you have any idea on this.

[2017-02-21 13:39] ChillarAnand commented on #264
If it is stored in user model, `{{ user.display_name}}` should work?

[2017-03-11 17:03] kracekumar opened #517 "Update docker instructions"
Junction runs on Python 2 and Python 3. The docker file only supports Python 2.

- Add support for Python 3.

[2017-03-11 17:11] kracekumar opened #518 "Use Celery to dispatch Email"
The junction app sends the email in the web request. When a user submits a comment on a proposal, the web app dispatches email to all the folks involved in the conversation like `proposer, reviewer, commentator`. The email dispatch time increases with the number of participants. The email dispatcher blocks uWSGI process/thread.

The email should originate from celery task which will make the app f

[2017-03-11 18:59] kracekumar opened #519 "Make Junction reusable Django App"
The developers may want to use/include existing Junction app in their codebase.

https://docs.djangoproject.com/en/1.10/intro/reusable-apps/.

[2017-03-19 06:22] pythonhacker opened #520 "ImportError in importing mdx_linkify"
There is a dependency error with html5lib and bleach versions causing the following error with latest requirements.txt.
![screenshot at 2017-03-19 11 03 47](https://cloud.githubusercontent.com/assets/316177/24078692/854117b0-0c9a-11e7-8b40-e77a2214f69c.png)

[2017-03-19 06:24] pythonhacker commented on #520
We found this when doing fixes as part of PyDelhi dev sprint. Fix is to use the following requirements for html5lib and bleach.

html5lib<0.99999999
bleach<2.0.0

I've committed them to the master branch as requirements-patch.txt . Fix is to do

          pip install -r requirements-patch.txt

[2017-03-19 06:33] pythonhacker commented on #520
We should modify the README to include this change.

[2017-03-19 06:53] #520 closed

[2017-03-19 17:56] Mr4x3 commented on #437
I have added a pull request

[2017-03-20 16:50] cosmologist10 commented on #502
Hey Krace! I have updated the django version from 1.8 to 1.9 and now i am running the test cases and getting this issue https://paste.ubuntu.com/24216128/ . Any suggestions

[2017-03-25 02:43] ajoyoommen commented on #437
I am working on it

[2017-04-05 06:46] bhanuvrat opened #525 "manage dev sprint and open space proposals"
Create structure to enable management of Open space and Dev Sprint proposals.

[2017-04-05 07:00] kracekumar commented on #525
There are multiple ways to achieve using current settings.

1. Create a new conference Say "PyCon India 2016 Open Space."
2. Add a separate section along with "Workshops," and "Talks." Junction supports closing sections based on time. So when open space is accepting proposal the users can't submit new talks.

Both the approaches allow the user to propose their talks and projects. Other users can c

[2017-04-06 05:54] pythonhacker commented on #59
Suggest to be marked for closing as WONTFIX. Reasons - > 2 years, and not critical.

[2017-04-06 05:58] pythonhacker commented on #14
Sending emails for favorited proposals is overkill for a software like this. It is closer to *feature-creep* than a good feature.

The idea of marking proposals as favorite is good. But these can just show up separately in a section once user logs in rather than adding an email workflow.

My suggestion is to triage(close) this issue - think about this - and file a fresh one.

[2017-04-06 05:59] pythonhacker commented on #516
Marking some issues to be closed. Pls comment.

1. https://github.com/pythonindia/junction/issues/59 - See comments
2. https://github.com/pythonindia/junction/issues/14 - See comments.
3. https://github.com/pythonindia/junction/issues/32 - No activity or discussion on this

(Will keep editing this).

[2017-04-06 06:03] pythonhacker commented on #273
I am taking this up. Will try and get it ready for PyCon 2017.

[2017-04-06 06:04] pythonhacker commented on #273
First will collect comments across last 3-4 PyCons and using one of the libraries - get its spam detection rating - on each. Idea is to find out how much true and false positives are reported. Will update here with some libraries which are pure Python as much as possible.

[2017-04-06 06:11] pythonhacker commented on #482
This is really a minor thing.

[2017-04-06 11:41] theskumar commented on #14
I'm in favour of closing this one, without proper planning it doesn't provide much value, given lifecycle of the CFP.

[2017-04-06 11:41] #14 closed

[2017-04-06 11:41] #59 closed

[2017-04-09 07:59] kracekumar commented on #273
On Thu, 6 Apr 2017 at 11:34 AM Anand B Pillai <notifications@github.com>
wrote:

I haven't seen any spam in last few years public comments. So it may be
better to rely some external dataset as well. But the application domain
here is proposal comments and but one of the available spam identification
dataset belongs to email category [0].

[0]: http://csmining.org/index.php/spam-email-datasets-.htm

[2017-05-13 12:47] rahulxxarora commented on #518
Hwy @kracekumar I am Rahul. I am new to this community and would like to work on this issue since I have experience with using celery. Can you help me on getting started with this issue?

[2017-05-13 13:39] kracekumar commented on #518
Hi @rahulxxarora, sure `README` file has all the info to setup the environment.

Regarding the issue, look at the views how email is sent. [Here is one such instance](https://github.com/pythonindia/junction/blob/master/junction/proposals/views.py#L390). You need to create a celery task and enqueue. Let me know if you have specific questions.

[2017-05-13 14:01] rahulxxarora commented on #518
@kracekumar Thanks for helping me out. I'll start working on this now.

[2017-05-13 15:00] rahulxxarora commented on #518
Hey, @kracekumar I have setup the working Env on my local machine. Everything is working fine except the Celery workers aren't able to connect with Redis-server.

This is the error I am getting `[2017-05-13 20:27:50,677: ERROR/MainProcess] consumer: Cannot connect to redis://redis:6379/0: .
Trying again in 2.00 seconds...`

Any idea?

Also, rather than creating a new `tasks` file I have made chang

[2017-05-13 18:05] kracekumar commented on #518
It may look dumb, is `redis service` running on the port `6379`? Are you able to connect using `redis-cli`. The current setup doesn't install `redis`.

[2017-05-13 18:15] rahulxxarora commented on #518
Yes, the redis service is running fine on port 6379 and I am able to connect via redis-cli too.

[2017-05-13 18:39] rahulxxarora commented on #518
@kracekumar I found out what was wrong here but I am not sure whether it's the right way or not?
Actually, in `settings/dev.py` file, the URL for the broker was `redis://redis:6379/0` but when I changed it to `redis://127.0.0.1:6379/0` it started working. What do you think?

[2017-05-14 02:29] kracekumar commented on #518
On Sun, 14 May 2017 at 12:09 AM Rahul Arora <notifications@github.com>
wrote:

This is correct!

—

--
Sent from Gmail Mobile

[2017-05-14 09:37] rahulxxarora commented on #518
@kracekumar Should I create a separate pull request for this issue first?

[2017-05-14 10:00] kracekumar commented on #518
On Sun, 14 May 2017 at 3:07 PM Rahul Arora <notifications@github.com> wrote:

No. Send it all together.

—

--
Sent from Gmail Mobile

[2017-05-30 07:47] kracekumar opened #529 "Mark public comments as spam"
Only logged in user is allowed to leave a public comment. Creating an account and post marketing material is non-trivial. Three instances, [first](https://in.pycon.org/cfp/pycon-india-2015/proposals/python-traceback-for-humans~bWnga/#comment-2848), [second](https://in.pycon.org/cfp/pycon-india-2015/proposals/python-traceback-for-humans~bWnga/#comment-2889) and [third](https://in.pycon.org/cfp/pyco

[2017-05-30 07:48] kracekumar opened #530 "Prevent user from posting spam"
When a user crosses, a threshold for spam marking, disallow user to comment on any public post.

[2017-06-07 06:33] kracekumar commented on #530
There are significant spams (posted in public) in the DB by many users. As of now, I'm marking those comments as "The message is blocked as spam and content removed." and deactivate the users. All these users use `gmail, outlook, yahoo` email address.

[2017-06-07 10:22] theskumar commented on #530
Do you think some sort of moderation will help?

[2017-06-10 09:38] kracekumar commented on #530
Yes. Allow any user to post a comment. After a comment, any logged-in user can mark comment as spam. If the comment exceeds threshold count, mark the content as spam and bar the user from posting future comments.

On a long term, build a system https://github.com/pythonindia/junction/issues/273

[2017-06-10 10:33] #518 closed

[2017-06-19 06:40] #530 closed

[2017-06-19 17:57] kracekumar opened #533 "Have minimum words in the public comment"
Like Stack Overflow, implement minimum words for a comment. The good count is 15 words.

[2017-06-22 20:03] kracekumar commented on #273
Here is a [csv file](https://github.com/pythonindia/junction/blob/master/spam.csv) which has spam and non-spam content from junction.

[2017-06-23 14:10] sivaa commented on #533
@kracekumar Are you referring to minimum chars?

[2017-06-23 14:21] kracekumar commented on #533
@sivaa Oh, yes. But 15 characters is low but can be configurable.

[2017-06-25 08:04] prakharchoudhary commented on #533
@kracekumar I am new to open source and would like to contribute to this project. Can I work on this issue?

[2017-06-25 11:50] ChillarAnand commented on #533
Please go ahead @prakharchoudhary

[2017-06-26 09:47] kracekumar commented on #533
@prakharchoudhary We'd love to have new contributors. Like @ChillarAnand said, please go ahead and start the work.

1. The check needs to be in both client and server side.
2. The UI should display a minimum number of required words before the user starts typing.

Feel free to discuss, doubts, and your plan.

[2017-06-27 18:32] theSage21 opened #534 "Proposal Creation Appears to Fail"
Proposal Creation for PyCon '17 fails. Variations tried:

- Public / Draft as status
- No images in description
- With / without uOrigin blocker turned on.

Same error message seen in all cases.

![image](https://user-images.githubusercontent.com/7693265/27603783-df06cba2-5b94-11e7-9786-868f57a5ac34.png)

 The proposal **DOES** get created as seen in this screenshot, but the error message led me t

[2017-06-27 18:52] kracekumar commented on #534
Thanks for the report @theSage21. This is because of `redis` service failure  which @vigneshsarma needs to fix. For now, this is fixed by making `USE_ASYNC_FOR_EMAIL=False`

[2017-06-29 18:05] prakharchoudhary commented on #533
@kracekumar I have added the required changes. However, Flake8 keeps giving me errors for star-imports in files like .settings/dev.py. So should I correct them or ignore them before making my PR?

[2017-06-30 06:03] RishabhJain2018 commented on #533
@prakharchoudhary Use `# noqa: ignore=F405` as a comment in star imports line to ignore flake8.

[2017-07-04 13:58] ankitjain28may opened #538 "Footer is not sticked to the bottom of the page"
![image](https://user-images.githubusercontent.com/14014254/27833092-db9a13b6-60ee-11e7-8830-d203288e33d4.png)

[2017-07-06 13:40] kracekumar opened #539 "Auto detect URL in the proposal and highlight"
When a user misses using markdown syntax to highlight the URL in the proposal section, automatically highlight the URL in the text.

URL: https://in.pycon.org/cfp/2017/proposals/pytorch-for-the-tensorflow-developers-and-others-dl-enthusiasts~dLApe/

![url_missing_highlight](https://user-images.githubusercontent.com/311929/27913782-c647e902-627e-11e7-9181-e6094a457f32.png)

[2017-07-06 13:41] kracekumar commented on #539
In the above description, I didn't use Markdown syntax, still, GH highlights the URL.

[2017-07-20 15:00] kracekumar opened #540 "Add `markdown support info` in the proposal create form for all text fields"

[2017-08-19 11:37] mish24 commented on #540
@kracekumar I can take this up. Could you brief a bit more about what I'm supposed to add?

[2017-08-20 15:32] mish24 commented on #539
Taking this up

[2017-08-20 15:42] mish24 opened #541 "Complete the testing suite for all models (Both unit and functional)"
I'll try to do this by the end of this month as the new changes are made. Shall I go ahead with it?

[2017-08-20 16:01] kracekumar commented on #540
When the user fills out the new proposal form, the form shows the information `This form supports markdown for formatting.` at the top. While filling the form, the user may forget the markdown support. So along with the text field help text, display `the field supports [markdown](http://daringfireball.net/projects/markdown/) format`.

 This is a change in [proposals/forms.py](https://github.com/py

[2017-08-20 16:02] kracekumar commented on #539
@mish24 Please go ahead.

[2017-08-20 16:05] mish24 commented on #540
Got it! I'll add the required changes

On Sun, 20 Aug 2017 at 9:31 PM, R.Kracekumar <notifications@github.com>
wrote:

[2017-08-20 16:08] kracekumar commented on #541
Thanks for thinking about the test cases. Testing models can be tricky.

Would you be interested in writing test cases for `views/services` which internally relies on models?

[2017-08-20 16:10] mish24 commented on #541
@kracekumar Sure!

[2017-08-20 16:17] kracekumar commented on #541
@mish24 Good. The test runner displays the [coverage information](https://travis-ci.org/pythonindia/junction/jobs/248742216). From there you can start finding which part of the code needs testing.

[2017-08-20 22:15] mish24 commented on #539
@kracekumar mostly in `content_urls` there's the need to use angular brackets to identify multiple URLs and convert them. This won't recognize any link if it's already inside any block of code. Basically I was going to implement simple regex scraping for storing urls here. Shall I go ahead? In my opinion telling the users to use angular brackets seems like a much better option. What are your thoug

[2017-08-21 08:23] gabhijit opened #542 "proposal submission timestamp should reflect the time when the proposal was first made public"
Observed an issue during submitting proposal for Pycon 2017. After I submitted the proposal, I was not able to find the proposal quickly. As this is likely to be (one of) the newest proposal, one would expect the proposal to be the newest.

What I observed instead was - that the proposal was indeed submitted, except the submitted date turned out to be the date when the draft was first saved and no

[2017-08-21 10:07] gabhijit commented on #542
A quick glance at the code suggests - https://github.com/pythonindia/junction/blob/96e0aede2266023a7f905bf49c15c07f4400f9f6/junction/proposals/views.py#L80

Likely this is an issue - it should not be - '-created_at'?

[2017-08-21 10:54] realslimshanky commented on #542
@kracekumar @theskumar
Would you please take a look into this?

[2017-08-26 18:42] kracekumar commented on #542
Thank you @gabhijit for submitting the issue. I can understand where you're coming from.

`created_at`, `updated_at` are two timestamps in the model. Every time the proposer modifies the proposal `updated_at` undergoes an update. Sorting by the `updated_at` will make the listing unpredictable and the proposer can use this as a trick to push their proposal to the top.

The proposal list page should

[2017-08-26 18:48] kracekumar commented on #539
@mish24 Giving heads up the field supports the markdown is an excellent option. The form field should auto detect URLs and add respective markup. I'm sure the existing Markdown Field or another plugin can do this. Can you look around?

[2017-08-27 13:15] mish24 commented on #539
Yeah. I'll upgrade to `django-markdown2` and write some filters. That'll do it. Sending PR soon

[2017-08-28 17:22] Pradhvan opened #543 "Can't login into CFP page of Pycon India gives Account Inactive"
I tried to login into CFP page of Pycon India and every time I am getting a message "Account Inactive".
![error](https://user-images.githubusercontent.com/13925830/29784939-774274f0-8c43-11e7-9d8b-fbc53fa8c183.png)

[2017-09-14 12:59] modestlearner commented on #519
Can i work on this issue??

[2017-09-14 17:51] modestlearner commented on #482
Can I work on this issue since its been very long @pythonhacker did not come up!!!!
I want to fix this without interrupting the workflow.

[2017-09-15 07:33] kracekumar commented on #482
@modestlearner Please go ahead.

[2017-09-15 07:33] kracekumar commented on #519
@modestlearner Please go ahead.

[2017-09-15 07:36] modestlearner commented on #482
@kracekumar after reading the codebase I think its already made.
If not please tell me the things to do as I am new to this community !!!

[2017-09-15 07:38] modestlearner commented on #482
As per my understanding , I wish to create a dashboard app and include the urls.
Am I going the right way??

[2017-09-15 08:48] modestlearner opened #545 "Add instructions in Readme for Mac users"

[2017-09-21 14:43] pythonhacker opened #546 "Filtering by category for "Proposals To Review" does not work"
When I try to review a section by selecting it from drop-down, no results come.
![screenshot at 2017-09-21 20-13-11](https://user-images.githubusercontent.com/316177/30701992-58a6e9b2-9f09-11e7-986e-1328d88ce8ed.png)

[2017-09-23 14:59] anandology opened #547 "URLs should be autolinked"
The markdown format expects urls to be put between `<` and `>` to make them links.  I see lot of speakers adding links to their slides, but the are not hyperlinked.

Both GitHub and StackOverflow uses a modified version of markdown that autolinks URLs. Junction too should support this extension.

References:

* [GitHub Flavored Markdown](https://github.github.com/gfm/)

[2017-09-23 15:01] anandology opened #548 ""Your Proposals" should be displayed in the reverse cronological order"
My profile currently shows my proposals from 2015 on the top and 2017 at the end. It should be in the reverse order.

[2017-09-23 15:04] anandology opened #549 "Don't allow deleting proposals"
I've noticed that proposals can be deleted. Even the ones that are accepted and presented at the conference.

I think the system should only allow to withdraw a proposal, but not delete. The withdrawn proposals will be marked as "withdrawn" and may only be visible to the reviewers and admins. Also, it doesn't make sense to withdraw a proposal after a conference is over.

[2017-09-23 15:13] anandology commented on #547
Here is a sample code that you may be able to adopt for this:

https://github.com/internetarchive/openlibrary/blob/cc3a6ea65081e466866d1908cd54c5cd77ce4fcc/openlibrary/core/olmarkdown.py#L23

[2017-09-23 17:27] kracekumar commented on #546
@ChillarAnand Can you look into it? Also, Proposal Section displays all the sections rather showing sections pertaining to the conference?

[2017-09-27 17:07] kracekumar commented on #482
No, that's not what it is.

In this [file](https://github.com/pythonindia/junction/blob/master/junction/urls.py#L53), views from other apps are present. The `urls.py` should have `urls` from other apps like https://github.com/pythonindia/junction/blob/master/junction/urls.py#L53

[2017-10-01 05:52] ChillarAnand commented on #546
It will show only relevant sections.

![j](https://user-images.githubusercontent.com/4463796/31052190-80dde6c2-a69a-11e7-9b14-497b3b08a550.png)

In the @pythonhacker's screenshot, proposal sections are not showing up. Can you check if proposal section reviewers are created correctly?

[2017-10-14 17:14] realslimshanky opened #551 "A module to send broadcast emails to people who proposed"
A module with some kind of broadcast mechanism is needed to send broadcast emails to people who have proposed a talk or a workshop. This is much needed to easily get back to people with respect to confirmation or details about then if they are speaking.

[2017-11-03 05:27] kracekumar opened #552 "Django management command to export all proposers information"
There are a lot of times the volunteering team wants to send mass emailer to proposers. Given a management command like `python manage.py get_proposers_details <conference_slug>`, the command should produce a CSV file with following details `name, proposal title, proposal type, proposal section, proposer email`

[2017-11-03 05:43] #534 closed

[2017-11-03 05:47] kracekumar commented on #547
Duplicate of #539.

[2017-11-03 05:50] kracekumar commented on #543
can you share your username?

[2017-11-03 06:03] d3vil0p3r commented on #538
@ankitjain28may I'm trying this 👍

[2017-11-03 06:11] kracekumar opened #553 "Create a management code to export reviewers vote"
The functionality is available here https://github.com/pythonindia/junction/blob/e8cefd7910f807873a9f0d7650f6868ccffbeac0/junction/proposals/dashboard.py#L287. You need to create a command line version.

[2017-11-03 06:30] satyanash commented on #529
I think this feature has been added as I can only see the comments mentioned above as _The comment is marked as spam._

[2017-11-03 06:31] valaparthvi commented on #548
I would like to work on this issue if no one else is working on it.

[2017-11-03 06:32] kracekumar commented on #551
Duplicate of https://github.com/pythonindia/junction/issues/510

[2017-11-03 06:32] #551 closed

[2017-11-03 06:33] kracekumar commented on #510
Using `MailChimp` makes workflow hard. Let's not use `MailChimp` sticking with standard email dispatch.

[2017-11-03 06:39] satyanash commented on #364
PR #469 merged. This issue can be closed.

[2017-11-03 06:51] kracekumar commented on #548
@valaparthvi Please go ahead. The relevant code is in https://github.com/pythonindia/junction/blob/master/junction/proposals/dashboard.py

[2017-11-03 06:51] #364 closed

[2017-11-03 06:52] #529 closed

[2017-11-03 06:54] ankitjain28may commented on #538
@d3vil0p3r Sure

[2017-11-03 06:54] satyanash commented on #548
looks like this is implemented in #550

[2017-11-03 06:57] kracekumar commented on #548
@satyanash Good catch.

@valaparthvi Apology. Can you look at some other issue?

Fixed in https://github.com/pythonindia/junction/pull/550

[2017-11-03 06:57] #548 closed

[2017-11-03 07:12] satyanash opened #554 "add django-debug-toolbar"
Can we use add django-debug-toolbar to the dev dependencies?
It is a godsend when debugging issues with all things django.

[2017-11-03 09:25] Pradhvan commented on #543
Pradhvan

[2017-11-03 10:32] valaparthvi commented on #552
If no one is working on this issue, I would like to work on it. Let me know.

[2017-11-03 10:32] kracekumar commented on #552
வெள்., 3 நவ., 2017, பிற்பகல் 4:02 அன்று Parthvi Vala <
notifications@github.com> எழுதியது:

Please go ahead.

—

--
Sent from Gmail Mobile

[2017-11-03 11:57] kracekumar commented on #543
Your account is active now.

[2017-11-07 07:06] isaagar opened #555 "Update the psycopg2 to latest version in requirements.txt"
While following the readme , my setup failed while pulling psycopg2. After searching for the solutions , I found the error was in psycopg2 version  (currently 2.6.2) .
Updating the psycopg2 version to 2.7.3  in requirements.txt solved my problem.

[2017-11-07 10:11] valaparthvi commented on #552
@kracekumar I have submitted a PR [556](https://github.com/pythonindia/junction/pull/556). Kindly review it. Thanks.

[2017-11-11 06:25] #555 closed

[2017-12-03 14:07] rahulxxarora commented on #553
Hey @kracekumar,  I would like to work on it. Can I?

[2017-12-04 06:58] kracekumar commented on #553
@rahulxxarora Please go ahead.

[2018-01-07 14:43] smtchahal commented on #539
This seemed to work fine until 408f0c0 removed the '`linkify`' markdown extension, any reason why that was done?

[2018-04-21 08:55] Ayukha commented on #519
@kracekumar  Seems @modestlearner is not working on it, Can I take this up?

[2018-05-01 06:08] anandology opened #558 "The parent URL of cfp page should not give 404"
The URL of the CFP page for PyCon India 2017 is:

https://in.pycon.org/cfp/2017/proposals/

If you look at one level up, the URL <https://in.pycon.org/cfp/2017> gives `404`. It is generally good practice to make sure the parent either has thing to show or redirect to appropriate page.

In this case, it would be better to redirect to `proposals/` page instead of showing 404.

[2018-05-06 04:48] kracekumar opened #559 "stepping down as one of the maintainer"
For past few years, I was involved in the project and contributed whatever I can. Going forward, I'm not in a position to contribute to the projects. I no more possess time, energy, and my interest over time has drifted. I request members (https://github.com/orgs/pythonindia/teams/pycon-2015-team/members) to take care of the project, and decide about members and not rely on me for any decisions. I

[2018-06-30 08:26] jaidevd opened #560 "Feature Request: Review Ratings for Proposals"
In PyCon India 2018, the review will happen in three stages, the first of which requires reviewers to submit a rating for each proposal, by responding to the following statement:

"This proposal will make a good talk / workshop at PyCon India 2018":
1. Strongly agree
2. Agree
3. Neutral
4. Disagree
5. Strongly Disagree

We need this rating system to be present for each proposal and for each review

[2018-06-30 19:04] ananyo2012 commented on #560
@jaidevd Should we show the average Rating for the proposal out of 5 ? Also do we need to Show the review of individual reviewers ?

[2018-06-30 19:31] ananyo2012 commented on #560
So I checked the code and found there is already a Rating system for reviewers. But it is a 4 point Rating system that is scored in this manner
[code]
Are they ok or do you want to rename them as you suggested ?

[2018-06-30 19:37] ananyo2012 commented on #560
I am not sure how they are displayed though. Will check and report.

[2018-07-01 07:08] jaidevd commented on #560
@ananyo2012 We need to get rid of the old rating system, and apply the new one. We need to show the review of individual reviewers, but they should be anonymized. There's no need to show the average.

Hope that helps. Thanks.

[2018-07-01 07:47] ananyo2012 commented on #560
ok. I think we can reuse the same structure just change the Rating
parameters. It will show the rating of individual reviewers. For
anonymousity junction uses nicknames such as Reviewer1, Reviewer2. That
should be ok right?

On Sun 1 Jul, 2018, 12:38 PM Jaidev Deshpande, <notifications@github.com>
wrote:

[2018-07-01 08:20] jaidevd commented on #560
Yes, those nicknames are fine.

[2018-07-03 02:28] ananyo2012 commented on #560
@jaidevd Here is the screenshot of the Voting page
![screenshot from 2018-07-03 07-41-31](https://user-images.githubusercontent.com/10486343/42195050-a91aa706-7e94-11e8-83b1-e63accb16dd1.png)

Here is the votes dashboard where all Rating will be shown for each proposal
![screenshot from 2018-07-03 07-41-16](https://user-images.githubusercontent.com/10486343/42195071-c7029bf2-7e94-11e8-9912-b80cc94

[2018-07-03 08:08] jaidevd commented on #560
Thanks, @ananyo2012, this looks good. Just a few changes.
The voting page should have this line on top:

Please also remove the vote values. i.e, we should not be capturing numbers, but we should just be keeping them as enums. Also, please see if you can make the radio buttons horizontal instead of vertical, with strongly disagree to the left and strongly agree to the right.

Also, most importantl

[2018-07-03 17:56] ananyo2012 commented on #560
@jaidevd Does this look good now? I am not so good at design. I can ask someone from the Design team to design interactive buttons if you want

![screenshot from 2018-07-03 23-23-34](https://user-images.githubusercontent.com/10486343/42236443-796b07b0-7f18-11e8-88bd-0fe9ce425a3a.png)
![screenshot from 2018-07-03 23-23-05](https://user-images.githubusercontent.com/10486343/42236449-7e521fe8-7f18-11

[2018-07-04 05:34] jaidevd commented on #560
@ananyo2012 This looks good, thanks. Sure, the design team can look at this parallelly, but let's not let that block this. Please go ahead an merge this if everything else is fine.

[2018-07-06 20:14] #560 closed

[2018-07-14 14:49] #543 closed

[2018-07-14 16:43] realslimshanky commented on #558
@anandology I'm working on fixing this issue.

[2018-07-17 02:14] ananyo2012 opened #564 "Feature request: Add Assign review for proposals"
We want  a Assign review feature for reviewers that will make it easier to review proposals. When the no of proposals are large it can be hard to divide the work. So there should be a "Assign Review" button which can contain a dropdown with all the available reviewers for that proposal. By selecting one reviewer and clicking the button reviewers should be able to tag a proposal to a reviewer. This

[2018-07-21 07:43] Vibhu-Agarwal opened #565 "git clone missing in Readme file"
No instructions to tell about cloning the project before setting up for the project
In [readme](https://github.com/pythonindia/junction#setup) `pip install -r requirements-dev.txt` gives error `Could not open requirements file: [Errno 2] No such file or directory: 'requirements-dev.txt'`

[2018-07-21 07:54] siddharthshashikar commented on #538
I'm also working on fixing this issue.

[2018-07-21 11:16] ananyo2012 commented on #565
@Vibhu-Agarwal Cloning is the first thing you do when you start working on a project. It is equivalent to downloading the project. So that's not required to be mentioned IMO. But yes for a complete first timer who is unknown to open source and git this may be unknown. We can add links to some good articles on git atmost.

[2018-09-19 11:18] ananyo2012 opened #568 "Make Wiki page for adding Devsprints"
Devsprints are different from regular Proposals as it's open for everyone who are a maintainer of an Open Source Project. There should be a Wiki page for adding Devsprints where maintainers can add a project he/she wants to propose for the Sprint

[2018-10-17 07:46] kracekumar opened #569 "Fighting Spam"
1. All the spammers create a new account after the account is banned. Along with blocking the user, after the conference is over, close the comment section, i.e the system should prevent posting comments from everyone except the proposer.
2. Allow URL to be posted in the comment only for proposer.

[2018-11-28 07:02] theSage21 opened #570 "Is the data for pycon India's review process available somewhere?"
Is the data for pycon India's review process available somewhere?

It would be neat if we could find areas of systematic bias and eliminate it in the next pycon.

[2019-01-28 20:01] #565 closed

[2019-02-15 07:28] Ishaan28malik commented on #549
Can I work on this ?
Please let me know

[2019-02-15 07:29] Ishaan28malik commented on #525
Hey is it still open I want to work on this

[2019-04-02 04:42] zerothabhishek opened #571 "[2019] Upgrade dependencies for security"
Ref: https://requires.io/github/pythonindia/junction/requirements/?branch=master

Many libraries in requirements.txt are using old, insecure versions. They must be updated to the latest secure versions.

This also requires a Django upgrade.
Related Issue: 514

[2019-04-02 04:47] zerothabhishek opened #572 "Notify admin on new proposals"
A notification (email) should be sent to the admin/staff when a new proposal arrives. Only the staff associated with the conference in question should be notified.

This will help the CFP-volunteering team to react faster, and also to control spam proposals

[2019-04-03 07:17] pradyunsg commented on #571
pillow seems to be unused.

[2019-04-03 13:11] pradyunsg opened #578 "Remove Docker support?"
Coming from #517 and a short discussion with @zerothabhishek, ISTM that the docker files are not used in production or in development.

Is anyone willing to update and maintain the docker environment going forward? If yes, then should we move the production deployment to use docker?

In case there's no one willing to step up to do the above in ~15 days or so, I suggest we remove docker related fil

[2019-04-03 14:59] zerothabhishek commented on #578
@ananyo2012 @vigneshsarma your opinions too please.

[2019-04-03 15:13] vigneshsarma commented on #578
The reason we added the Dockerfile was #124 .

Does anyone use it for that purpose?

With just a single server for production, I dont think there is much advantage to using docker in production.

[2019-04-03 17:50] ananyo2012 commented on #578
I personally use manage.py script to run server locally. But its good to have docker available since its easy for first time setup that works across different OS. Maybe you can move it to a separate branch  and link it to #517 ?

[2019-04-04 06:58] pradyunsg commented on #578
If it's not being actively maintained or used, I think it's better to remove it. There's been at least 2 instances of contributors trying to use it and failing to do so. (myself and one other)

[2019-04-08 10:48] zerothabhishek opened #579 "Create proposal page: Add link to best practices wiki"
Here's the wiki: https://github.com/pythonindia/junction/wiki/Speaker-best-practices

It should say -
"Take a look at the [best practices](https://github.com/pythonindia/junction/wiki/Speaker-best-practices) before submitting"
To be added right before "This form supports markdown for formatting"  on a separate line

Few other help text changes are also needed:

- `Title of the proposal, no buzz wo

[2019-04-08 11:12] zerothabhishek commented on #578
I think its okay to move it to a branch. Docker is a good idea but for now it seems like an obstacle for new-comers. May be in future we'd distribut an image that can be used directly.

[2019-04-11 14:11] onlinejudge95 commented on #533
Hey guys, what is the status of this issue. Willing to take it up if required.

[2019-04-12 05:49] zerothabhishek commented on #533
Hey @onlinejudge95, the PR #537 has been already submitted for this. We can test it ourselves, and merge if it looks good

[2019-04-12 14:46] icyphox opened #583 "Stored XSS in text fields"
There’s a stored XSS bug in the comments section under each proposal, allowing the attacker to run malicious JS on the client.

## Steps to reproduce
1. Hit "add a comment", found under any proposal
2. Enter `<script>alert(1)</script>` in the text field
3. An alert-box should pop up with `1` in it

## Relevant screenshot
![image](https://user-images.githubusercontent.com/17672379/56045839-9c799200

[2019-04-12 16:20] zerothabhishek commented on #583
Thanks for reporting this @icyphox

[2019-04-12 16:48] icyphox opened #584 "Adopt a security policy"
We should adopt a security policy for Junction, something like a `SECURITY.md` file. The essential points that need to be outlined in it are:

- Rules of engagement (like don't test on prod!)
- What counts as a bug (it could be a feature :))
- Reporting a bug (who to contact, report template)

This is in relation to #583, which I wasn't too happy about reporting via an issue, but I didn't know bet

[2019-04-12 17:13] zerothabhishek commented on #584
I agree. We should quickly adopt some kind of security policy.
Security on this project is a problem (see #571), and having a security policy helps. Can you please suggest another project that we can refer for this ?

[2019-04-12 17:15] zerothabhishek commented on #583
Tested on staging server (junction.h65.in), problem exists

[2019-04-12 17:16] icyphox commented on #584
I feel https://github.com/standard/standard/blob/master/SECURITY.md is a good starting point. We can build on this.

[2019-04-12 17:21] icyphox commented on #583
Am I permitted to test on that URL as well? I'm having some issues with the local setup.

[2019-04-12 17:42] zerothabhishek commented on #583
Sure go ahead @icyphox

[2019-04-12 17:47] zerothabhishek commented on #583
Possible cause: the `markdown` filter used in views allows malicious JS to pass. A better way seems to be to use `markdown_safe` instead.  Another possible technique is to use `markdown|safe|striptags` filters.

[2019-04-15 06:22] palnabarun commented on #578
Hi everyone,

I would be more than happy to maintain the docker setup for junction.

I saw the `Dockerfile` and `docker-compose.yml` in the repository. Since, they were written 4 years ago, they need some oiling. Like for the `Dockerfile`, using `ubuntu:14.04` image unnecessarily increases the size. I tried with `python:2.7` for now and the web container worked, barring other issues.

Let me know

[2019-04-15 07:34] zerothabhishek commented on #578
Thanks @palnabarun that will be great. Please go ahead with it.
Docker is not in use on production right now, so we can best use it for development. A smaller sized image would be ideal.

[2019-04-15 07:48] zerothabhishek opened #586 "Upgrade to Python 3.7"
An effort has already been made for this (#316), but the production still runs Python 2.7

We need to make sure that -
- Python version is the latest (3.7)
- Production gets updated (change scripts in magudi)
- Documentation is updated to reflect that
- Dockerfile is also updated

And also,
- All tests should pass
- All the functionality should be working

[2019-04-15 13:06] palnabarun commented on #586
I was going to point this out, as Python 2.7 support ends on `1st January 2020`.

Is there any plan on how this is going to be spec'ed out?

[2019-04-19 06:09] zerothabhishek commented on #583
Hey @icyphox could you please help us with testing the fix at #587 ?
Staging: junction.h65.in

[2019-04-19 06:28] zerothabhishek opened #588 "Comment submission is slow"
Perhaps because it tries sending emails then and there - which can be done asynchronously.

[2019-04-20 05:48] icyphox commented on #583
I'm away from my computer at the moment, I'll do this tomorrow.

Bear with me :)

[2019-04-20 10:08] pradyunsg opened #589 "Plan for improving Junction's documentation"
I figured it'll be a good idea to have a central location to discuss about the documentation updates I have planned for the project.
The general overview is:

- Get a basic skeleton of sphinx documentation generation into the source tree.
  - Include the documents from current documentation (and mark them as old)
- Add "development" section with a "getting started" page
- Include relevant pages in

[2019-04-20 10:19] pradyunsg commented on #589
#577 is the first step, covering the first 2 top level bullet points above.

[2019-04-20 13:01] zerothabhishek opened #590 "Ask speaker's gender"
And also if s/he suffers from a disability.  The information can be used for the diversity endeavor.

- Both fields should be optional
- Both should be text-input fields - not drop-downs

These fields could be added to the profile page, with a link added to the proposal page.

[2019-04-20 13:04] zerothabhishek commented on #589
@pradyunsg how/where do we publish the docs ? Does Github run a build for Sphinx docs too ?

Also, we need some documentation on how to *use* the software itself. Many parts are counter-intuitive, a few things that I could only learn by looking at the code. Can that also be considered within the scope of this ticket ?

[2019-04-20 17:55] pradyunsg commented on #589
I'll setup a build on readthedocs.io :)

Yeps. That makes sense to me. :)

[2019-04-21 08:08] icyphox commented on #583
@zerothabhishek I'm having trouble logging in on the staging server. GitHub OAuth doesn't seem to work nor does the email confirmation when I try to login via email.

[2019-04-21 08:21] zerothabhishek commented on #583
@icyphox yeah emails are not working on that server (OAuth has also not been setup). You can perhaps use the admin to  mark the account as verified. Sending credentials via email

[2019-04-21 08:36] icyphox commented on #583
Looks good from my end. Input appears to be sanitized server-side as well. Great!

[2019-04-21 08:46] zerothabhishek commented on #583
Thanks @icyphox

[2019-04-22 11:44] #583 closed

[2019-04-22 12:16] #579 closed

[2019-04-22 12:32] icyphox opened #591 "Nested Markdown bullets seem to be misbehaving"
When nesting bullets, the preview appears correctly but upon hitting "Submit", they revert back to unestested bullets. Here's what I'm trying to write:

[code]
Here's what the preview section shows:
![image](https://user-images.githubusercontent.com/17672379/56500517-cafa2880-6528-11e9-8d1f-19243e2a864c.png)

And here's what gets rendered upon submission of the proposal:
![image](https://user-imag

[2019-04-22 14:25] pradyunsg commented on #591
Thanks for filing this. I just noticed this has happened to my proposal's text as well.

[2019-04-22 14:28] icyphox commented on #591
Funnily enough, they seem to be working as expected in [this proposal](https://in.pycon.org/cfp/2018/proposals/speed-up-your-python-modules-using-rust~elNrb/) from PyCon 2018. Odd.

[2019-04-22 15:37] pradyunsg commented on #591
Even nicer, I changed my bullets' indentation and it seems to have worked.

https://in.pycon.org/cfp/2019/proposals/python-packaging-where-we-are-and-where-were-headed~dGV8b/

[2019-04-22 15:40] icyphox commented on #591
Oh? I’ve been attempting the same, but to no avail. Care to share your Markdown?

[2019-04-22 16:04] pradyunsg commented on #591
[code]

[2019-04-23 16:18] vkartik97 commented on #572
@zerothabhishek
Do we need to extend the existing feature of `send_mail_for_new_proposal`?
Ref: [junction/proposals/views.py#L157](https://github.com/pythonindia/junction/blob/0972ed21e13209e0c3155823c0af53fb5f78e691/junction/proposals/views.py#L157)

[2019-04-23 16:52] zerothabhishek commented on #572
@vkartik97 we need this to notify the staff associated with the conf. `send_mail_for_new_proposal` notifies the reviewers. We'll probably need a new function for this.

[2019-05-10 01:33] bravegnu opened #592 "Big Banner on CFP Homepage"
The Junction CFP homepage https://in.pycon.org/cfp/ has big banner. This big banner pushes the relevant content down the screen. This was probably useful when Junction was first used, and there were not many links at the bottom. Here are some ways to improve the front page.

Reduce the size of the big banner.

[2019-05-10 01:37] bravegnu opened #593 "Misleading heading in homepage"
The heading "Conferences" in the homepage is misleading: https://in.pycon.org/cfp/ Every there are multiple links, for submitting proposals. We should come up with something better, or remove it. Or may be be categorize the links by conference, like so:

   * Conferences
      * PyCon India 2019
         * Talks
         * Worksops
         * Posters
         * Devsprints
      * PyCon India 2018

[2019-06-01 10:50] de-sh commented on #593
True, the app seems to be denoting each cfp as a separate conference

[2019-06-11 04:19] zerothabhishek opened #594 "Remove votes from the UI"
Public display of votes discourages new speakers -
https://twitter.com/Captain_Joannah/status/1134844061188284417

Votes are not being used for reviews. They are vulnerable to getting gamed.

[2019-06-11 04:25] zerothabhishek opened #595 "Remove public comments"
Public display of comments discourages new speakers -
https://twitter.com/Captain_Joannah/status/1134844061188284417

[2019-06-11 09:17] zerothabhishek commented on #594
There is no need to change code for this. The setting: `allow_public_voting_on_proposals` available from admin can be used to turn voting off.

[2019-06-11 09:17] #594 closed

[2019-06-11 14:42] #595 closed

[2019-06-12 16:53] dishantsethi commented on #558
This issue is still not solved, @anandology can I work on this?

[2019-06-13 04:18] theSage21 commented on #590
Is this for internal purposes only or will it be public?

[2019-06-13 04:37] theSage21 commented on #588
- I thought this was already happening? [https://github.com/pythonindia/junction/blob/master/junction/proposals/comments_views.py#L52]
-  It seems to be explicitly turned off if I'm not wrong [https://github.com/pythonindia/junction/blob/master/settings/common.py#L248]

[2019-06-13 13:44] zerothabhishek commented on #590
@theSage21 It is for internal purpose - mainly for measuring our diversity progress. Will not be public

[2019-06-13 13:46] zerothabhishek commented on #588
@theSage21 Thanks for the comment. You're right it has been explicitly disabled - something I noticed much after raising this issue. I suppose that makes the job easier now.

[2019-06-13 13:51] zerothabhishek commented on #558
Thanks @dishantsethi.
Since a PR is already raised for this, it will be great if you can help test and verify it.

-Abhishek (2019 coordinator)

[2019-06-19 05:06] bravegnu commented on #543
@kracekumar Any idea why this happens?

[2019-06-19 05:07] bravegnu commented on #543
We got a similar problem, recently. https://twitter.com/kushaldas/status/1140952657508487169

[2019-06-19 05:11] kracekumar commented on #543
புத., 19 ஜூன், 2019, முற்பகல் 10:37 அன்று Vijay Kumar <
notifications@github.com> எழுதியது:

When a user’s comment is marked as spam in the comment box by others, the
account is made inactive.

If you’d want these ids to be made active, let me know, I can change it in
Django Admin.

<https://twitter.com/kushaldas/status/1140952657508487169>

--
Sent from Gmail Mobile

[2019-06-19 17:17] dishantsethi commented on #590
Hii
I want to work on this issue, Can you explain a bit precisely?
What all changes do I have to do and how can I test that on localhost?

[2019-06-23 04:08] zerothabhishek commented on #590
Hello @dishantsethi .. thanks for offering to work on this. Let me get back with details in a few days

[2019-06-23 07:32] dishantsethi commented on #590
sure, thanks @zerothabhishek

[2019-06-24 11:09] dishantsethi opened #598 "grammatical error status of the talk statement"

[2019-06-24 11:11] dishantsethi commented on #598
![Screenshot from 2019-06-24 16-37-38](https://user-images.githubusercontent.com/31399916/60014484-c96eed00-969e-11e9-83ff-14cca6cb194a.png)
It should be `can't see the` , instead of 'can't the see the'

[2019-06-24 11:16] deepscbe commented on #598
Thanks for notifying, I'll correct it.

On Mon, Jun 24, 2019 at 4:41 PM Dishant Sethi <notifications@github.com>
wrote:

[2019-06-25 16:41] dishantsethi commented on #590
@zerothabhishek, can you share the details?

[2019-06-25 16:55] dishantsethi commented on #592
I want to work on this issue. Can you share details regarding the size of the banner ?

[2019-06-25 16:59] dishantsethi commented on #568
I want to work on this issue, can you explain the problem statement and share details? @ananyo2012

[2019-06-29 12:47] dishantsethi commented on #598
This issue is solved. Should I delete this one or it will be closed by the maintainers @deepscbe  ?

[2019-07-02 08:03] #598 closed

[2019-07-02 16:52] dishantsethi commented on #549
Is this issue fixed or Can I work on this? @anandology  @Ishaan28malik

[2019-07-02 16:56] dishantsethi commented on #546
Is this issue got solved? @pythonhacker @ChillarAnand @kracekumar

[2019-07-02 17:01] dishantsethi commented on #538
Is this issue solved? @ankitjain28may @siddharthshashikar

[2019-07-04 09:33] deepscbe opened #604 "Incorrect link to conference having different slug in profile dashboard"
After logging in, and click on "My Proposals", there is a link to go back to talks "Talks 2019" which is redirecting to wrong URL.

![image](https://user-images.githubusercontent.com/38253214/60656300-d80e8e80-9e6c-11e9-8e80-2f13612441a7.png)
![image](https://user-images.githubusercontent.com/38253214/60656329-df359c80-9e6c-11e9-9c30-1db6aa7f4c38.png)

[2019-07-05 07:01] ananyo2012 commented on #568
@dishantsethi The feature is pretty straight forward as the title. You need to make an editable wiki page. Logged in users should be able to edit the description of the wiki and add a project in the description field. Also the history of the wiki edits should be maintained. So that we can revert to any version when required.

[2019-07-05 16:08] dishantsethi commented on #604
I want to work on this issue.

[2019-07-06 04:42] zerothabhishek opened #606 "Submissions after deadline show unhelpful errors"
For example,
If the CFP closes at 12 midnight, and we draft a proposal at 11:55, and submit it at 12:02, we get the following error:

Near the Proposal Type field.

The error message should be more helpful, something like _the deadline has passed_.

[2019-07-06 08:51] dishantsethi commented on #604
Hey, I can't find the link to go back to "Talk 2019" after clicking on "My proposals". @deepscbe
![Screenshot from 2019-07-06 14-18-02](https://user-images.githubusercontent.com/31399916/60754048-47b18480-9ff9-11e9-849c-0773b02c0c93.png)

[2019-07-06 20:13] dishantsethi commented on #606
Hey, I want to work on this issue. How can I test this on localhost? @zerothabhishek

[2019-07-08 10:27] deepscbe commented on #604
I've already committed the fix and Abhishek is verifying the same.

On Sat, Jul 6, 2019 at 2:21 PM Dishant Sethi <notifications@github.com>
wrote:

[2019-07-25 14:48] ananyo2012 commented on #568
@dishantsethi Are you working in this issue ? @pythonindia/pycon-2019-team We should prioritize this issue now. This is actually been needed for a long time. Is there any possibility to add this feature to junction this year ?

[2019-07-27 16:40] dishantsethi opened #611 "Upgrade Django to 2.2 LTS"
The things we'd need to do here are:

- [ ] Resolve the deprecation warnings.
- [ ] Upgrade to Django 1.11, and bump all dependencies. #664
- [ ] Upgrade to Django 2.2, and bump dependencies. #687

[2019-08-02 14:04] anujaagarwal commented on #547
Hello @anandology , @kracekumar  I want to work on this issue, please can you explain precisely what to do?!

[2019-08-02 14:06] anujaagarwal commented on #511
Hello @kracekumar  I want to work on this issue, can you explain what to do?

[2019-08-30 15:51] dishantsethi commented on #611
Hey @zerothabhishek,  Is this a legit issue? Should Junction be upgraded to latest version of django?

[2019-10-05 08:21] onlinejudge95 opened #613 "Pipeline failing for flake8"
Hi Guys,

I created a [PR](https://github.com/onlinejudge95/junction/pull/1) on my fork of this repo. While merging changes from pythonindia/junction to my fork the travis [build](https://travis-ci.com/onlinejudge95/junction/jobs/242362724) is failing for all 3 versions of `Python`, with the following traceback.

[code]

Travis Build link :- https://travis-ci.com/onlinejudge95/junction/jobs/242362

[2019-10-14 08:49] kracekumar opened #614 "Drop Python 2 support + update primary deployment to Python 3"
Previously Junction worked on Python 2 and Python 3 but deployed only in python 2 in server. From now use only Python 3 in server and remove support for Python 2 and update requirements.

- [x] Drop Python 2 support and enable Python 3 support.
- [ ] Migrate server to Python 3(magudi).
- [x] Upgrade packages and refactor the code.
- [ ] Deploy to the server.
- [ ] Update any relevant documentation

[2020-03-07 04:11] sameer1001 commented on #578
I tried running the **docker-compose up** today. It doesn't work. It fails with many dependency problems like

"ERROR: Cannot uninstall 'six'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall."

@palnabarun has any work happened on this yet? If not, let's collaborate and take it forward.

[2020-03-10 11:55] pradyunsg commented on #578
In #622, I propose removing the current files; until someone actually puts in the time and effort to get a working on making the setup work -- which would anyway involve rewriting parts of the configuration.

[2020-03-14 21:42] ananyo2012 opened #623 "flake8 fails CI"
flake8 check is erroring out causing Travis CI checks fail in the recent PRs made

[2020-03-14 21:42] ananyo2012 commented on #623
Taking up this issue. Will create a PR with the fixes.

[2020-03-15 21:28] ananyo2012 commented on #623
With #622 this is fixed now. Ran this using `nox -s lint`

[2020-03-15 21:28] #623 closed

[2020-03-15 21:30] ananyo2012 commented on #613
@palnabarun #622 fixes this. Ran flake8 using `nox -e lint` and it passes now.

[2020-03-15 21:35] ananyo2012 commented on #614
I think #622 addresses the CI tests for this. The original PR #615 made by Krace checks for py 3.6 and 3.7 as well. @pradyunsg What do you think regarding supporting those versions ?

[2020-03-16 09:05] #613 closed

[2020-03-16 09:15] palnabarun commented on #613
@ananyo2012 Thanks for checking this. :+1:

[2020-03-16 16:44] ananyo2012 commented on #604
@deepscbe I don't see the PR for this issue. So this is still open.

[2020-03-16 16:53] ananyo2012 commented on #591
Markdown takes 4 spaces for nesting bullets. I guess this isn't actually a bug. @pradyunsg Can you verify ?

[2020-03-16 17:04] ananyo2012 commented on #586
#614 tracks this now. Hence closing this.

[2020-03-16 17:04] #586 closed

[2020-03-16 17:28] ananyo2012 commented on #578
#622 closes this

[2020-03-16 17:28] #578 closed

[2020-03-16 17:31] ananyo2012 commented on #571
3 more dependencies need update - handlebars, extend and sshpk as pointed out by GitHub @dependabot

[2020-03-16 17:32] ananyo2012 commented on #570
This maybe something you can drop an email in the mailing list @theSage21 . We can close this issue as it is not related to development workflow.

[2020-03-16 17:32] #570 closed

[2020-03-16 17:35] ananyo2012 commented on #568
@palnabarun You can add your ideas you were discussing earlier regarding this.

[2020-03-16 17:38] ananyo2012 commented on #559
@palnabarun Maybe we can keep this in the action items of the Technology WG for PyCon 2020 to take up the maintenance and future of the project.

[2020-03-16 17:59] ananyo2012 commented on #545
@sayanchowdhury Can you check the steps in Readme if they apply for Mac as well ?

[2020-03-16 18:05] ananyo2012 commented on #547
Closing this as this is duplicate of #539

[2020-03-16 18:05] #547 closed

[2020-03-16 18:21] ananyo2012 commented on #525
Devsprints are not like regular CFPs where a Reviewer approves a proposal. It's more like a wiki page. We can have similar wiki page for CFP. #568 discusses this.

[2020-03-16 18:22] #525 closed

[2020-03-16 18:40] ananyo2012 commented on #517
@palnabarun You want to take this up ?

[2020-03-16 18:43] ananyo2012 commented on #516
Going through all issues from most recent ones. Triaging then in this GitHub Project - https://github.com/pythonindia/junction/projects/2

[2020-03-16 18:48] ananyo2012 commented on #512
Till now junction hasn't been used for ticketing in any editions of PyCon India. Do we want to still support ticketing in junction. @palnabarun This is can be taken up as an action item.

[2020-03-16 18:53] ananyo2012 commented on #502
Current Django version in 1.9. Stale issue. Hence closing.

[2020-03-16 18:53] #502 closed

[2020-03-16 18:57] ananyo2012 commented on #498
@sayanchowdhury @anistark Do you think this is needed in a proposal ?

[2020-03-16 19:03] palnabarun commented on #498
@ananyo2012 Yes. This is needed. After the submission dates are over, it is unfair to let people freely change the title/content of the talk. At least if the title becomes immutable after the deadline, the content can't be freely changed to whatever the proposer wants.

[2020-03-16 19:09] palnabarun commented on #517
Yes.

[2020-03-17 08:35] icyphox commented on #591
@ananyo2012 Probably a bug because it seems to show up fine in the preview -- what's actually rendered is different, however.

[2020-03-17 12:21] palnabarun opened #626 "Configure Read The Docs integration"
I have secured https://in-junction.rtfd.io for hosting the junction documentation. The configuration needs to be done to build and serve documentation for `docs/`.

PS: I will be taking care of this issue.

[2020-03-19 17:15] ananyo2012 commented on #439
Seems like #437 will fix this issue. Hence closing.

[2020-03-19 17:15] #439 closed

[2020-03-19 17:45] ananyo2012 commented on #32
The ticketing platform of junction has never been used. Need to revisit the current state of code and if it is useful to invest time in this.

[2020-03-19 17:48] ananyo2012 commented on #626
@palnabarun Have you checked https://pythonindia.github.io/junction/ . The previous documentation used mkdocs. Can't we have something similar for Sphinx as well instead of moving to rtfd domain ?

[2020-03-19 17:52] ananyo2012 commented on #626
#43 discusses the mkdocs setup

[2020-03-19 17:57] palnabarun commented on #626
You can always `make html` the sphinx docs and deploy. But, then it would require unnecessary hacks and managing `gh-pages` branch out of sync with the master tree.

Bdw, what are the cons of hosting at RTD?

[2020-03-19 17:58] ananyo2012 opened #627 "Add user documentation"
Moving from #43 here are the few points we should add in the junction user documentation to make life of reviewers/admins easier

## How tos
- Set up a conference
- Add reviewers for a conference
- Assign Section reviewers
- Private Comments
- Reviewers only collaboration

## Features
One liner/small writeup about existing features.

## Setup
How to setup third party packages like django-allauth (

[2020-03-19 18:09] ananyo2012 commented on #43
Moved to #627

[2020-03-19 18:09] #43 closed

[2020-03-19 18:09] pradyunsg commented on #626
One more service to handle auth / permissions for. :)

Or... let a GitHub Action do that for you.

[2020-03-19 18:12] palnabarun commented on #626
RTD doesn't require credential handling. One time process to create the site. And I can add as many maintainers as needed and keep the ball rolling.

I like the GH Action idea though.

[2020-03-19 18:13] ananyo2012 commented on #626
Yes let's push to gh-pages on update to docs folder in master using GitHub Action

[2020-03-19 18:14] pradyunsg commented on #626
Alright, I think there's concensus for GA. Let's close this then.

[2020-03-19 18:15] #626 closed

[2020-03-19 18:23] pradyunsg opened #628 "Suggest contributors to create PRs for different branches"
Should we also mention that `you should always create a new branch for a new pr to avoid conflicts`?

_Originally posted by @sks444 in https://github.com/pythonindia/junction/pull/621_

Yes, we should. It's a little tricky to phrase though, so filing an issue to follow up on this suggestion.

[2020-03-19 18:26] palnabarun commented on #628
**It should be there in the documentation if it is not there now. It is standard practice.**

[2020-03-19 18:33] sks444 commented on #628
I could take this up.

[2020-03-19 18:58] palnabarun commented on #32
I think instead of approaching from the code, we should chalk out the high-level expectations and functionalities of Junction and its modules.

[2020-03-19 19:02] pradyunsg opened #629 "Improve settings handling"
Currently, during development setup, the contributor needs to juggle around settings files.

This isn't great, and we should probably consolidate our settings setup with django-settings while we're doing this.

[2020-03-19 19:06] palnabarun commented on #629
Can't the setting variables be taken from the environment in the current state/in the proposed workflow?

[2020-03-19 19:34] ananyo2012 commented on #627
@pradyunsg Is the Milestone only meant to improve developer documentation and not the user functionalities ?

[2020-03-19 19:42] ananyo2012 commented on #139
@palnabarun @pradyunsg Do you think tags are useful in a proposal ? CPFs are not usually the source of content until they are published, before which it is mostly read by reviewers.

Presently tags are there for proposal sections and types which can be created only by the admin, not by the submitter.

[2020-03-19 19:50] ananyo2012 commented on #380
@kracekumar Can you recall what is meant by a session here ?

[2020-03-19 19:55] pradyunsg commented on #380
I think one reviewer for each talk/workshop session?

[2020-03-19 19:58] pradyunsg commented on #627
Yea, development-related stuff would be what we put in the milestone -- I don't think we should mix that with user-facing stuff.

A good metric would be "does this have any user-facing changes" -- yes? don't put it in the milestone. no? maybe put it in the milestone.

[2020-03-19 19:59] ananyo2012 commented on #366
#513 seems to add support for LinkedIn, Twitter, Facebook but it was removed in #528 . @kracekumar Any reason for the change ?

[2020-03-19 20:04] ananyo2012 commented on #380
You mean for each proposal section ? That's already there I believe. Each reviewer can be given review comment access for  specific proposal sections e.g. ML, Devops etc.

[2020-03-19 20:05] pradyunsg commented on #139
I haven't seen a CFP use tags. I don't *know* this from experience but my intuition tells me that it's best to avoid it.

[2020-03-19 20:08] pradyunsg commented on #380
No, as in every talk/workshop (AKA "session") proposal gets a single person assigned as a reviewer.

[2020-03-19 20:58] RJ722 opened #631 "Port old documentation guides along with restructuring"
Port the old docs (from `docs/source/old*.md`) written in Markdown to rst (and to use sphinx).

Also, restructure the old guides to fit in with the sphinx workflow.

[2020-03-19 20:59] ananyo2012 commented on #380
Ah I see you mean each proposal by default gets a reviewer assigned

[2020-03-19 21:01] ananyo2012 commented on #362
@palnabarun @pradyunsg Any requirement for this now ?

[2020-03-19 21:05] pradyunsg commented on #362
No requirement, but compatibility would be a great idea.

[2020-03-19 21:05] ananyo2012 commented on #353
Maybe we can use some kind of tag to differentiate between a regular and sponsored session

[2020-03-19 21:27] ananyo2012 commented on #305
This will be a very helpful feature, since presently we use manual emails for selection/rejection emails.

[2020-03-20 09:28] pradyunsg commented on #614
I'm on board for being Python 3.5+ compatible.

I do think it'd be a good idea to stick to a single Python version though, and 3.8 is a good target as of today.

[2020-03-20 09:31] pradyunsg opened #632 "Disable the GitHub Wiki"
I don't think we should be using the Wiki for PyCon India specific workflow items; which is what most of the Wiki is for.

[2020-03-20 11:29] kracekumar commented on #380
True. Not sure, if the organizer would want this as default behavior. The idea is to make sure all proposers get some feedback

[2020-03-20 12:57] pradyunsg commented on #380
I see. I think that's more a workflow thing than something that Junction -- the tool -- should be handling.

Overall, I don't think there's anything actionable here; if there is please holler. :)

[2020-03-20 15:14] kracekumar commented on #366
I don't remember correctly now. Feel free to take the decision of your own now.

[2020-03-20 15:15] kracekumar commented on #366
I think, we want to use only details, what they put in their bio.

[2020-03-20 16:52] pradyunsg commented on #366
I'm included to say that it's perfectly fine to avoid adding in social logins. Definitely not Facebook, Twitter et al, whose revenue model relies on Advertising / data collection.

[2020-03-20 17:09] palnabarun commented on #366
@pradyunsg I agree with you, but we do have OAuth login through Google at the moment.

I think the current options are adequate at the moment. IMHO, it is highly unlikely that someone won't have either Google or a GH account. Even in that case, we allow signups from the platform itself.

In short, I am in favor of closing this.

[2020-03-20 17:11] #366 closed

[2020-03-20 17:48] palnabarun commented on #353
We should have a `metadata` field for proposals. That would make it extensible in the future for rarely used attributes.

[2020-03-20 17:51] palnabarun commented on #559
@ananyo2012 Agreed. I think we should take up maintainership for at least two years, train shadows for the role and then relinquish our duties. This would keep the ball rolling.

If at any point in time, there is a lack of interest, emeritus maintainers can step in.

[2020-03-20 17:51] palnabarun commented on #559
This is the method we follow in Kubernetes SIG leadership.

[2020-03-20 17:52] ananyo2012 commented on #632
Yeah we need to port it somewhere else. Probably https://github.com/pythonindia/pyconindia-handbook/wiki

[2020-03-20 17:55] palnabarun commented on #632
+1 to moving it to PyCon India handbook.

[2020-03-20 18:16] palnabarun commented on #628
@sks444 Feel free to file a PR! :)

Assigning you.

[2020-03-20 18:16] palnabarun commented on #629
Note: Also, document all the variables that can be set.

[2020-03-20 18:24] #588 closed

[2020-03-20 18:35] ananyo2012 commented on #313
This seems to be present but not working properly

[2020-03-20 18:39] palnabarun commented on #514
Current `django-allauth` version is 0.32.0

https://github.com/pythonindia/junction/blob/e9b198e5dbe3841e97bb2e4d5a59d4efc62f8e3b/requirements.txt#L29

We can close this.

[2020-03-20 18:39] #514 closed

[2020-03-20 18:40] ananyo2012 commented on #304
The reviewer should be able to see the last comment posted. This shouldn't be relevant anymore.

[2020-03-20 18:48] ananyo2012 commented on #273
Unfortunately the spam data is gone from one of the recent changes. Need to dump it somewhere, maybe in a different branch

[2020-03-20 18:57] ananyo2012 commented on #261
#330 fixed this

[2020-03-20 18:57] #261 closed

[2020-03-20 19:00] ananyo2012 commented on #139
Yeah that's my feeling as well. @palnabarun shall we close this ?

[2020-03-20 19:03] palnabarun commented on #139
Sure. Same thoughts. Giving that flexibility is kind of a rabbit-hole it seems.

[2020-03-20 19:03] #139 closed

[2020-03-20 19:04] ananyo2012 commented on #219
@palnabarun @pradyunsg How much code coverage should be good ? We can split up up the task per module.

[2020-03-20 19:11] palnabarun commented on #219
@ananyo2012 We should at least cover all important functionalities.

The coverage percentage metric is misleading. Lower coverage certainly means more tests are required to be written, but higher coverage does not lead to well-tested software.

[2020-03-20 19:14] ananyo2012 commented on #176
Need to decide what states we need to have

[2020-03-20 19:19] ananyo2012 commented on #158
Given that public comments are relatively less and not used for deciding the status of proposal, this doesn't seems to be required. Also this needs additional DB changes.

Instead supporting #226 is fair enough. @palnabarun @pradyunsg Any comments on this ?

[2020-03-20 19:29] palnabarun commented on #158
I have seen threaded comments on funnel which is Hasgeek's CFP system. All bidirectional communication between proposers and reviewers gets mediated through that. For example, [here](https://hasgeek.com/rootconf/2020/proposals/all-the-way-from-data-centre-to-cloud-doWVqzQdnpQykQSVYSJB3G)

I am not really sure about our use case though.

[2020-03-20 19:32] #558 closed

[2020-03-20 19:45] ananyo2012 commented on #569
Related to #273. We can list down the action items for this issue and close the older one once all items are finalized

[2020-03-20 19:53] ananyo2012 commented on #158
There is a separate reviewer comments section which is private. So communication is between one reviewer and proposer usually. Should be good even without nested comments.

[2020-03-20 19:54] ananyo2012 commented on #559
Sounds good. We need to improve the documentation so that transfer can happen smoothly.

[2020-03-20 20:22] sks444 opened #635 "Couldn't find CONTRIBUTORS.txt"
https://github.com/pythonindia/junction/blob/master/.github/CONTRIBUTING.rst#pull-requests

Mentions that you should add yourself to `CONTRIBUTORS.txt` if you're not there. But I couldn't find the file. Am I missing something?

I think we are directly adding the contributor's GitHub profile to README.md instead of putting it in `CONTRIBUTORS.txt`.

[2020-03-20 20:52] sks444 commented on #611
I could take this up and migrate Django to 3 altogether.

It would be a good starting point for me to have a better understanding about each component of this project.

[2020-03-21 04:29] pradyunsg commented on #559
We need to improve a lot of things. 🙈

[2020-03-21 04:30] #559 closed

[2020-03-21 05:17] palnabarun commented on #632
### Tasks
- [ ] Move over stuff from junction wiki to handbook
- [ ] Disable wiki

[2020-03-21 05:18] palnabarun commented on #632
PS: Anyone looking at this issue from the devsprint, this is not part of the sprint as it requires write credentials to the organizations.

[2020-03-21 05:42] lladhibhutall commented on #553
@kracekumar  @palnabarun This seems fun, I can take a stab at it. A little guidance is appreciated.

[2020-03-21 05:59] palnabarun commented on #553
So, this requires you to create a management command for Django, which would take in the conference slug as an argument, call the above-mentioned function and return you the reviewer votes for every proposal submitted for that conference.

References
https://docs.djangoproject.com/en/1.8/howto/custom-management-commands/
https://docs.djangoproject.com/en/3.0/howto/custom-management-commands/

We a

[2020-03-21 06:03] ananyo2012 commented on #635
I use @allcontributors for adding contributors in readme. Simplified the process. If we are favoring to use that we may need to keep the contributors list in README.

[2020-03-21 06:09] lladhibhutall commented on #553
@palnabarun I thought the issue had something to do with argparse or click, not very good with django if anybody else wanna take it, go-ahead.

[2020-03-21 06:15] pradyunsg commented on #635
Honestly, I prefer removing the list from the README. If we want, we can automagically generate the list and have it in the documentation.

I'll be revamping the README later today; once our documentation pipeline is set up.

[2020-03-21 06:21] pradyunsg opened #641 "Investigate requirements for removing junction/base/monkey.py"
So... there's monkeypatching of Django's internals in junction/base/monkey.py.

That should stop.

[2020-03-21 06:22] ananyo2012 opened #642 "Add yarn install to CI"
I see @dependabot making some PRs for yarn packages. There is a `yarn.lock` present at https://github.com/pythonindia/junction/tree/master/junction/static . In case that is being used we need to add that to CI to keep track of dependency updates.

[2020-03-21 06:40] #628 closed

[2020-03-21 07:10] pradyunsg commented on #553
@lladhibhutall If you want to tackle a click+argparse issue, take a look at pip's issue related to its CLI: https://github.com/pypa/pip/issues/ 4659.

[2020-03-21 07:36] pradyunsg opened #644 "Add CI for building documentation"
Because, that's important?

[2020-03-21 07:43] palnabarun commented on #644
The PR's already go through the Travis.

[2020-03-21 07:44] palnabarun commented on #644
I am working on the documentation part.

[2020-03-21 07:44] palnabarun commented on #644
As a side note, please put complete descriptions when filing issues. :)

[2020-03-21 21:44] ananyo2012 opened #645 "Non proposal sub urls are broken"
Go to any non proposal url e.g. `/profiles`, it redirects to `/profiles/proposals` . This was introduced in #563. We need to revert the change and come up with the correct fix for the issue.

[2020-03-22 04:44] palnabarun commented on #645
Ack. This case went past my eyes.

Thank you for reporting.

[2020-03-22 04:57] palnabarun commented on #645
Filed #647 to fix it correctly.

[2020-03-22 09:56] sameer1001 opened #651 "Issue while setting up in windows 10"
Python version: 3.5
Windows 10 Pro, version:  1903

While running **nox -- migrate --noinput** for the first time, we are getting an issue saying
**AttributeError: module 'os' has no attribute 'uname'**

With quick googling, I could figure out that this is related to the package **uwsgi==2.0.*** in the **requirements.txt**

I removed this package from requirements.txt and tried running the command

[2020-03-22 09:58] sameer1001 opened #652 "Fix deprecation warnings, related to use of older APIs"
Not an exhaustive list, but here are some of the warnings that are coming while building the test.
https://gist.github.com/pradyunsg/0d3cfefe1f184f7c7001e85ba5ecb8be

We can take care of these by making small changes overall I guess.

I would like take this, will work on it gradually and update progress here.

[2020-03-22 10:14] sameer1001 commented on #568
@palnabarun @ananyo2012 would like to work on this. maybe if you have started on this already, we can collaborate.

[2020-03-22 11:28] ananyo2012 commented on #651
uWSGI is used for interacting between server and django app. While django launches a test server when using locally that is not enough for running in production.

The solution will be to move it in a separate requirements file `requirements-prod.txt` until we have some better dependency management solution like `pipenv`

[2020-03-22 11:44] ananyo2012 commented on #652
I think it will be good if you can mention the reasons that are causing the warnings and proceed with the fixes.

[2020-03-22 15:51] pradyunsg opened #654 "Remove remaining references to requirements-dev.txt"
There are still a few references to the now-removed requirements-dev.txt file.

[2020-03-22 19:37] sks444 commented on #652
Hi @sameer1001, please note that there are two prs already fixing some of the warnings: https://github.com/pythonindia/junction/pull/643, https://github.com/pythonindia/junction/pull/653

Make sure the changes you're doing doesn't overlap, otherwise it will be repetitive work. :)

[2020-03-23 09:27] pradyunsg opened #655 "Blacken the code!"
Well, it'd make the codebase easier to read IMO.

Plus, it'll help do away with years of different code styles being used in various parts of the codebase.

[2020-03-23 11:03] palnabarun commented on #655
`142 files reformatted, 37 files left unchanged.`

[2020-03-23 11:04] #645 closed

[2020-03-23 12:49] pradyunsg commented on #611
This is basically a critical task.

The things we'd need to do here are:

- Resolve the deprecation warnings.
- Upgrade to Django 1.11, and bump *all* dependencies.
  - This will be *the* tricky step, because our current dependency graph isn't a [known good set](https://packaging.python.org/glossary/#term-known-good-set-kgs)
- Upgrade to Django 2.2, and bump dependencies.

Thanks to an utter lack

[2020-03-30 12:49] #655 closed

[2020-04-04 19:32] pradyunsg commented on #644
I thought the title was fairly self-explanatory. None the less, fair point. I'll be more elaborate in the future.

[2020-04-04 19:33] #644 closed

[2020-04-04 21:11] sks444 opened #660 "Issues while running nox to do the local development"
Our [development guide](https://github.com/pythonindia/junction/blob/master/docs/source/development/getting-started.rst) recommends to use `nox` for local development. But I have been facing few challenges while running it locally on mac system.

- `nox -- migrate --noinput` and `nox -- sample_data` results in following error:
[code]
- Whereas while running `nox -s lint` I get the following error:

[2020-04-04 21:25] pradyunsg commented on #660
Ah, this helps understand the problem.

The underlying issue here is not with nox, but the use of an (EOL) version of Django in Junction. Django 1.9 on doesn't work on newer interpreters, and to avoid needing potential contributors to install too many interpreters, all the automation uses Python 3.5 (or 3.6 when that's not possible).

I guess we could bump everything to 3.6, but beyond that might

[2020-04-04 22:28] sks444 commented on #611
After https://github.com/pythonindia/junction/pull/653, I started working on fixing third party deprecation warnings and upgrading to `Django 1.11.+`.  And one of the first issues I encountered is:

We are using [django-uuidfield](https://github.com/dcramer/django-uuidfield) at [devices models](https://github.com/pythonindia/junction/blob/cb638008e653ae0c7459814065aff834d1d3fa51/junction/devices/m

[2020-04-05 00:47] pradyunsg commented on #611
I have 0 interest in maintaining a fork.

Doesn't Django have a UUIDField built in? https://stackoverflow.com/questions/32528224/#32528292

[2020-04-05 04:17] ananyo2012 commented on #611
Yep @pradyunsg is right. Django has uuid field for models - https://docs.djangoproject.com/en/1.11/ref/models/fields/#uuidfield

[2020-04-05 04:36] pradyunsg commented on #611
I'll let someone else handle writing the migration for this lol.

[2020-04-05 05:07] ananyo2012 commented on #660
@pradyunsg Shouldn't we let nox pickup the default python version available in developers environment for session dev ? Also we are forcing devs currently to test on all python3 versions. I think that shouldn't be the case. Nox should skip the test/lint session for the python versions that are not available.

[2020-04-05 07:35] sks444 commented on #611
Okay, so we'll move to Django's UUIDField and figure out a way to migrate old data to this.

[2020-04-06 16:49] pradyunsg commented on #660
Well... Once we upgrade to a decent version of Django, yes.

It does that by default: https://nox.readthedocs.io/en/stable/usage.html#opt-error-on-missing-interpreters

Yea, well, it's not forcing anything? I guess we can tell people to use `nox -s test-X.Y` instead. Feel free to file a PR updating the documentation to add this suggestion.

[2020-04-10 15:49] sks444 opened #666 "Remove use of python_2_unicode_compatible from Django models"
We are using `python_2_unicode_compatible` decorator at almost every model and also `__unicode__` at some of them which I think is not required as we are no longer on `Python 2`.

[2020-05-02 14:49] #604 closed

[2020-05-02 19:31] ananyo2012 opened #675 "Selected proposals are not ordered"
The list of selected proposals are not ordered in the proposals listing page. Check https://in.pycon.org/cfp/2018/proposals/ . The list of selected Talks and Workshops are not in order. While the public proposals listing doesn't seem to have an issue.

This seems to be caused due to missing `order_by` filter in the proposal view.
https://github.com/pythonindia/junction/blob/a9bd537a4bcf50f2058c488

[2020-05-03 17:21] ananyo2012 commented on #642
We are using yarn packages for css assets only. For JS we are still using vanilla jquery library. Unless there is linting or tests setup we don't need to run yarn in CI.

[2020-05-24 15:22] ananyo2012 opened #678 "Order selected proposals and workshops based on timestamp"
TSIA

[2020-06-05 07:58] palnabarun opened #680 "Dockerize Junction and related components"
Services to be run
---
1. Postgres 12
2. Redis 6
3. Web application on Python 3
4. Celery workers on Python 3

Additional system-wide config
---
1. Nginx rule to reverse proxy traffic to the containers
2. Co-ordinate config management for production

Follow Up
---
- [ ] Remove Python 2.7 from CI
- [ ] Remove other sunsetted Python versions from support (if any)
- [ ] Upgrade to Django 2.2 LTS and

[2020-06-05 10:03] onlinejudge95 commented on #680
I can take it if it helps ease the burden.

[2020-06-05 11:46] palnabarun commented on #680
@onlinejudge95 -- Thanks for the help! You can get started with the port to Django 2.2 LTS.

There will some major breaking changes though. Please feel free to create a new umbrella for tracking the work.

[2020-06-05 11:47] onlinejudge95 commented on #680
Will raise a PR by weekend

[2020-06-05 12:39] palnabarun commented on #635
Ref: https://github.com/pythonindia/pyconindia-handbook/pull/25 for the discussion on having contributors list in README.

---
TL;DR It is not favorable to keep the list of contributors in README.

[2020-06-05 12:41] palnabarun commented on #635
Also, since https://github.com/pythonindia/junction/blob/master/.github/CONTRIBUTING.rst#pull-requests doesn't mention adding one's name to CONTRIBUTORS.txt, this issue is redundant as such. Hence, closing.

[2020-06-05 12:41] #635 closed

[2020-06-05 12:44] palnabarun commented on #651
@sameer1001 -- Thanks for filing this.

Last time I checked, none of the popular WSGI frameworks, viz, uWSGI or Gunicorn, support Windows due to the way they work. Ideally, uWSGI as a dependency should not be put in `requirements.txt` since it is not part of the application but is used to deploy WSGI applications.

[2020-06-05 21:57] onlinejudge95 opened #684 "Django version bump"
- [ ] Update Django version to next minor release i.e. `1.10`
    1. Blocked on `django-uuidfield` dependency which is breaking in `Django==1.10`

[2020-06-06 07:13] palnabarun commented on #684
@onlinejudge95 -- Can you please write a task checklist for the work needed?

[2020-06-06 08:36] onlinejudge95 commented on #680
@palnabarun meanwhile can you provide clarity on `Remove other sunsetted Python versions from support (if any)`. This can go independent(to some extent, corner cases being the dependencies in this project having a hard limit) just like 2.7 one

[2020-06-06 09:16] palnabarun commented on #680
By that I mean 3.5 is going to be EOL on 2020-09-13, IIRC. We should target 3.6+ for CI and production.

Sure.

[2020-06-06 09:39] pradyunsg commented on #680
TBH, given that there's only 1 deployment that we know of, it might be a good idea to to push for 3.8+ compatibility.

[2020-06-07 18:12] ananyo2012 commented on #614
@palnabarun Please close this issue once the prod migration to Python 3 is done

[2020-06-07 18:14] ananyo2012 commented on #684
There is already issue #611 for this. Please use it to update the status. Individual PRs can track progress of each task in checklist.

[2020-06-07 18:23] #654 closed

[2020-06-07 21:20] ananyo2012 commented on #660
We recently got a report of the first issue again. Until we migrate to a higher version of Python we need to let nox select the default available version of Python3. @pradyunsg I see the tests are passing for Python 3.6+ in CI with the current version of Django. What are the issues you were mentioning earlier ?

[2020-06-07 22:32] pradyunsg commented on #660
FWIW, I'd like for us to be on the latest Python versions if possible, but I don't remember anymore what the roadmap was in my head.

I've paged this project outta my head by now, so I don't really know this off handedly. I do remember that this specific change wasn't as straightforward as bump everything to 3.8 (or even python="3", but I don't remember *why*/how I'd reached that conclusion.

I al

[2020-06-08 15:06] #684 closed

[2020-06-09 09:36] gutsytechster commented on #660
I am also facing the similar issue. I have `Python 3.6.5` installed on the system I am setting up the project. But when I run `nox -- migrate --no-input`, it exits with an error as

[code]

I assume, this is because of this line [here](https://github.com/pythonindia/junction/blob/master/noxfile.py#L11). Can we also support `Python 3.6` for `dev` session or is it because `Django 1.9` does not suppo

[2020-06-09 18:28] miphilomath opened #693 "[Setup] Error while installing npm packages"
I have been following the updated documentation on how to [get started](https://in-junction.readthedocs.io/en/latest/development/getting-started.html#initial-setup) with the development of the project and set up the database migrations. For my local setup, I am using virtualenv for python3.5

To set up the frontend of the project, I exected, `npm install` and encountered the following error messag

[2020-06-10 03:55] ananyo2012 commented on #693
Please try doing a yarn install. We have moved to yarn for static assets.
Will update the readme shortly

On Tue, 9 Jun, 2020, 11:58 PM Mohit Bansal (Philomath), <
notifications@github.com> wrote:

[2020-06-10 04:26] ananyo2012 commented on #660
#694 should fix this

[2020-06-10 10:14] miphilomath commented on #693
Thanks @ananyo2012. It worked.

[2020-06-10 10:14] #693 closed

[2020-06-11 17:51] pradyunsg commented on #641
https://github.com/pythonindia/junction/blob/master/junction/base/monkey.py performs monkeypatches to Django's functions. monkeypatching is usually an anti-pattern and in this case, as far as I can tell, it is something that shouldn't be necessarily needed.

The resolution for this issue would involve:

- investigating why this was added (possibly by looking that the git blame for that bit of code

[2020-06-12 20:25] #660 closed

[2020-06-13 12:56] miphilomath opened #696 "[Suggestion] on the Readme Structure"
I suggest we keep installation instruction separate from Readme, to maintain consistency in the instructions until we have a solid documentation structure. I am sharing a skeleton for the README, I feel we can use with the relevant images and gifs to welcome new users.

----------------
### Junction | \<status buttons>

Latest Version: xx.xx

Overview with the project demo gif, image so that new u

[2020-06-13 12:59] miphilomath commented on #696
If we agree on the structure, I can create a pull request with the updated README with all the relevant details from our current Readme which we can update over time.

[2020-06-13 15:41] miphilomath opened #697 "[Suggestion] Restructuring documentation"
Since Junction's documentation is distributed at various places and requires restructuring, I would like to propose the following structure for the readthedocs documentation, suggesting appropriate location for the existing documentation on GitHub wiki. Creating a structure before writing pages will help us write individual pages and recollect them easily.
I suggest to have 4 level of documentatio

[2020-06-13 16:00] miphilomath commented on #697
![junction](https://user-images.githubusercontent.com/26297035/84573268-02601000-ad8f-11ea-8ff0-0a0061d9de07.png)

[2020-06-13 17:18] palnabarun commented on #697
@miphilomath -- Thank you for kicking this off. All of the above plans look good to me other than the following comment,
How about removing the Developer Guide? API Reference and Project Structure are the proposed sections adding value. Project Structure can be documented in the Contributor Guide itself and API Reference can be a separate top-level section.

[2020-06-14 11:03] miphilomath commented on #697
Yeah, I guess we can keep the contents of developer guide in contribution guide. I kept a separate developer page assuming that the page will grow bigger with details of Frontend and Backend components and applications detail later. But I guess, we can keep them in contribution guide until that happens.

Also, should I go ahead with the Pull request for the documentation as suggested above?

[2020-06-14 21:52] bhavaniravi commented on #541
I just realized the same. Most PRs don't have a testcase. Is there anything I can help with in this area?

[2020-06-15 05:11] ananyo2012 commented on #541
We have a bunch of integration tests but very little unit tests. You can check https://github.com/pythonindia/junction/tree/master/tests/unit and add unit tests for the models. You can start with the Proposals and Conferences model.

[2020-06-19 13:50] angad277 commented on #590
Hello. Is this issue still open?

[2020-06-19 15:37] angad277 commented on #572
Hello, is this issue still open?

[2020-06-19 20:37] ananyo2012 opened #700 "Display filters for Proposal Types at top"
Presently all proposal types are shown together in the list of proposals. We should Keep filter buttons at the top of the Proposal list so that if anyone wants to filter as per proposal types it's readily available without scrolling. Like Talks and Workshops.

[2020-06-22 20:43] vipulgupta2048 opened #701 "Add blog URL to video feature help text"
https://github.com/pythonindia/junction/blob/db766c2d1730994a42484e357b23b9654622532e/junction/proposals/forms.py#L117

The help text could be,
`Short 1-3 min video describing your talk following the [best practices](https://in.pycon.org/blog/2020/2020-call-for-proposals-announcement.html)`

[2020-06-22 21:43] vipulgupta2048 opened #702 "Add Video best practices on Editorial page"
I feel it would be immensely helpful if the best practices to create a video is available right on the editorial page -https://in.pycon.org/cfp/2020/proposals/ since most proposal submitters don't give much attention to the blogs. Rather just go on to submit, after reading the editorial page.

We can take the content from - https://in.pycon.org/blog/2020/2020-call-for-proposals-announcement.html
A

[2020-06-26 17:07] anistark opened #703 "Image or Mathematical equation support in Markdown"
As requested by one of the speakers who submitted his proposal:

[code]

[2020-06-26 17:10] palnabarun commented on #703
You can add images like these: `![Alternate text](https://url.to/the/image)`

We don't have equation support right now, but this is something to think over. :+1:

[2020-06-28 06:43] anistark opened #704 "Markdown list render issue"
One of the speakers faced issue in rendering sub-lists in markdown for [his proposal][1].

While Editing:
![preview](https://user-images.githubusercontent.com/5357586/85940185-8641fc80-b938-11ea-8aae-71db7d0900ec.png)
Final Render as can be seen on [his proposal][1] page:
![home](https://user-images.githubusercontent.com/5357586/85940187-893ced00-b938-11ea-91b9-8d2e86c229ca.png)

[1]: https://in.p

[2020-06-28 19:40] sakshiseth commented on #700
Hello,
I am working on it.

[2020-06-30 16:37] pnijhara opened #705 "discussion: Found Some code quality issues found"
I have forked this repo and ran [DeepSource](https://deepsource.io) analysis on it. Found around 400+ issues which I think can be solvable. Some of them are cosmetic issues, antipatterns, bug-risks and performance issues. A detailed list is given below.

- 385 Antipatterns
- 22  bug-risk issues
- 28 Performance issues
- 1 security issue
Where some of them are autofixable by DeepSource auto-fix too

[2020-07-03 16:15] ananyo2012 opened #706 "Proposals need to be ordered by most recent timestamp"
The CFP page at https://in.pycon.org/cfp/2020/proposals/ need to ordered by most recent timestamp. This needs to be tested with the Production version of Database used, since order of posts differ across databases. The production DB uses Postgres 9.6

[2020-07-03 17:08] anistark opened #707 "Add first time speaker checkbox field in cfp form"
Reason: First time speakers can be identified easily and provided required mentorship for.

[2020-07-04 17:23] palnabarun commented on #706
What is the basis of the above inference that "order of posts differ across databases"? Are you trying to say it is yet to be tested? It looks like an inference from the statement.

[2020-07-06 04:47] ananyo2012 commented on #706
What I meant is the Dev setup uses sqlite so the order seen by using sqlite
may differ when the app is used with postgres.

On Sat, 4 Jul, 2020, 10:53 PM Nabarun Pal, <notifications@github.com> wrote:

[2020-07-06 05:11] ananyo2012 commented on #706
To be specific I was referring to this issue
https://code.djangoproject.com/ticket/19726 . I encountered a similar
situation while working on a separate issue. But I think this should not
effect the timestamp ordering.

On Mon, 6 Jul, 2020, 10:17 AM Ananya Maiti, <ananyoevo@gmail.com> wrote:

[2020-07-06 10:00] Bhupesh-V opened #708 "Add Issue Templates"
### Why
- Will help contributors be more specific while reporting issues (bugs/enhancements etc)
- Issue Labels can be automatically applied.
- Helps maintainers, better analyze issues (environment specific problems)

A Demo can be seen while opening a bug report at [black](https://github.com/psf/black/issues/new?assignees=&labels=bug&template=bug_report.md&title=)

![black](https://user-images.gi

[2020-07-06 10:38] Bhupesh-V opened #709 "Page Not Found while opening Dashboard"
### How to reproduce
1. Sign up at junction through GitHub.
2. Click on Username once logged In.
3. Click on Profile.
4. Now click on _Dashboard_ (**In navigation panel, on the left side**).
5. Demo below
![bug](https://user-images.githubusercontent.com/34342551/86584530-a5790380-bfa2-11ea-8e1d-3e16769d1068.png)

### Expected Behaviour
Currently the Dashboard link points to : [https://in.pycon.org

[2020-07-06 17:19] Sc0rpi0n101 commented on #707
Hi, I'd like to help with this.

Can someone tell me where should I update this, or it might take me some time to find it as I've not been through the codebase, and it's relatively large?

[2020-07-06 18:21] Sc0rpi0n101 commented on #708
So, black has multiple issue templates for different types of issues. Do you think we should also have multiple templates, or one general template?

[2020-07-06 18:28] sayanchowdhury commented on #707
@Sc0rpi0n101 Sure, this should be an easy fix. You can start with setting up the codebase, and then refer these PR #668 #698 #699

Instead of a CharField you would need to use the BooleanField.

[2020-07-06 19:21] abhishekmishragithub commented on #703
@anistark & @palnabarun I would like to work on this issue.

[2020-07-07 04:07] abhishekmishragithub commented on #707
I am already working on this.

[2020-07-07 04:23] Sc0rpi0n101 commented on #707
Ohh, okay then.

[2020-07-07 07:19] anistark commented on #703
@abhishekmishragithub  Please go ahead.

[2020-07-07 07:54] sayanchowdhury commented on #703
Look into [Mathjax](https://www.mathjax.org/). Check if there is integration with Django, and if yes, does it have an active upstream

[2020-07-07 08:25] anistark commented on #703
Simple Latex integration in Markdown would also work. No Django support needed.
Checkout: http://flennerhag.com/2017-01-14-latex/

[2020-07-07 11:06] Bhupesh-V commented on #708
Yes

- Bug Report
- Feature Request
- Question
- Say Thank you

the last 2 can be omitted if not necessary.

A PR template can be like this :point_down:

[code]

[2020-07-08 15:31] ananyo2012 commented on #709
Can you mention how did you end up at this link ? For me clicking Dashboard page pointed me to https://in.pycon.org/cfp/profiles/

[2020-07-09 22:26] Abdur-rahmaanJ opened #711 "Page Not Found while clicking on "PyCon India 2020""
When i click on this

![junction_error_1](https://user-images.githubusercontent.com/22630684/87096829-be104480-c254-11ea-8729-201b1975387f.png)

i get

![junction_error_2](https://user-images.githubusercontent.com/22630684/87096823-bbadea80-c254-11ea-84a0-63cdfca6e6a6.png)

[2020-07-13 02:38] Sc0rpi0n101 commented on #711
This should redirect to https://in.pycon.org/cfp/ instead of where it is redirecting now.

[2020-07-14 08:46] gutsytechster commented on #711
On investigation, I found that it happens because here https://github.com/pythonindia/junction/blob/master/junction/urls.py#L147, the URL is suffixed with `--`. I think this is accidental.
I'd be happy to create a PR to resolve this. :)

[2020-07-14 10:08] gutsytechster commented on #709
I can reproduce it. According to the steps provided in the issue description, I ended up on the same page.

[2020-07-14 10:41] gutsytechster commented on #706
@ananyo2012 Do you mean that the latest proposal should appear on the top irrespective of votes it has got?

[2020-07-16 18:18] ananyo2012 commented on #706
Yes the most recent proposal should appear at the top

[2020-07-26 17:26] anistark opened #713 "Add option to make slides private"
One of the speakers have raised concerns on making the slides private, visible to only the reviewers.

We should add a checkbox/toggle to make the slides private/public upon speaker's personal choice.

[2020-07-27 04:42] #711 closed

[2020-07-27 14:40] mrxsunil commented on #706
Hi Guys, is anyone currently working on this issue?

[2020-07-27 19:11] Vibhu-Agarwal opened #714 "Issues with voting on Proposals"
[**Watch the Screencast on YouTube**](https://youtu.be/ZEWDwkNuQaA)

I tried to upvote to check if it's possible to do it on our own submissions. Initially, the number of votes on it was 2.
- On clicking upvote, the number changed from 2 to 3, a bluish highlight on the up arrow. Works fine.
- My first instinct to remove my upvote was to click the downvote button, then it changed from 3 to 1. This

[2020-07-29 19:00] anistark opened #715 "Reviewer access control by proposal section and types"
Reviewers are segregated based on the proposal section they are assigned to, or type of sessions (Talks/Workshop) they're interested in. There's no access control right now to have reviewers one section view other sections.

Ex: A reviewer of Core Python should not be able to see the proposals of Game Design.

[2020-07-30 11:30] anistark commented on #701
We seem to have discussed something on this. @palnabarun Do you happen to remember what was discussed about this?

[2020-07-30 15:57] aniruddha2000 commented on #553
I would like to work on this issue

[2020-07-30 17:21] aniruddha2000 commented on #553
I wrote some code by reading the django documntation. But the test saying **python 2.7 tests are success** but **python 3.6 is failed**. @palnabarun can you review the code. Should I open a PR?

[2020-07-30 17:38] palnabarun commented on #553
@aniruddha2000 -- #650 was raised to solve this. Maybe you should have a look there?

[2020-07-31 21:07] palnabarun commented on #709
Are you sure about this? I couldn't reproduce it either locally or on `in.pycon.org/cfp`.

[2020-08-01 07:00] Bhupesh-V commented on #709
Yes
Once you open your "Edit Profile" option. Click on the Dashboard link

![fix](https://user-images.githubusercontent.com/34342551/89096232-be82a200-d3f2-11ea-88a4-686f7a1ac90f.png)

[2020-08-01 08:01] palnabarun commented on #701
@anistark I don't remember exactly what we discussed. But, my opinion is to put the Best Practices link at the top of the create proposal form.

Also, right now we have best practices on the wiki as well as the blog. I would prefer the content to be there in the wiki since the ref is mostly guaranteed to not change.

[2020-08-01 16:04] aniruddha2000 commented on #553
yes but in #650 the code that the guy wrote that for create a csv file as well as storing the data right? But storing data functionality is already done in the below section right?
https://github.com/pythonindia/junction/blob/e8cefd7910f807873a9f0d7650f6868ccffbeac0/junction/proposals/dashboard.py#L287
So I have to create a command that create a csv file and then it the above function will write i

[2020-08-02 14:44] aniruddha2000 commented on #553
@palnabarun so I called the function and run the django command and it is giving me error below

[code]

[2020-08-03 15:32] palnabarun commented on #553
**To anyone reading this after the https://github.com/pythonindia/junction/issues/553#issuecomment-602000342**

This `call the above-mentioned function` is not correct. A function has to be written which has a similar behavior and not use the above-mentioned function.

[2020-08-03 21:17] abhishekmishragithub commented on #707
Fixed in #710

[2020-08-03 21:17] #707 closed

[2020-08-05 15:58] #709 closed

[2020-08-05 16:29] #713 closed

[2020-08-06 16:20] aniruddha2000 commented on #590
@zerothabhishek you got the details ?? I would like to work on this.

[2020-08-09 17:33] palnabarun opened #720 "Draft proposals can still be viewed using the slug url"
## Current Behavior

Drafted talks are still viewable using the public URL

Ex: https://in.pycon.org/cfp/2020/proposals/draft-proposal-to-triage-bug~avK8b/

## Expected Behavior

Accessing any drafted proposal by anyone other than the proposer should return 404

[2020-08-09 17:58] #720 closed

[2020-08-14 04:40] avats-dev commented on #708
Is anyone working on this? I want to contribute.

[2020-08-14 04:46] avats-dev commented on #704
@palnabarun @anistark , I want to help, can you please guide me?

[2020-08-14 05:15] avats-dev commented on #703
You can follow this [answer](https://stackoverflow.com/questions/11256433/how-to-show-math-equations-in-general-githubs-markdownnot-githubs-blog) for workarounds to resolve this.

As images can be easily embedded in markdown, one can use services like http://www.sciweavers.org/free-online-latex-equation-editor or https://www.codecogs.com/latex/eqneditor.php or many others available to create image

[2020-08-14 05:24] anistark commented on #704
@avats-dev Thanks for stepping up.

Try to:
1. Setup the project and run in your local.
2. Try to reproduce the issue above.
3. Work on a fix and send a PR for your patch.

The problem is pretty straightforward. The sub-lists are not getting rendered for some reason on the html.
Might be a markdown issue or html css issue.

[2020-08-14 05:24] anistark commented on #703
Would you like to take this up as well @avats-dev ?

[2020-08-28 05:28] animenon opened #725 "Proposals page still shows "Accepting Proposals""
The [proposals page](https://in.pycon.org/cfp/2020/proposals/) still shows "accepting proposals".

Snip from the page:

![image](https://user-images.githubusercontent.com/6907950/91524599-38884700-e91d-11ea-9aa9-eccfad2eea3e.png)

Last date for submission was 20th Aug.

[2020-08-30 02:50] bkamapantula commented on #725
the page now reflects the deadline as _31 aug_.

[2020-09-01 14:17] #725 closed

[2020-10-06 21:24] #701 closed

[2020-12-10 20:31] inovizz commented on #614
What is the current state of this issue? Is there anything I can help here?

[2020-12-12 15:38] pradyunsg commented on #614
No movement since Jun, I think.

https://github.com/pythonindia/junction/pull/686
https://github.com/pythonindia/junction/pull/687
https://github.com/pythonindia/junction/pull/667

These seem relevant, though I imagine there's more stuff. :)

[2021-03-13 08:32] Skchoudhary opened #727 "Issue while setting up Junction on local system."
While following the Initial Setup steps mentioned at
https://in-junction.readthedocs.io/en/latest/development/getting-started.html#initial-setup
[code]

[2021-03-18 17:27] Skchoudhary commented on #727
Hi,
On further following the setup steps, found out that we are using Django1.9 for Junction
1. We can update the Django to version 3, will be a good thing to do.
2. We should also add compatible Python version in the setup docs. In Django 1.9 case it is Python 2.7, 3.4, or 3.5.

[2021-04-01 05:28] raukadah opened #730 "github login and password reset is broken on junction"
Below is the steps to reproduce:
1. Go to https://in.pycon.org/cfp/2021/proposals/
2. click on Login/Register
3. Sign in via github
4. Then it will throw following error page:
![Screenshot from 2021-04-01 10-43-01](https://user-images.githubusercontent.com/47899089/113247705-2c140480-92d9-11eb-850c-d2b5f505e0b9.png)

The same error pops up in password reset page also.

It needs to be fixed ASAP.

[2021-04-01 05:31] raukadah opened #731 "Improve Error page on Junction"
Currently if something is broken on junction. It just says "We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing." which is not meaningful.

Please specify a github repo issue url so that people can report the issue and also point them to zulip chat to report the errors.
Can we also place some automation to create github issues a

[2021-05-08 10:59] ibrahimsha23 commented on #708
@palnabarun  May i work on the issue? Do you have any suggestion on templates, please let me know?

[2021-05-27 20:02] dishantsethi opened #736 "[Enhancement] Delete self comments"
While submitting the proposal, I unintentionally commented twice(refer to the screenshot attached).
It would be a great enhancement if the users are given an option to delete their own comments only.

![Screenshot from 2021-05-28 01-24-45](https://user-images.githubusercontent.com/31399916/119889295-01020600-bf54-11eb-8ec7-98f5d1c995c0.png)

I will be raising a PR soon.

[2021-05-28 09:27] dishantsethi opened #738 "[Bug] Duplicate content URLs when written in markdown format"
I have added 2 content URLs in markdown format(refer screenshot)
![Screenshot from 2021-05-28 14-37-21](https://user-images.githubusercontent.com/31399916/119960209-5aa11980-bfc2-11eb-977b-e7c824596375.png)

Shortcut to content URLs in the 'My Proposals' section shows duplicate URLs (It consider [http://url][1]  [1]:http://url as 2 different URLs). Refer to screenshot for better understanding.
![S