[2014-12-14 12:45] sivaa opened #1 "Base Structure"
- Django Project & initial setup related stuffs

[2014-12-14 17:03] sivaa opened #2 "Use Markdown editors wherever applicable"

[2014-12-17 06:03] sivaa opened #3 "django-allauth implementation for authentication"

[2014-12-17 06:05] sivaa opened #4 "Proposals Create/Update/List/Delete"
#### Create new proposal

Consider the proposer is logged in, the page should display form containing fields like `title, description, target_audience,  prerequisites, content_urls, speaker_info, speaker_links, status`.

`title` is a text field, `description` is a markdown field, `target_audience` is a drop down list with the values `beginner, intermediate, advance`, `prerequisites, content urls,

[2014-12-17 06:05] sivaa opened #5 "Proposals List/Filters"
The list view of proposal page should have options to filter the proposals by Section (field - `proposal_section`) and Type (field - `proposal_type`)

[2014-12-17 06:07] sivaa opened #6 "Proposals - Voting Process"
- The detailed view of the proposal page should have up/down vote buttons
- The vote count should be displayed between up and down buttons
- Only authenticated user can vote for a proposal
- A `ProposalVote` record should be created when an user votes for the a specific proposal.
- If the user changes the vote later for the same proposal, the existing record should be updated(Ex: Up vote -> Down v

[2014-12-17 06:07] sivaa opened #7 "E-Mail Notification Base Framework"
- [x] Create/Update the email related settings(sendgrid base at this moment)
- [x] Create a utility module to handle all the email related stuffs. (Reference : https://github.com/pythonindia/pssi.org.in/blob/master/apps/common/emailer.py)
- [x] Create a base template for email content
- [x] Use celery for queuing the email requests

[2014-12-17 06:07] sivaa opened #8 "Proposals - Comments Implementation"
- The detail view of the proposal should be a comments section at the bottom
- Only authenticated users can comment on a specific proposal (Model - `ProposalComment`)
- Edit and remove options should be available for comment owners
- If it is removed, `deleted` flag should be set
- If the authenticated user is either a proposal author or reviewer(Model - `ConferenceProposalReviewer`),
  - Comments

[2014-12-17 06:08] sivaa opened #9 "Proposals - Voting for Comments"
- Each comment on the detailed view of the proposal page should have up/down vote buttons
- The vote count should be displayed between up and down buttons
- Only authenticated user can vote for a comments
- A `ProposalCommentVote` record should be created when an user votes for the a specific comment.
- If the user changes the vote later for the same comment, the existing record should be updated(

[2014-12-17 06:11] sivaa opened #10 "E-Mail Notification for Comments"
* The notification should to sent to the author of the proposal and reviewers.

[2014-12-17 06:11] sivaa opened #11 "E-Mail Notification for change in proposal status"

[2014-12-17 06:13] sivaa opened #12 "E-Mail Notification for changes in Conference data"
- If someone changes the data of a conference, an email notification should be sent to all the moderators with the records changed.
- At this moment, we are using Django admin page to manage `Conference` records. So the `ConferenceAdmin` class should be overridden.

[2014-12-17 08:16] vnbang2003 opened #13 "Create Logo and design base template."
Create Logo and design base template.

[2014-12-19 14:21] sivaa opened #14 "add ability to favorite a proposal"
- Autheticated users should able to mark proposals as their favorite in the detail page.
- All the marked proposals should be listed in a separate section called "My Favorites" in the proposal list(similar to "My Proposals")
- If there no favorite proposals, "My Proposals" shouldn't visible on the proposal list page
- The data should be stored in a separate model called "FavoriteProposal" with use

[2014-12-19 15:03] sivaa opened #15 "Create E-Mail and File base Logging Settings"

[2014-12-20 04:54] sivaa opened #17 "Create dummy required static pages"
- home
- speakers-static
- schedule-static
- venue-static
- sponsors-static
- blog-archive
- coc-static
- faq_static

[2014-12-20 04:56] sivaa opened #18 "Custom auth related templates"
Sample: https://github.com/pythonindia/pssi.org.in/tree/master/templates/account

[2014-12-20 05:14] sivaa opened #19 "Feedback Collection"

[2014-12-20 05:19] #11 closed, assigned to nobody

[2014-12-20 13:55] sivaa opened #22 "Blog Application"

[2014-12-23 17:30] #1 closed, assigned to sivaa

[2014-12-23 17:30] #3 closed, assigned to nobody

[2014-12-23 17:31] #17 closed, assigned to nobody

[2014-12-23 17:32] #15 closed, assigned to nobody

[2014-12-23 17:33] #4 closed, assigned to nobody

[2014-12-28 02:49] #6 closed, assigned to nobody

[2014-12-28 02:49] #18 closed, assigned to sivaa

[2014-12-28 02:50] #8 closed, assigned to nobody

[2014-12-28 02:50] #2 closed, assigned to sivaa

[2014-12-31 10:22] vnbang2003 opened #31 "Sponsorship Page"
add sponsorship page and section to display sponsor's.

The Tab on top of page should have sub tab as
1) Sponsors
2) Sponsorship prospectus
    a) Display prospectus details
    b) Downloadable pdf link
    c) Contact us form for any queries
3) Why Sponsor PyCon India
4) Sponsorship information page
      It should display details like stall size , banner and benefit in more details .
      It sho

[2014-12-31 12:05] vnbang2003 opened #32 "Registration setup"
We need to design registration page in such a way the user can click on individual workshop and conference they want to attend  and make it single transaction.

We need to make workshop tickets non refundable.

[2015-01-01 09:19] NabeelValapra commented on #9
I'm Working on this. If any one like to join me please look at my fork :)

[2015-01-05 15:09] #13 closed

[2015-01-05 17:11] sivaa opened #37 "breadcrumbs"
Example : Home -> Conference Name -> Proposals -> Proposal Name

[2015-01-05 17:12] sivaa opened #38 "Home Page description"
The lorem content should be replaced with the actual description on the home page.

[2015-01-05 17:14] sivaa opened #39 "Reviewer Section"
When a reviewer logged in, additional tab should be displayed with the review comments(Private comments).

[2015-01-05 17:50] kracekumar opened #40 "Conference page should display all the details about conference"
Conference proposal page should display all details like `description, date, proposal types, sections and their description`.

[2015-01-06 07:49] #37 closed

[2015-01-06 16:32] vigneshsarma commented on #39
## Reviewer Section Proposal.
- Conference has many reviewers to review proposals
- A reviewer is a normal user on the system.
- Reviewer section in each proposal.
  - should differentiate between reviewers comment and users comment.
- Private Comment
  - Visible to All reviewers on conference, the user who proposed.
- Make some one a reviewer
  - From admin page given Conference, reviewer.

## po

[2015-01-06 16:50] sivaa commented on #39
@vigneshsarma It looks good.

[2015-01-07 12:38] sivaa opened #43 "Documentation for junction"
- Creating a Conference
- Creating Conference Moderators
- Creating Conference Proposal Reviewers
- Creating Conference Sections
- Creating Conference Types
- Adding allauth tokens

[2015-01-08 13:06] theskumar commented on #43
@sivaa can we have a proper documentation using [mkddocs](http://www.mkdocs.org/) instead of having it all inside Readme.md to be sane and scaleable. Thoughts?

We can host the docs as proper readthedocs type website at http://pythonindia.github.io/junction if we want.

I can help setting up the initial pages.

[2015-01-08 14:09] sivaa commented on #43
@theskumar Sure. Its a good idea.

[2015-01-08 14:53] sivaa commented on #12
Not required for now.

[2015-01-08 14:53] #12 closed

[2015-01-08 16:54] #39 closed

[2015-01-08 16:55] sivaa opened #47 "Home page - UI redesign"

[2015-01-08 16:56] sivaa opened #48 "Proposal Pages(list/create/update/delete) - UI Redesign"

[2015-01-08 17:33] sivaa opened #49 "Proposal create should be allowed only if the conference status is "Accepting Call for Proposals""

[2015-01-08 18:42] kracekumar opened #50 "Display conference description below blue header"
Conference description should be displayed below blue header and above Proposal Section.
![screen shot 2015-01-09 at 12 11 03 am](https://cloud.githubusercontent.com/assets/311929/5668233/36111de8-9794-11e4-99c7-cf87f763ca60.png)

[2015-01-08 18:47] kracekumar opened #51 "Proposal Section and Proposal Type should be numbered."

[2015-01-09 13:53] sivaa opened #53 "Proposal Create/Update Page - Proposal section UI Issue"
![proposal create issue](https://cloud.githubusercontent.com/assets/2163422/5680581/0c223e3a-9835-11e4-945f-26e50434af50.PNG)

[2015-01-09 13:57] kracekumar commented on #53
This should be drop down not radio button.

On Fri, Jan 9, 2015 at 7:24 PM, Sivasubramaniam Arunachalam <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-01-09 14:14] sivaa opened #54 "Conference Slug should be editable in admin portal"

[2015-01-10 11:56] #40 closed

[2015-01-10 11:58] sivaa commented on #48
@theskumar It would be great, if you could combine #53 with this?

[2015-01-13 05:19] #54 closed

[2015-01-17 17:53] kracekumar opened #58 "Proposal Type and Proposal Section uses radio button"
![screen shot 2015-01-17 at 11 18 44 pm](https://cloud.githubusercontent.com/assets/311929/5789802/6ba0e4fe-9e9f-11e4-9a5e-afb97fd15af1.png)

UI is broken and aligned on left side. We should only use Drop down box, not radio button. This is needs to be fixed urgently since this can be potential blocker.

@sivaa @vigneshsarma @theskumar . We may need to highlight description of the heading on right

[2015-01-20 17:11] anandology opened #59 "No need to validate email on signup"
I've tried to register at junction.pybelgaum.org using my github account and it took me to [VERIFY YOUR E-MAIL ADDRESS](http://junction.pybelgaum.org/accounts/confirm-email/) page.

Since I'm logging in using github, it is possible to access my already confirmed email address from github. There is no need to send confirmation email.

The GitHub API for getting user email addresses of users is docu

[2015-01-20 19:12] #50 closed

[2015-01-20 19:21] kracekumar commented on #53
Same as https://github.com/pythonindia/junction/issues/58

[2015-01-20 19:21] #53 closed

[2015-01-20 19:23] kracekumar opened #61 "Redesign proposal detail page"
The content displayed in proposal detail page is cluttered. Needs better spacing alignment, it looks clumsy.

![screen shot 2015-01-21 at 12 53 19 am](https://cloud.githubusercontent.com/assets/311929/5824074/f44be956-a107-11e4-89bc-dc0621986ec6.png)

[2015-01-20 19:28] kracekumar commented on #9
Any updates ?

[2015-01-20 19:36] #51 closed

[2015-01-20 19:40] kracekumar opened #62 "All the proposals in the list page should be numbered."

[2015-01-20 19:40] kracekumar opened #63 "Proposal list page should contain information about Proposal Type and Section"

[2015-01-21 00:59] NabeelValapra commented on #9
This is done. But not with ajax.
On Wed, 21 Jan 2015 at 12:58 am Kracekumar Ramaraju <
notifications@github.com> wrote:

[2015-01-21 04:37] vnbang2003 opened #64 "On new talk submission email need to send to panel members"
We need to enable sending email on panel members for each talk submitted.
Email should contains Title, Category,  Link , Author bio info.

[2015-01-21 18:11] #62 closed

[2015-01-21 18:12] ChillarAnand opened #69 "refactor code as per PEP8 conventions"
current [max-line-length is 120](https://github.com/pythonindia/junction/blob/master/setup.cfg#L2).

As per [PEP8 all lines should be limited to 79](https://www.python.org/dev/peps/pep-0008/#maximum-line-length).

[2015-01-21 18:22] kracekumar commented on #9
We can live with this for v1, ajax can wait till next version. Closing this for now.

[2015-01-21 18:22] #9 closed

[2015-01-21 18:54] #63 closed

[2015-01-21 18:59] kracekumar opened #70 "Change order of Proposals list"
Currently, proposal order is same as creation order, this should be inverted. Latest one should come first.

[2015-01-21 19:08] #70 closed

[2015-01-21 19:10] kracekumar opened #71 "Add Proposed date in proposal list and detail page"
Currently Proposal Type, section, created by is displayed in list page. It is good to have date proposed in list page. Same applies to detail page.

Listurl: <conference>/proposals/
Detail: <conference>/proposals/<proposal-title>/

[2015-01-21 19:19] kracekumar opened #72 "Show proposals by type in list view."
Right now in list view all proposal sections are displayed together. We should display each section separately with proposals.

[2015-01-21 20:21] #49 closed

[2015-01-23 02:04] sivaa opened #73 "Proposal Author - Name display enhancements"
We need to decided whether to show the username or full name of the author in the proposal list and detail page. At present we are displaying the username in the list page and full name in the detail page. If the user doesn't have the full name, it is displayed as empty.

Can we show the full name at all the places including comments? If the full name is not available, we can show the username.

W

[2015-01-23 02:08] sivaa opened #74 "Proposal List - UI Enhancements"
* The "Proposal Type" and "Proposal Section" words can be removed and displayed like tags(Like Stack Overflow)
* It can be aligned to the left side.

![image](https://cloud.githubusercontent.com/assets/2163422/5868636/66415af2-a2d2-11e4-82bf-63d7df7a4e2e.png)

[2015-01-23 02:10] sivaa opened #75 "Voting Buttons - UI Enhancements"
The like and dis-like buttons can be replaced with up vote and down vote buttons. The vote count can be displayed in the middle.

![image](https://cloud.githubusercontent.com/assets/2163422/5868671/f16e7434-a2d2-11e4-922f-a8247bd82255.png)

![image](https://cloud.githubusercontent.com/assets/2163422/5868687/23b1a89e-a2d3-11e4-98c9-802010ec5d51.png)

[2015-01-23 02:13] sivaa opened #76 "Proposal Details Page - Voting Buttons should be shown for non-authenticated users"
The voting buttons and count can be displayed for non-authenticated users. If they click on the buttons, it can be redirected for authentication.

![image](https://cloud.githubusercontent.com/assets/2163422/5868703/534ff650-a2d3-11e4-9d8b-0f1bb3540787.png)

[2015-01-23 02:16] sivaa opened #77 "No navigation options from "Account Connections" Page"
Breadcrumbs might needs to be updated.

![image](https://cloud.githubusercontent.com/assets/2163422/5868741/e6b4c592-a2d3-11e4-9b67-df67109d2136.png)

[2015-01-24 03:29] #58 closed

[2015-01-24 06:44] #71 closed

[2015-01-24 07:25] ChillarAnand opened #81 "conference status not showing up in proposals list page"
![cs](https://cloud.githubusercontent.com/assets/4463796/5886495/2e754f42-a3c8-11e4-9890-328331b8760b.png)

[2015-01-26 18:44] kracekumar opened #84 "Proposal list page doesn't display as per #82"
[code]

@mudassir0909 looks like jquery isn't loaded.

[2015-01-26 18:51] #74 closed

[2015-01-27 19:02] kracekumar commented on #47
I think @mudassir0909 fixed. @theskumar Is there anything we need to update ?

[2015-01-27 19:05] kracekumar opened #85 "UI redesign for displaying comments"
Right now there is minimal work done on displaying the comments. UI work is needed to display the comments properly.

Also, Comment box size should be same as grid width.

[2015-01-28 05:10] pythonhacker opened #87 "Proposal creation page doesn't seem to show proposal type & proposal-section drop-down"
Do I need to create this data first in the DB ?  Can we create default data for this in DB ?

![screenshot-create proposal junction - mozilla firefox-1](https://cloud.githubusercontent.com/assets/316177/5932740/eace71e6-a6d9-11e4-842e-454e6e30b502.png)

Caveat: New to junction :)

[2015-01-28 05:17] pythonhacker commented on #87
Ok, figured I need to add this in Proposal types and Proposal sections via admin. However still would be nice to have "Workshops" and "Talks" as standard types in DB. Also nice to modify UI to say "You need to associate a proposal type" instead of showing blank.

[2015-01-28 05:22] pythonhacker opened #88 "Should be possible to associate a proposal to multiple sections"
The junction@pybelagaum shows a list drop-down, the latest github code shows a group of radio buttons. Neither allows to map one talk to > 1 section.

Can be fixed by making the proposal<->section relation a many-to-many mapping.

[2015-01-28 05:23] saurabh-fueled commented on #47
@sivaa @kracekumar The homepage looks good as of now, unless we want to add more widgets/info on it. New separate issue can be created for any added functionality.

[2015-01-28 05:24] theskumar commented on #47
@sivaa @kracekumar The homepage looks good as of now, unless we want to add more widgets/info on it. New separate issue can be created for any added functionality.

On Wednesday, Jan 28, 2015 at 10:53 am, Saurabh <notifications@github.com>, wrote:
@sivaa @kracekumar The homepage looks good as of now, unless we want to add more widgets/info on it. New separate issue can be created for any added fun

[2015-01-28 05:30] pythonhacker commented on #87
This is not very important, can wait.

[2015-01-28 06:02] kracekumar commented on #87
`./manage.py sample_data` should produce it, The  code is here https://github.com/pythonindia/junction/blob/master/junction/conferences/management/commands/sample_data.py

[2015-01-28 06:06] kracekumar commented on #87
+1 for UI message.

[2015-01-28 07:20] sivaa opened #89 "Don't display the E-Mail address of the commenter."
![image](https://cloud.githubusercontent.com/assets/2163422/5933846/26566cf2-a6ec-11e4-97cf-edcd6571a200.png)

http://junction.pybelgaum.org/pybelgaum/proposals/python-for-generating-network-anomalies/

[2015-01-28 07:21] kracekumar commented on #89
This should be top priority.

[2015-01-28 07:21] sivaa opened #90 "Create/Update Proposal & Comment - Mention that Markdown is supported."

[2015-01-28 07:24] sivaa opened #91 "Proposal Create/Update Page - Provide the link to the Guidelines"
Something like http://www.slideshare.net/aravindkrishnaswamy/pycon-india-2014-10-tips-for-speakers

[2015-01-28 07:26] sivaa opened #92 "Proposal By and Date - Enhancements"
![image](https://cloud.githubusercontent.com/assets/2163422/5933881/e2fa31cc-a6ec-11e4-9785-6ce6442a22ed.png)

Replace "By" Author(Proposal) and Remove the "date" or replace with something else like proposed date(Everyone knows that its a date. :) ).

Applicable to all the places(List/Detail) etc..

[2015-01-28 07:29] sivaa opened #93 "Proposal Detail - Too much white-space?"
![image](https://cloud.githubusercontent.com/assets/2163422/5933931/85c70cfe-a6ed-11e4-9b24-22c56f2fa796.png)

[2015-01-28 07:36] kracekumar commented on #91
official ones https://github.com/pythonindia/pyconindia/wiki/SpeakerTips

On Wed, Jan 28, 2015 at 12:54 PM, Sivasubramaniam Arunachalam <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-01-28 07:41] vnbang2003 commented on #91
We can create static page similar to https://us.pycon.org/2014/speaking/proposal_advice/

[2015-01-28 07:44] vnbang2003 commented on #89
We should not be display anyone contact information (Proposer, reviewer and commenter)

[2015-01-28 07:56] vnbang2003 opened #94 "Removed hardcoded redirect to home page(/) after login"
Right now we are redirecting user to home page(/) instead of redirecting them to page they came from .
We need to add next variable for login view to redirect to page from where user tried to login.

[2015-01-28 08:02] vnbang2003 opened #95 "Removed Hardcoded vote and comments number value when window size is small"
Looks like vote and comments number is hard coded when there window size is reduced.
Attached is screen shot for normal window and reduced window size.

![junction_comment](https://cloud.githubusercontent.com/assets/316253/5934198/bf859510-a6f1-11e4-98c1-a9b57f13ea3c.png)
![junction_comment](https://cloud.githubusercontent.com/assets/316253/5934205/dd08187e-a6f1-11e4-8e39-9ca2d720c61f.png)

[2015-01-28 08:29] sivaa commented on #95
It happens on the mobile version too.

[2015-01-28 15:20] ChillarAnand commented on #89
looks like it is his username not mail?

[2015-01-28 15:45] kracekumar commented on #89
Yes. Just checked that, he updated the name.

On Wed, Jan 28, 2015 at 8:50 PM, Anand Reddy Pandikunta <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-01-29 07:45] geetanjaligg commented on #93
![screenshot from 2015-01-29 13 13 23](https://cloud.githubusercontent.com/assets/1011202/5954093/ef794fc4-a7b8-11e4-8084-be399b1576de.png)

[2015-01-29 07:49] sivaa opened #99 "Tag based Filtering"
![image](https://cloud.githubusercontent.com/assets/2163422/5954129/43e5c90c-a7b9-11e4-9027-232313f8ee1f.png)

If we click on these tags, it should filter the appropriate proposal sections or proposal types.

[2015-01-29 09:21] #89 closed

[2015-01-29 15:57] ChillarAnand opened #100 "Form error messages are not showing up in login page."
When wrong username/password is entered or empty form is submitted, login page is not showing up any error messages.

[2015-01-29 18:05] #94 closed

[2015-01-31 09:05] #85 closed

[2015-01-31 09:06] #81 closed

[2015-01-31 09:06] #76 closed

[2015-01-31 09:06] #75 closed

[2015-01-31 09:07] #73 closed

[2015-01-31 09:07] #61 closed

[2015-01-31 14:09] sivaa opened #105 "Proposal Page - Voting Link - No Redirection"
- There is no redirection after clicking the upvote button(Not logged In -> Click on upvote -> Login redirection - This blank page appears)

![image](https://cloud.githubusercontent.com/assets/2163422/5988300/bc44f3fa-a980-11e4-824d-40711f6e1164.png)

[2015-01-31 14:10] sivaa opened #106 "Proposal Voting - Count Mismatch"
- Mismatch between list page and details page.
- In the detail page, the Vote count shows ZERO without login and shows as ONE after login.

![image](https://cloud.githubusercontent.com/assets/2163422/5988296/9f4e0ff2-a980-11e4-91d8-58e45b57db47.png)

![image](https://cloud.githubusercontent.com/assets/2163422/5988305/f8d2d01c-a980-11e4-9a3f-a7af0a0505bd.png)

[2015-01-31 14:14] sivaa opened #107 "Submitted By - Icons instead of label"
These can be replaced with icons like human and calender.
![image](https://cloud.githubusercontent.com/assets/2163422/5988312/2cb7f60a-a981-11e4-81f7-a8aeb0c7a4db.png)

[2015-01-31 14:18] sivaa commented on #107
For comments too.
![image](https://cloud.githubusercontent.com/assets/2163422/5988340/282d401c-a982-11e4-940e-7112a0b04f54.png)

[2015-01-31 14:20] sivaa opened #108 "Proposal Detail - Voting - Highlighting"
I have voted for this proposal. But it is not highlighted.

![image](https://cloud.githubusercontent.com/assets/2163422/5988344/57322e90-a982-11e4-8a73-238dc4a9a1ed.png)

[2015-01-31 14:22] sivaa commented on #107
List page as well.
![image](https://cloud.githubusercontent.com/assets/2163422/5988349/9bb28812-a982-11e4-952b-f13a5662c796.png)

[2015-01-31 14:23] sivaa opened #109 "Sign In - Remember Me - Too much white space"
It is more visible in the mobile site.

![image](https://cloud.githubusercontent.com/assets/2163422/5988366/d61bda4e-a982-11e4-931f-035f2c96ca67.png)

[2015-01-31 14:25] sivaa opened #110 "Home Page - Clicking on "Conferences" has no effect"
It should move to the conferences list(bottom).

![image](https://cloud.githubusercontent.com/assets/2163422/5988370/0aa4d43c-a983-11e4-9213-dbe087f7395c.png)

[2015-01-31 14:28] sivaa opened #111 "Proposal Detail - HTML Page title should have the proposal title also"
![image](https://cloud.githubusercontent.com/assets/2163422/5988376/60100a90-a983-11e4-8fa0-840fe7e4c7a3.png)

[2015-01-31 14:35] sivaa opened #112 "Proposal Detail - Comments by Reviewers should be displayed only for Proposal Reviewers"
I am not a proposal reviewer. But this tab is displayed.

![image](https://cloud.githubusercontent.com/assets/2163422/5988399/77fef4c6-a984-11e4-8616-45cf1ce863b1.png)

[2015-01-31 15:08] kracekumar commented on #112
This seems to be very important permission leak.

[2015-01-31 15:11] kracekumar commented on #106
Fixed in https://github.com/pythonindia/junction/commit/ccae762499b8820f0568d5d6ac5aae7a1ed1d3c6

[2015-01-31 15:11] #106 closed

[2015-01-31 15:47] #38 closed

[2015-01-31 15:49] #92 closed

[2015-01-31 15:50] sivaa commented on #92
Duplicate of #107

[2015-01-31 16:18] sivaa commented on #93
This issue seems to be fixed already.
![image](https://cloud.githubusercontent.com/assets/2163422/5988728/d0a29048-a992-11e4-9e19-17dcb676f8e4.png)

[2015-01-31 16:27] sivaa opened #113 "Displaying Full Name with Username - Enhancements"
It will look better if we have "By: Full Name (~username)". If the full name is not available, we just show the username like "By: ~username

![image](https://cloud.githubusercontent.com/assets/2163422/5988760/fc7c1472-a993-11e4-9917-32eb7737744c.png)

[2015-01-31 16:30] sivaa opened #114 "Conference Description can be a markup field"
At least, It will enable to have hyperlinks.

![image](https://cloud.githubusercontent.com/assets/2163422/5988769/6f9273a2-a994-11e4-9389-0a35c750cd4f.png)

[2015-01-31 18:33] mudassir0909 commented on #93
The whitespace had content in white color which is fixed right now

[2015-01-31 18:33] #93 closed

[2015-01-31 18:36] mudassir0909 commented on #108
@kracekumar Let me know when the active class is added, so that I can style

[2015-01-31 18:47] kracekumar commented on #108
It is done.

[2015-01-31 18:57] #112 closed

[2015-02-01 10:55] sivaa opened #116 "Proposal List - Proposals with "Draft/Cancelled" status should not be displayed"
- Proposal List - Proposals with "Draft/Cancelled" status should not be displayed
- Proposal List - It can have another section called "My Proposals" and displays all the proposals by the logged in user. It should also have the proposal status as a tag.

[2015-02-01 10:57] sivaa opened #117 "Proposal Detail - Status should be displayed only for the proposal author"
- It shouldn't be displayed for public user
![image](https://cloud.githubusercontent.com/assets/2163422/5991848/23350b1e-aa2f-11e4-9d43-bde63b15b0f7.png)

[2015-02-01 11:10] #117 closed

[2015-02-01 11:11] #116 closed

[2015-02-01 11:11] #113 closed

[2015-02-01 11:32] #114 closed

[2015-02-01 14:13] #100 closed

[2015-02-01 14:31] #47 closed

[2015-02-01 15:05] #110 closed

[2015-02-01 16:40] theskumar commented on #105
This seems to fixed in the latest dev build. Not able to reproduce.

[2015-02-01 16:55] #111 closed

[2015-02-01 18:35] theskumar commented on #59
Keeping this low priority, because of the following reasons:

1. Email verification is applicable to all services, and making an exception for Github requires substantial refactoring/adding code to this project.
2. The thirty-party auth is handled by django-auth[1], maybe it will be in best interest to open a PR in the library instead of hacking into it.

That said, it definitely has definitely a

[2015-02-01 18:45] theskumar commented on #99
Should we go with javascript or server-side solution.

[2015-02-01 18:46] sivaa commented on #99
@theskumar Server side should be simple enough.

[2015-02-01 18:47] theskumar commented on #99
Yeah. Thought so as we don't have a json api based interface and things are rendered server side.

[2015-02-01 19:07] #107 closed

[2015-02-01 19:59] #99 closed

[2015-02-01 19:59] theskumar commented on #95
This has been fixed now.

[2015-02-01 19:59] #95 closed

[2015-02-04 05:13] vnbang2003 opened #122 "When we add CFP link in FB/twitter is show info about junction instead of CFP info"
When we add CFP link( like pybelgaum http://junction.pybelgaum.org/pybelgaum/proposals/) in Facebook it show information about junction software in place of conference page.(Attached screen shot from facebook).
This is not give right impression about the CFP as it looks from outside advertisement from junction software.
This need to be fixed ASAP.
![junction_bug_onfb](https://cloud.githubuserconte

[2015-02-05 13:34] bhanuvrat commented on #64
emails are to be sent synchronously? I don't see celery / gevent around.

[2015-02-05 13:36] sivaa commented on #64
@bhanuvrat Yes. At this moment. It would be nice you if you can add the async support for this(if you have some bandwidth).

[2015-02-05 13:49] bhanuvrat commented on #64
@sivaa okay. let me see.

[2015-02-05 13:55] bhanuvrat commented on #64
celery would be fine?

[2015-02-05 14:41] bhanuvrat opened #123 "add support for asynchronous task queues"
configure celery to run with redis as backend.
in order to help with background jobs like sending notification / bulk emails.

[2015-02-05 14:45] bhanuvrat opened #124 "development environment setup"
isolated development environment setup woud be a lot of help IMO.
Shall docker be used for the same?

[2015-02-05 14:47] bhanuvrat opened #125 "deployment scripts"
how is the project currently being deployed in production?
would ansible based deployment script help in the process?

[2015-02-05 15:14] theskumar commented on #125
We are planning to have one instance of this auto deployed on heroku from our .travis ci from `master` for QA purposes.

@kracekumar can fill you in more what's that the plan for production setup. In my view, an ansible script for ubuntu based server should be a good way to go.

[2015-02-05 15:16] theskumar commented on #124
Yes. +1 for `docker` based setup for local development. If we can use `fig` or something like that?

[2015-02-05 16:10] kracekumar commented on #125
@vigneshsarma Has some plans, he'll shed light into this.

[2015-02-05 16:16] vigneshsarma commented on #125
I am planing to use saltstack <http://saltstack.com/>.

We will have to use it as part of some other setup(Along with other
applications) as well as an independent deployment. I am figuring out how
best to do that.

Other suggestion are welcome!!!

On Thu, Feb 5, 2015 at 9:40 PM, Kracekumar Ramaraju <
notifications@github.com> wrote:

[2015-02-05 17:42] sivaa commented on #123
+1. We should do this in next milestone.

[2015-02-05 17:54] bhanuvrat commented on #125
@vigneshsarma saltstack is supercool.
IMO ansible would be easier and simpler, for a relatively small application like junction.
Thoughts?

[2015-02-05 18:38] sivaa commented on #105
@kracekumar Can you test this and close it?

[2015-02-05 20:36] #122 closed

[2015-02-05 20:48] kracekumar commented on #122
New look in list page

![screen shot 2015-02-06 at 2 15 31 am](https://cloud.githubusercontent.com/assets/311929/6068922/2906e63c-ada6-11e4-909d-a5ae1522fecb.png)

New look in detail page
![screen shot 2015-02-06 at 2 17 17 am](https://cloud.githubusercontent.com/assets/311929/6068945/53b0a8b4-ada6-11e4-9730-9a07e94effd0.png)

[2015-02-06 01:35] sivaa commented on #72
@kracekumar We are already having filters right?

[2015-02-06 06:52] vigneshsarma commented on #125
@bhanuvrat I have tried Ansible, and agree with you that it is easier to setup than saltstack.

But we are planning to automate the whole pssi/pycon india infrastructure, Junction is just one piece of the puzzle. It is in this context that I think saltstack might be a better choice.

[2015-02-06 07:23] theskumar commented on #22
Is the blog application conference wise or just for the junction project itself?

If the blog is for junction project, can we have it as an independent application using third bloggin solution, maybe tumblr or svbtle. Just a random thought.

[2015-02-06 07:23] theskumar commented on #123
https://github.com/pythonindia/junction/issues/7 is related i guess.

[2015-02-06 07:50] theskumar commented on #69
120 is a relaxed limit on line-length as 80 is too short with access to bigger screen now-a-days. Github diff viewing is wrapped at ~120chars [1][2]

[1] https://stackoverflow.com/questions/22207920/what-is-githubs-character-limit-or-line-length-for-viewing-files-on-github
[2] https://stackoverflow.com/questions/22207920/what-is-githubs-character-limit-or-line-length-for-viewing-files-on-github#co

[2015-02-06 07:50] #69 closed

[2015-02-06 07:56] theskumar opened #128 "bug: datatable is not a defined function"
on http://junction.pybelgaum.org/pybelgaum/proposals/
![screen](https://www.dropbox.com/s/uxjidu918a9mi0n/Screenshot%202015-02-06%2013.24.34.png?dl=1)

[2015-02-06 09:31] sivaa commented on #69
We use 140 characters at work(just because we have slightly high resolution monitors/laptops).

[2015-02-06 09:48] sivaa commented on #22
@theskumar Currently, this project is being implemented only for managing proposals. In near future, we might think about displaying the static data related to the entire conference. We can generate these static pages using some populated data from DB(Ex: Sponsorships). At that point we might need a blogging application.

@vnbang2003  @kracekumar any thoughts?

[2015-02-06 13:54] bhanuvrat commented on #124
https://github.com/pythonindia/junction/pull/129

[2015-02-07 10:45] theskumar opened #130 "add google analytics intergration"
If `GOOGLE_ANALTICS_ID` environment variable is set, google tracker code should be added to `base.html`

[2015-02-07 10:54] kracekumar commented on #130
+1

On Sat, Feb 7, 2015 at 4:15 PM, Saurabh Kumar <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-02-07 14:56] theskumar commented on #130
You can review and close the pull request :point_up:

[2015-02-07 15:37] #130 closed

[2015-02-07 16:04] #109 closed

[2015-02-07 17:02] #108 closed

[2015-02-07 19:07] theskumar opened #133 "Release 0.2.0"
**Goal**:
- make reviewer's section functional.
- polishing of UI elements.

Changeset: https://github.com/pythonindia/junction/compare/0.1.0...master

---

__Added__
- [x] add support for fig based development environment (#129)
- [x] django admin got a new theme based on django-flat-theme
- [x] setup social sharing on proposal detail pages (#185)
- [x] add `SITE_URL` settings to support path bas

[2015-02-07 19:10] theskumar commented on #48
Closing this issue. As major functional things for it is done. We add the improvements and fixes as new issues.

[2015-02-07 19:10] #48 closed

[2015-02-08 05:22] theskumar commented on #14
@sivaa can we description add to it, please?

[2015-02-08 05:26] theskumar commented on #10
@vigneshsarma @kracekumar what is the status of this issue. PR #60 seems to implement this feature. If functionality is working we can add todo's from PR as issues to be tracked and close this major issue.

[2015-02-08 05:31] theskumar commented on #5
This has been implemented via the `tag` links in proposal list view. Do we need/want any additional UI for this? If not, can we close this issue @sivaa @kracekumar ?

[2015-02-08 06:16] kracekumar commented on #5
Yes we have tags, so this isn't needed.

On Sun, Feb 8, 2015 at 11:01 AM, Saurabh Kumar <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-02-08 06:17] theskumar commented on #5
awesome! closing this issue now.

[2015-02-08 06:17] #5 closed

[2015-02-08 07:23] theskumar commented on #43
I've added the initial documentation setup here: https://github.com/pythonindia/junction/commit/6da6e9fd5c695eccb7c173fb0a6d049f6b4b772d

Available at https://pythonindia.github.io/junction/ . updated by running `mkdocs gh-deploy` command.

[2015-02-08 08:54] kracekumar opened #134 "Add one line help text about in proposal create form"
In proposal create form, we have list of fields. Fields like `Content urls` say `Link to your presentation link/github repo` etc ...

[2015-02-08 09:03] #77 closed

[2015-02-08 10:11] vigneshsarma commented on #10
Yes, this is indeed done in #60. So closing this issue.

[2015-02-08 10:11] #10 closed

[2015-02-08 15:47] sivaa commented on #5
@theskumar @kracekumar Yep. But, not sure if all the users know that they can able to click on the tags. It would be nice if we can multi level filter options with the proposal type/section/target audience. I will create a separate issue for this.

[2015-02-08 15:50] sivaa opened #136 "Proposal Lists - Most recent entry should be listed first"
![image](https://cloud.githubusercontent.com/assets/2163422/6097157/3722010a-afd8-11e4-97d1-b783f47e50a4.png)

[2015-02-08 15:50] theskumar commented on #5
cool!

[2015-02-08 15:53] #90 closed

[2015-02-08 15:54] #134 closed

[2015-02-08 16:02] sivaa commented on #14
@theskumar updated.

[2015-02-08 16:07] sivaa opened #137 "Proposal Comments - Up/Down Vote Button should be highligted"
The fix could be much similar to proposal detail page vote button fix.

![image](https://cloud.githubusercontent.com/assets/2163422/6097220/7431ad3c-afda-11e4-96b6-42c98fe74d19.png)

[2015-02-08 16:10] sivaa opened #138 "Proposal Detail - Section Headings should be higglighted"
It would be nice if we have some additional highlighting with different font, color, bold text, separators, more spaces etc...
![image](https://cloud.githubusercontent.com/assets/2163422/6097227/e7944a32-afda-11e4-9864-a38227bc9b9f.png)

[2015-02-08 16:22] sivaa opened #139 "allow custom user-defined proposal tags"
Currently there is no way for the proposal author to define the custom tags. For example, if someone proposes a talk called "Performance Tuning in Django ORM", the  possible tags could be django, performance etc...
# Persistence
- TagMaster(Tag Name with Audit Fields)
- Proposal Tags(proposal and tag FKs)
# Usage
- The tags should have auto-complete feature
- If the tag is not found, it should hav

[2015-02-08 16:25] sivaa opened #140 "Proposal List - Markdown Syntax"
We can't allow the markdown syntax or rendering on the proposal list page.

![image](https://cloud.githubusercontent.com/assets/2163422/6097258/1058138e-afdd-11e4-8fa4-4426368b7436.png)

@kracekumar @theskumar Any ideas? Can we remove just the syntax?

[2015-02-08 16:32] sivaa opened #141 "Proposal List - Multi-Level Filtering"
Users should have option to perform the multilevel filtering with more than one options from
- Proposal Type
- Proposal Section
- Target Audience

Example: [Talks] & [Web Development, Core Python] & [Beginner & Intermediate]

- The filtering options with the drop down should be at the top in a single row.
- The selected options should be listed below the above row with [x] link to remove them

[2015-02-08 16:40] theskumar commented on #140
Convert to html and then do strip tags!

[2015-02-08 16:42] theskumar commented on #140
But doesn't help with `Objective` and `Description`. We can ask for the `brief_description` explicitly. Thoughts?

[2015-02-08 16:45] sivaa commented on #140
+1 for separate field(Objective or Summary) with ~200 chars maximum without mark down support.

[2015-02-08 16:47] theskumar commented on #137
This will a huge number of database calls, if there many comments for a proposal. Either we paginate the comments or add some sort of caching to maintain the sanity.

Caching per user is going to be little costly business.

[2015-02-08 16:51] theskumar commented on #140
Having a summary as a char limited field also helps in populating a neat `<meta>` for description that will be used by google, facebook, etc.

[2015-02-08 17:41] kracekumar commented on #140
-1 for asking user to enter one more form field. Convert markdown to html
or strip tags or use html2text to populate.

On Sun, Feb 8, 2015 at 10:21 PM, Saurabh Kumar <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-02-10 08:14] theskumar opened #142 "handle ajax voting for non-athenticated user"
Right now the ajax upvoting is not handled properly for not logged in user. If a user tries to upvote and is not logged he should be redirected to login with proper `?next` url.

[2015-02-11 17:43] sivaa opened #143 "Proposal Detail - Reviewer Section is not working"
The user with reviewer is not able to perform any actions on this tab.

![image](https://cloud.githubusercontent.com/assets/2163422/6152490/98f7b678-b243-11e4-9428-e5d5db865eca.png)

[2015-02-11 18:07] sivaa opened #144 "Proposal Reviewing - Enhancements"
- The Conference Proposal Reviewers (Model - `ConferenceProposalReviewer`) can able to comment/vote on any proposals under any section for the entire conference.
- Since we sending the email notifications to all the Conference Proposal Reviewers whenever a proposal is created, commented(by public and other reviewers). It is not so cool since it will dump lot of notifications messages(especially fr

[2015-02-12 05:57] vnbang2003 opened #145 "Show content upload status on proposal list page."
On proposal listing page we need to display if proposal has content link update.
In case content is not updated show them in different color.
If possible add functionality where reviewer can send reminder to submitter that content is not uploaded yet.

[2015-02-12 09:35] pythonhacker opened #146 "Links not showing up as links on proposal page"
E.g: http://junction.pybelgaum.org/pybelgaum/proposals/build-restful-web-services-with-pecan-and-wsme/ . Look under __Content URLs__ .

Not sure if this is a problem with the system or with the wrong markdown the submitter used.

If this is a duplicate issue, pls. ignore.

[2015-02-12 16:19] #64 closed

[2015-02-13 20:01] #124 closed

[2015-02-13 20:06] theskumar commented on #140
I've added striping of markdown syntax in #148. :point_up: works by converting to html and then using built in `striptag` template filter.

@sivaa you can review and close this PR.

[2015-02-13 20:18] theskumar commented on #142
Closed in https://github.com/pythonindia/junction/commit/fb831d0b5458fa8a565a1f04061e5a51caa5ff62

[2015-02-13 20:18] #142 closed

[2015-02-13 20:31] theskumar commented on #146
This was due to difference in preview compiler (JS based) and actual python markdown convertor.

Adding in autolinking extension to markdown compiler to fix this.

[2015-02-13 20:33] #146 closed

[2015-02-13 20:38] theskumar commented on #123
This is closed in https://github.com/pythonindia/junction/pull/129

[2015-02-13 20:38] #123 closed

[2015-02-14 04:21] theskumar opened #149 "UI: remove 'description' from page proposals list"
The description of the proposals on the list page makes the UI cluttered without much of the benefit. The description field is markdown sensitive, so conversion of markdown -> text can have weird output like (ref: #140, #148)

For
[code]
output will be `Goals learn basics of python hands on tutorial`.

![a](https://www.dropbox.com/s/217qn4khqbdsc3f/Screenshot%202015-02-14%2009.43.55.png?dl=1)

vs

[2015-02-14 04:26] theskumar commented on #140
Refer to #149, what if just remove the description field. Going through the list of pyBelgaum junction... it didn't made any sense to keep it.

[2015-02-14 14:12] sivaa commented on #149
+1 for removing(Sine we are not providing object field too).

[2015-02-14 16:28] mudassir0909 commented on #149
I'd say let's not display description in the list. If we really need to display description we can display an icon which displays the description on hover http://getbootstrap.com/javascript/#popovers

I can submit a PR now for that

[2015-02-14 16:33] mudassir0909 commented on #149
Something like this

![screen shot 2015-02-14 at 9 59 06 pm](https://cloud.githubusercontent.com/assets/1861842/6200228/af072c3e-b494-11e4-9f0a-6a7dd2fea021.png)

[2015-02-14 16:46] sivaa commented on #149
@mudassir0909 +1

[2015-02-15 05:03] sivaa commented on #144
@ChillarAnand is working on this.

[2015-02-15 16:10] theskumar commented on #149
@mudassir0909 @sivaa sounds good to me. Let's remove the description. The popover can be delayed, would be nice to have. :+1:

[2015-02-15 16:13] theskumar commented on #143
@sivaa if this is fixed, can we close this issue?

[2015-02-15 16:23] sivaa commented on #143
@theskumar Yep.

[2015-02-15 16:23] #143 closed

[2015-02-15 16:25] sivaa commented on #149
@theskumar Yep. We can remove it for this issue. We can create a separate issue for pop-over.

[2015-02-16 04:01] #149 closed

[2015-02-16 04:04] theskumar commented on #140
not required as 'description' is removed from the proposal list. see #149

[2015-02-16 04:04] #140 closed

[2015-02-16 04:09] theskumar commented on #139
+1 for this feature.

It seems this issue is related: https://github.com/pythonindia/junction/issues/88 and should be considered as well.

[2015-02-16 04:14] theskumar commented on #145
Is it for tracking if content link is provided by the proposer or not, or something.

If the we just want to track yes/no, then the implementation is just matter of checkin the `content_link` for emptyness and displaying the indicative UI, else i'm not sure of a tracking intermediate state of the content link.

[2015-02-16 04:19] theskumar commented on #105
This has been fixed in https://github.com/pythonindia/junction/issues/142. Closing this issue.

[2015-02-16 04:19] #105 closed

[2015-02-16 04:44] theskumar commented on #14
@sivaa Why not have it as a subscribe feature. Similar to the way you can subscribe to any issue on github. The UI can live next to proposal meta in the detail view. ![a](https://www.dropbox.com/s/68qck1s9pyztzs9/Screenshot%202015-02-16%2010.09.34.png?dl=1)

We can use https://github.com/justquick/django-activity-stream to provide notifications for all subscribed proposals + other things.

If you

[2015-02-16 05:20] sivaa commented on #14
@theskumar Yep. This idea looks cool than the classical favorite options. @kracekumar Any suggestions?

[2015-02-16 13:13] vnbang2003 opened #150 "Proposal List - Display the status of the proposal"
We need to display the status of the proposal in list page to understand the status of the talk.
If possible provide filter which will help user to see easily talk with different status.

[2015-02-16 13:20] vnbang2003 commented on #145
We need to check if content has some value so reviewer and other can go to particular link and read proposal.

[2015-02-17 03:17] theskumar commented on #145
Thanks. I think that make sense. Do we want it from everyone or just for the reviewers?

[2015-02-17 03:22] theskumar commented on #150
Question: Do we want this for everyone or just for the reviewer?

We can have along side the different `tags` displayed in proposal list. Filtered by clicking on the link.

[2015-02-17 14:00] sivaa commented on #144
@kracekumar @theskumar If you have some band-width, Can you please review this and provide comments? Once this PR is merged, we can start work on UI side and other features.

[2015-02-17 14:02] sivaa opened #152 "Proposal List - Selected Proposals"
All the proposals with reviewer_status = "selected" should be listed under list called "Selected Proposals" similar to "My Proposals"

[2015-02-18 05:18] vnbang2003 commented on #150
I think it's fine to show to all.
if you see pybelgaum conference  we are not able to understand confirmed talk at all.

http://junction.pybelgaum.org/pybelgaum/proposals/?proposal_type=3

[2015-02-18 05:19] theskumar commented on #150
Understood. I'll take a stab at it.

[2015-02-18 15:40] #152 closed

[2015-02-19 05:13] kracekumar commented on #144
Haven't gotten time to look into it. Will do it today. @sivaa

[2015-02-20 11:35] kracekumar commented on #144
Looks good to me.

[2015-02-20 11:40] kracekumar commented on #14
Looks good. But we will end up sending lot of emails. These notification should be carefully crafted because reviewers comments shouldn't be emailed to subcribers :-). This can hold on for a bit. I think we can have this in next milestone ?

[2015-02-20 15:09] ChillarAnand opened #153 "edit proposal view - post request is throwing 405 error"
Just tried to edit a proposal on http://junction.pybelgaum.org, it throwed 405 error?

[2015-02-20 16:25] #153 closed

[2015-02-21 07:53] bhanuvrat commented on #128
@theskumar DataTable's js library is not referenced hence the error.
btw, I don't see why DataTable is needed on this page ... how and where is it being used?

[2015-02-21 07:55] theskumar commented on #128
It seems it just need to be checked and removed. I don't it being used anywhere.

Saurabh Kumar

https://keybase.io/theskumar

On Saturday, Feb 21, 2015 at 1:23 pm, Anuvrat Parashar <notifications@github.com>, wrote:
@theskumar DataTable's js library is not referenced hence the error.
btw, I don't see why DataTable is needed on this page ... how and where is it being used?

—
Reply to this email d

[2015-02-21 09:14] ChillarAnand opened #155 "ui enhancements"
decrease vote+comment size  in list proposals.
![pro](https://cloud.githubusercontent.com/assets/4463796/6313541/afaa6e10-b9d7-11e4-84d9-e2843084857d.png)

fix footer in the bottom
![foo](https://cloud.githubusercontent.com/assets/4463796/6313535/6c7ce91a-b9d7-11e4-9aa3-93c55db49351.png)

[2015-02-21 12:26] ChillarAnand opened #156 "filter proposals in list proposals page"
filter proposals  properly in list proposals page. for example `my proposals` shoudn't be shown in `list of proposals`
![ll](https://cloud.githubusercontent.com/assets/4463796/6313546/e73d1422-b9d7-11e4-9e1f-5ab678f937b0.png)

[2015-02-21 15:40] #144 closed

[2015-02-21 17:22] ChillarAnand opened #157 "make project name configurable"
right now in email messages & other places we are using project name as `junction`, instead we have to set in settings & get from there

[2015-02-21 17:29] ChillarAnand opened #158 "enable threaded commenting"
we need to provide threaded commenting so that readers/reviewers can reply to other comments & emails should be send accordingly.

[2015-02-21 17:47] vnbang2003 opened #159 "Add tweet on each proposal submission"
Once new proposal submission,  we can add tweet in conference twitter account.
This will help people to track what happening on submission.

[2015-02-22 00:30] sivaa opened #161 "Up Vote count and Comments counts are wrong in the smaller/mobile screens"
It looks like both are interchanged.
![image](https://cloud.githubusercontent.com/assets/2163422/6316703/0a67d6d2-ba58-11e4-9251-8306b9674745.png)

[2015-02-22 05:27] vnbang2003 opened #162 "Add custom admin action to proposals"
Define a custom admin action for proposal objects which trigger emails for
1) request to upload content.
2) Talk status change email on state change.

[2015-02-22 05:29] vnbang2003 opened #163 "Request reviewer to provide comments on state change"
When reviewer change the state, we should request him to provide comments on why he is changing the proposal state.
This will help to understand to conference chair on what happening and easier to reply to author in case reviewer team is not available to respond.

[2015-02-22 06:26] kracekumar opened #164 "Breadcrumb issue"
When `junction` is deployed on `foo.org/junction` bread crumb doesn't work. For example clicking on `Home` takes to `foo.org` rather than `foo.org/junction`.

[2015-02-23 09:20] bhanuvrat opened #165 "Unvote a proposal / comment."
Junction does let me change my mind and go back to not having an opinion about a proposal.
Say a proposal had x votes, now downvoting takes it to x-1 and upvoting takes it to x+1.
There is no way I can leave it at x, once I have voted.

[2015-02-23 12:53] ChillarAnand opened #166 "order proposals in proposal list display"
it is better to display the proposals based on number of votes or date proposed.

![screenshot from 2015-02-23 18 18 50](https://cloud.githubusercontent.com/assets/4463796/6328042/eb74e580-bb88-11e4-978c-1f53f66db366.png)

[2015-02-23 20:02] theskumar commented on #164
@kracekumar it's because the junction is designed to run under a fully qualified domain and not path based top-level. If it's not absolutely required, to have sub-path like `/junction/` I would prefer to deploy at it under a sub-domain.

[2015-02-23 20:07] kracekumar commented on #164
@theskumar Even I could deploy that but `in.pycon.org` is sub domain on `pycon.org`. There is no choice. So how to proceed ?

[2015-02-24 04:54] theskumar commented on #164
We have to get rid of `django.contrib.sites` and either use `django_sites` or use a hard coded `SITE_URL=https://in.pycon.org/junction/` like it's being done for wordpress and make use of it everywhere.

[2015-02-24 05:01] theskumar commented on #164
`SITE_URL` context variable seems  be quickest best solution with `{{ SITE_INFO.site_url }}{% url 'homepage' %}` replaced everywhere.

PS: This need to be maintained and checked for each PRs in future.

[2015-02-24 05:05] theskumar commented on #164
You also need to appropriately override the `STATIC_URL` and `MEDIA_URL`

[2015-02-24 05:19] kracekumar commented on #164
@vigneshsarma Any thoughts on it ?

[2015-02-24 05:22] theskumar commented on #164
I'll also trying to override the `django.templates.defaulttags.url` for it to support `SITE_URL` it's present to we don't have to make any change to `{% url ...` in templates.

[2015-02-24 05:28] kracekumar commented on #164
sure.

On Tue, Feb 24, 2015 at 10:52 AM, Saurabh Kumar <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-02-24 07:01] theskumar commented on #164
@kracekumar i've given it a try at https://github.com/pythonindia/junction/pull/167

It patches the `url` tag to make use of `SITE_URL`, which i think is fine.
I have also patched the `django.core.urlresolvers.reverse` to be on the safe side, I see it being used to models to get absolute urls.

You can set SITE_URL to be fully qualified url like `http://in.pycon.org/junction` or just a path `/junc

[2015-02-24 07:53] bhanuvrat commented on #141
@sivaa how do you see this thing being accomplished?
 - updating the list proposals view https://github.com/pythonindia/junction/blob/master/junction/proposals/views.py#L42
 - alternate api?
 - on the frontend alone?

[2015-02-24 10:46] bhanuvrat commented on #157
@ChillarAnand
Has this issue been fixed? I couldn't locate a template which has 'junction hardcoded into it' could you share a screen shot of the mail you recieved?

[2015-02-24 11:08] ChillarAnand commented on #157
not yet.

couple of locations:

[base template](https://github.com/pythonindia/junction/blob/master/junction/templates/base.html#L89)
[email subject](https://github.com/pythonindia/junction/blob/master/settings/common.py#L92)

i am not sure if there are any other places to change.

[2015-02-24 13:21] sivaa commented on #141
@bhanuvrat We can start with updating the front-end alone.

[2015-02-24 14:28] bhanuvrat commented on #157
@ChillarAnand oh okay.
I was looking at the subject of the mail.

[2015-02-24 15:14] bhanuvrat commented on #157
@ChillarAnand there is already a site_name variable and a context processor which injects it in templates. Shall submit a push request soon.

[2015-02-24 17:22] bhanuvrat commented on #157
check out #168

[2015-02-24 17:38] bhanuvrat opened #169 "sample dataset"
The fixtures that come with the repo don't contain sample proposals and comments.
Some data would be helpful in understanding issues and also for testing whether things are getting screwed. How are you managing without it?

[2015-02-24 17:43] kracekumar commented on #169
+1 for enhancing it.

On Tue, Feb 24, 2015 at 11:08 PM, Anuvrat Parashar <notifications@github.com

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-02-24 18:59] kracekumar commented on #164
Sure. Will merge and if there are any issues will open one.

[2015-02-24 18:59] #164 closed

[2015-02-25 17:14] vnbang2003 commented on #159
@sivaa How time much do you think we need to get this feature ? I was thinking to get it by PyCon India 2015

[2015-02-26 09:38] vnbang2003 opened #170 "Proposals List/Filters"
The list view of proposal page should have options to filter the proposals by Section (field - proposal_section) and Type (field - proposal_type)

This is not working for selected proposals sections.

http://junction.pybelgaum.org/pybelgaum/proposals/?proposal_type=3

@theskumar : Can you look as i see you have fixed similar on https://github.com/pythonindia/junction/issues/5

[2015-02-26 12:39] sivaa commented on #159
@vnbang2003 It is in the list of top 4 items to be implemented. We will get it closed soon.

[2015-02-28 19:22] ChillarAnand opened #171 "Rest api for junction"
We need to create rest api for junction so that android app or any other service can use it.

[2015-03-03 03:50] vnbang2003 opened #172 "Change submissions closing based on Proposal Types."
We presently close submissions based on conference.
For PyCon India we will start with Workshop and Talks as proposal types as we near the conference dates we will have open space, Dev sprints and lighting talk proposal type to be opened.
Open space/lighting talk might not be reviewed but will help in tracking thing better.

[2015-03-04 15:00] #157 closed

[2015-03-05 07:43] vnbang2003 commented on #145
Everyone is fine.

[2015-03-05 07:46] vnbang2003 commented on #22
Is junction gone support dynamic subscription of sponsorship and other things in future ?
If not we might not need blog ?

[2015-03-05 07:47] vnbang2003 opened #175 "Registration setup"
We need to setup registration application using doattend or instamojo api with in junction.

[2015-03-05 07:52] kracekumar commented on #145
If the content links are missing just show content links are missing as a
message in the top only to reviewers.

On Thu, Mar 5, 2015 at 1:13 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-05 07:54] vnbang2003 commented on #145
I don't see harm in show to all . Any particular reason why only for reviewers ?

[2015-03-05 07:57] vnbang2003 commented on #91
@kracekumar @sivaa Can we get this feature asap before we open CFP for PyCon India 2015.

[2015-03-05 07:59] vnbang2003 commented on #128
@theskumar : if not able to duplicate. Can you please close the bug ?

[2015-03-05 08:00] #175 closed

[2015-03-05 08:11] kracekumar commented on #145
Viewer can't take any action with the message. Normally viewers want to
read the description, who the author is and links. Content url present or
not doesn't make any difference before conference,
it only makes sense after the conference is over.

On Thu, Mar 5, 2015 at 1:24 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-05 08:19] sivaa commented on #145
How about Proposal Completeness Progress bar?

[2015-03-05 08:26] kracekumar commented on #145
What are you trying to achieve by having this ? Whom it will help ?

On Thu, Mar 5, 2015 at 1:49 PM, Sivasubramaniam Arunachalam <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-05 09:29] kracekumar commented on #145
If you guys feel it is ok to have it, please go ahead

On Thu, Mar 5, 2015 at 1:56 PM, Kracekumar Ramaraju <me@kracekumar.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-05 10:36] sivaa commented on #145
Some use cases from my side. @vnbang2003 can add more.
- If the proposal is not complete(i.e. No content/description/pre-requistes/speaker-info) means, there is no point for the reviewer or normal user to open that proposal(till it is updated).

[2015-03-05 11:54] vnbang2003 commented on #145
@sivaa I even had same point.

[2015-03-05 12:19] kracekumar commented on #145
It doesn't make sense to submit a proposal without description, there
should be constraints in form and model to avoid this.
We also have draft option also, where proposer can avoid viewers to see
till the work is complete.

The only problem I am seeing is duplication of code and constraints at
various layers.

On Thu, Mar 5, 2015 at 5:24 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kra

[2015-03-05 12:28] sivaa commented on #145
@kracekumar The constraints are already in place. I meant the scenarios like <TO BE UPDATED SOON>.
Overall, how it needs to be implemented is still in pre-mature state. Its a nice to have, low priority feature.

[2015-03-05 12:31] kracekumar commented on #145
No, default value for description is empty string,
https://github.com/pythonindia/junction/blob/master/junction/proposals/models.py#L75
.

On Thu, Mar 5, 2015 at 5:58 PM, Sivasubramaniam Arunachalam <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-05 12:32] kracekumar commented on #145
It makes sense to have indications for reviewers.

On Thu, Mar 5, 2015 at 5:49 PM, Kracekumar Ramaraju <me@kracekumar.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-06 04:54] sivaa opened #176 "Reviewer - Intermediate State for each step in review"
- Currently we have only review_status. It is used to choose the final decision
- We need to have reviewing_step field where review can update what step they are currently in(Waiting for content, Speaker not reachable, Requested more details for the Speaker, etc...).

[2015-03-06 09:57] vnbang2003 commented on #176
@sivaa This will be really help. I think we just need to add state in DB which will resolve this right ?

[2015-03-06 10:30] vnbang2003 commented on #163
@sivaa What plan with this feature ? Can we get it live by next month end ?

[2015-03-06 10:31] vnbang2003 commented on #159
@kracekumar @sivaa  We will be going tomorrow . Is it deployed in production ?

[2015-03-06 12:17] #159 closed

[2015-03-06 12:21] kracekumar commented on #159
Just merged this. We will deploy.

On Fri, Mar 6, 2015 at 4:01 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-07 11:50] sivaa opened #177 "Create Proposal - UI Enhancements"
This center alignment doesn't look cool. It should be left aligned and the help text should be right aligned.

![image](https://cloud.githubusercontent.com/assets/2163422/6541305/198022aa-c4ee-11e4-9b56-b6ae5d1597fe.png)

[2015-03-07 14:20] ChillarAnand commented on #169
@bhanuvrat are you working on this?

[2015-03-07 17:48] vnbang2003 commented on #145
I think let agree to show some indicator that content is not upload.
Let's make it visible to every one.

[2015-03-07 17:51] vnbang2003 commented on #22
@vigneshsarma @kracekumar As you guys are working on it. Please close one app is live

[2015-03-07 17:52] vnbang2003 commented on #32
@sivaa @kracekumar What is the plan on this feature.
We need to open registration by mid May 2015.

[2015-03-08 11:43] ChillarAnand opened #179 "reviewer comments link is not working"
in proposal detail page, reviewer comments link is not working
![rsz_screenshot_from_2015-03-08_170935](https://cloud.githubusercontent.com/assets/4463796/6545621/2e1945b6-c5b6-11e4-8617-d2972cc13db2.png)

also show brief info about links when hovered.

[2015-03-09 11:34] vigneshsarma opened #180 "Distiction between headdings and User given info."
![Current](https://www.dropbox.com/s/7mwmn6ru4xo40rh/Screenshot%202015-03-09%2013.49.33.png?raw=1)

There is little distinction between fields and user given data. We need better distinction in that.

[2015-03-14 07:53] #156 closed

[2015-03-14 07:53] #136 closed

[2015-03-14 07:54] #166 closed

[2015-03-14 07:59] kracekumar opened #182 "Add social icon like twitter, facebook, g+ in proposal detail page."

[2015-03-14 08:01] kracekumar opened #183 "Remove auto tweeting of tweets when a session is proposed"

[2015-03-14 14:46] #183 closed

[2015-03-15 15:41] #182 closed

[2015-03-16 18:30] bhanuvrat commented on #169
@ChillarAnand no I haven't been.
I was hoping to get a dump of the production database for pybelgaum and use its subset as sample data. What say?

[2015-03-16 18:31] bhanuvrat commented on #171
+1

[2015-03-16 18:44] kracekumar commented on #169
Not really, we can't share the data.

On Tue, Mar 17, 2015 at 12:00 AM, Anuvrat Parashar <notifications@github.com

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-16 19:11] ChillarAnand commented on #169
we are using djagno-sampledatahelper to generate sample data. it gives fine control over the sample data that is loaded into db. but it has couple of issues.

1. if our models/schema changes, we need to modify code which creates sample data.
2. whenver a new model is added, we have to write code to generate sample data.

instead we can use [django-autofixture](https://github.com/gregmuellegger/dja

[2015-03-17 10:44] theskumar commented on #169
@ChillarAnand I'm just exploring a couple of options we can go with.

1. How about a a mix of both. I won't mine a simple `.sh` script to do it.
2. Since the `sampledatahepler` provides auto fixtures too, how about just using the same as mix in the sample_data management command. Again a hybrid approach.

That said, I feel that if we are conscious enough, we can always point out to update the samp

[2015-03-18 13:28] kracekumar commented on #169
Anand, Saurabh both the ideas are welcome. It is not possible to replicate
100% of cases.
If we are able to cover creating conference, proposals, reviewers, comments
most of the cases, we're good enough.

On Tue, Mar 17, 2015 at 4:14 PM, Saurabh Kumar <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-03-19 07:57] shrayasr opened #186 "Siging up for junction shows that the "PyBelgaum" is requesting for permission"
Tried signing up to InPycon junction today with my Google account and it shows that "PyBelgaum" would like to access my details

Screenshot:
![screenshot 2015-03-19 11 32 01](https://cloud.githubusercontent.com/assets/240368/6726280/6fdfcab4-ce3b-11e4-9c97-f629e93ac5c5.png)

Bug caught by @raghothams

[2015-03-19 19:27] kracekumar commented on #186
It is fixed now. Thanks @shrayasr @raghothams.

[2015-03-19 19:27] #186 closed

[2015-03-20 03:01] shrayasr commented on #186
:+1: :)
On Mar 20, 2015 12:57 AM, "Kracekumar Ramaraju" <notifications@github.com>
wrote:

[2015-03-20 04:46] raghothams commented on #186
👍

[2015-03-22 08:47] #128 closed

[2015-03-22 08:47] #179 closed

[2015-03-23 07:25] ProProgrammer opened #187 "Login link in Comments section on [PyCon 2015] Proposal description page redirects to 404 - Page not found"
Prerequisite: User should not be already logged into https://in.pycon.org/cfp/pycon-india-2015/proposals/
Proposals page: https://in.pycon.org/cfp/pycon-india-2015/proposals/

The proposal description page can be reached by clicking on titles of any of the proposals (Under "List of Proposals" section)

When clicking on "Login" link under Comments section on the proposal description page, it redire

[2015-03-23 07:54] kracekumar commented on #187
Fixed in https://github.com/pythonindia/junction/commit/a66259f42f1d93fd4f26164985941f7b325d0bea. Can you try now ?

[2015-03-23 07:57] #187 closed

[2015-03-23 08:13] ProProgrammer commented on #187
Working fine :+1:

[2015-03-28 03:41] theskumar commented on #161
They seems to look fine to me.
![adsf](https://www.dropbox.com/s/11dphkca6lnmccs/Screenshot%202015-03-28%2009.09.58.png?dl=1)

and

![a](https://www.dropbox.com/s/yt92wi3vxqpt5pw/Screenshot%202015-03-28%2009.11.00.png?dl=1)

votes = 14, comment=2

[2015-03-28 04:51] ChillarAnand commented on #161
it works for me too

[2015-03-28 04:52] theskumar commented on #161
ok. closing this. @sivaa please reopen if you need.

[2015-03-28 04:52] #161 closed

[2015-03-28 04:55] theskumar commented on #177
This seems have been resolved in lastest build and it just need a deployment.

Reference:
![a](https://www.dropbox.com/s/zr5ngpdjdvhfbsu/Screenshot%202015-03-28%2010.24.09.png?dl=1)

Closing this, please reopen if required.

[2015-03-28 04:55] #177 closed

[2015-03-28 06:24] psykrsna commented on #137
I am working on this.

[2015-03-28 06:32] theskumar commented on #137
Thanks :+1:

[2015-03-28 07:44] vnbang2003 opened #191 "We should not display the reviewers name in reviewers comments section"
We should not display the reviewers name in reviewers comments section

[2015-03-28 07:57] vnbang2003 commented on #191
Sent pull request to fix this.
https://github.com/pythonindia/junction/pull/192

[2015-03-28 08:48] Aayush-Kasurde opened #194 "Add steps to install virtualenv"
It is better to write installation steps for virtualenv in installation guidelines.

[2015-03-28 09:09] ProProgrammer commented on #194
@kracekumar with regards to installation steps for virtualenv, please review this and let me know if I should go ahead and create a pull request.
https://github.com/pythonindia/junction/compare/master...ProProgrammer:patch-2?name=patch-2&short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8

Thanks

[2015-03-28 10:31] theskumar commented on #194
@ProProgrammer thanks for this. 80% use case for this a new comer to this project. With this in context, the it would be wise to advise not to add the virtualenv directory accidentally being added to version control. There are couple of approach we can go with:

1. Using virtualenvwrapper.
2. Advising on using a consistent name like `venv` for virtualenv folder which can be added to global gitigno

[2015-03-28 12:16] Aayush-Kasurde commented on #194
@theskumar sounds good to me. @ProProgrammer refer [fedora-infra/anitya] (https://github.com/fedora-infra/anitya/blob/master/README.rst) for virtualenv example.

[2015-03-28 19:52] #7 closed

[2015-03-28 19:56] kracekumar commented on #133
Can we make the release ?

[2015-03-29 02:34] vnbang2003 commented on #191
This is taken care. Hence closing it.
https://github.com/pythonindia/junction/pull/192
https://github.com/pythonindia/junction/commit/ae0beb8776b3540291e70bcb4d30c8a340e1dea8

[2015-03-29 02:34] #191 closed

[2015-03-29 05:56] theskumar commented on #133
updated changelog, will make 0.2.0 release and let you know.

[2015-03-29 10:21] theskumar opened #196 "Release 0.3.0"
__Goals__

- Better testing

Changeset: https://github.com/pythonindia/junction/compare/0.2.0...master

----

__Features__

- [x] conference moderators can be added per conference using a `conference_moderator` management command.
- [x] Improved conference admin.
- [x] Basic REST API for accessing conference details and proposals.
- [x] REST API to submit feedback for a talk/workshop.
- [x] UI upd

[2015-03-29 10:22] theskumar commented on #133
all set. Please close this story when you are done. Find the next release tracker here: https://github.com/pythonindia/junction/issues/196

[2015-03-29 10:30] theskumar commented on #84
This doesn't seem to be reproducible. Can we close this @kracekumar ?

[2015-03-29 11:58] #170 closed

[2015-03-30 16:38] #133 closed

[2015-03-31 07:11] mudassir0909 commented on #84
@theskumar I think we can close this, I checked this it's not happening anymore

[2015-04-01 19:31] kracekumar commented on #22
Closing this issue, since it is not of any priority right now.

[2015-04-01 19:31] #22 closed

[2015-04-01 19:36] kracekumar commented on #43
We have agreed to use mkdocs. Now we need to add documentation for setting up junction with screen shots.

[2015-04-01 19:41] kracekumar commented on #165
Unfortunately this is design choice. We don't want to complicate this.

[2015-04-01 19:41] #165 closed

[2015-04-01 19:41] #84 closed

[2015-04-01 19:44] kracekumar commented on #125
Here is the junction specific deployment https://github.com/pythonindia/magudi/blob/master/salt/roots/junction/.

[2015-04-01 19:55] kracekumar commented on #169
@ChillarAnand Do you need any specific inputs ? I think we can also mandate adding sample data as part of pull requests for all new features/bugs.

[2015-04-01 19:57] kracekumar commented on #171
We need to have more writeup about what sort of data we need to give out. We will use this issue to track that.

[2015-04-01 20:08] kracekumar commented on #88
There are cases where a talk can fall into more than one section. In general, it is advised to select the most relevant section.

For example, `Migrating Django code base to Python 3` will fall into `Python 3`, `Web Development`.  If the talk focuses on `migration of Python 3` the apt section will be `Python 3`. As a result this will help the reviewer/participant to understand what this talk will

[2015-04-01 20:12] kracekumar commented on #194
It is not worth adding virtualenv installation steps.

[2015-04-01 20:15] kracekumar opened #197 "Show reviewers tab in proposal detail page for reviewers in that section"
All the reviewers can see the `reviewers` comments in proposal detail page. Reviewers who belong to the section should only see the `comments/tab`.

[2015-04-02 08:52] theskumar commented on #194
I'm also in favour of not adding it, a [mighty] url to some reference resource is enough. The current one is good enough.

PS: closing this issue for the sake of sanity.

[2015-04-02 08:52] #194 closed

[2015-04-02 09:05] vnbang2003 commented on #197
I think our present schema doesn't allows us to map section to reviewers.
Is it only UI fix ?

[2015-04-02 10:26] theskumar commented on #125
@kracekumar @vigneshsarma this is neat +1. I think, providing this link to Readme should be enough to close this particular issue. @bhanuvrat ?

[2015-04-02 17:19] kracekumar commented on #197
We have a model for it,
https://github.com/pythonindia/junction/blob/master/junction/proposals/models.py#L36
.

On Thu, Apr 2, 2015 at 2:35 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-04-05 03:32] vnbang2003 commented on #150
We show the display of selected status in different section which should close this issue.
closing the ticket. reopen if i missed any point.

[2015-04-05 03:32] #150 closed

[2015-04-05 12:52] bhanuvrat opened #199 "inconsistent urls.py filenames"
Is there a specific reason why the urls.py_s of the application do not follow a consistent pattern? I mean there is `junction/urls.py` then there is `junction/pages/urls.py`, followed by `junction/comments/comments_urls.py` and `junction/proposals/proposals_urls.py`.

is the pages app not following the convention, or are proposals and comments out of sync?
please advice.

[2015-04-05 13:58] kracekumar commented on #199
It has been individual's preference, other than that I don't find any real
reason.

On Sun, Apr 5, 2015 at 6:22 PM, Anuvrat Parashar <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-04-05 14:15] bhanuvrat commented on #125
@theskumar yup this is cool !!

[2015-04-06 18:04] #169 closed

[2015-04-08 12:34] theskumar commented on #199
like krace said it's more of a individual preference. And that said, we shouldn't have any issue changing them to be more consistent and community acceptable.

[2015-04-08 13:54] theskumar opened #201 "Test and upgrade to Django 1.8"
Since 1.8 is a LTS release, it would make sense to upgrade to 1.8 as soon as possible.

**TODO (as I see):**
- [ ] check against each of the third party dependencies whether they are compatible with 1.8
- [ ] more integration tests before upgrade would be helpful
- [ ] _add more here..._

[2015-04-08 14:07] ChillarAnand commented on #201
lets move to py3?

[2015-04-08 14:14] theskumar commented on #201
@ChillarAnand :) sure thing, but practicality beats purity. It can be handled/tracked in another issue. These are few of my concerns, apart from the all the goodness of py3.

1. Lack of test coverage
2. Most of the developers (including me) have not yet migrated to py3 fully, because if we want to move to py3, maintaining it for py2 would not be good idea. This would mean completely py3. So I see

[2015-04-08 14:56] ChillarAnand opened #203 "errors while creating new proposals in admin"
prerequisites = models.TextField(default="")
    content_urls = models.TextField(default="")
    speaker_info = models.TextField(default="")
    speaker_links = models.TextField(default="")

by leaving above fields empty, users can create new proposals but admin wont allow to do that.

[2015-04-15 07:31] kracekumar opened #205 "Remove footer copyright and make it a configurable from settings variable"

[2015-04-16 04:02] #205 closed

[2015-04-19 13:10] vnbang2003 opened #209 "Notifying proposers and reviewers whenever a comment is added"
New comment added by proposers and reviewers does not send out mails.

[2015-04-19 14:26] vnbang2003 opened #210 "License"
We need to come up with license type for junction.

[2015-04-19 14:49] kracekumar commented on #210
https://github.com/pythonindia/junction/blob/master/LICENSE

On Sun, Apr 19, 2015 at 7:56 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-04-20 16:08] ChillarAnand opened #212 "content not loading due to mixed content"
pycon india web site is served over https but some content which is serving over http is getting blocked due to mixed content.

![pp](https://cloud.githubusercontent.com/assets/4463796/7234556/96b8770c-e7a5-11e4-9007-6958efab215a.png)

[2015-04-20 16:29] vnbang2003 commented on #212
It's Inpycon2015 repo issue . Can you open issue there ?

[2015-04-20 19:24] #210 closed

[2015-04-20 19:24] #180 closed

[2015-04-20 19:25] #197 closed

[2015-04-20 19:26] #212 closed

[2015-04-23 13:36] ChillarAnand opened #214 "header is mis aligned"
when proposals are filtered in list proposals page, header `List of proposals` seems mis aligned
![jj](https://cloud.githubusercontent.com/assets/4463796/7298229/cff4274e-e9eb-11e4-89bb-a23c1339cc1a.png)

[2015-04-23 20:03] #214 closed

[2015-04-27 08:19] vnbang2003 opened #216 "Bug in Proposals To Be Reviewed Section"
Looks like the condition check for Proposal to be review section is incorrect.
https://in.pycon.org/cfp/pycon-india-2015/proposals/
For Example:
        For Proposal "Test Driven Development with Ansible"  there is no review comments provided but it's not listed in "Proposals To Be Reviewed" section.
Let me know if my understand is incorrect.

[2015-04-27 08:19] vnbang2003 commented on #209
@vigneshsarma  Is it fixed ?

[2015-04-27 09:21] kracekumar commented on #216
Yes this is a bug. Reviewers comments aren't displayed in the section. @ChillarAnand Can you have a look ?

[2015-04-27 14:06] ChillarAnand commented on #216
@kracekumar  @vnbang2003  fixed it.

[2015-04-27 14:10] ChillarAnand opened #218 "review link is missing"
in older release, in list proposals view, under `Proposals to be  reviewed` section,  there  was  link  to  `review  proposal  page`.  While  [refactoring  views](https://github.com/pythonindia/junction/commit/188ee5838a38d54df43e0d6f74a97597ddc8e216#diff-0684fb650df24b5e865f782c4c61101aL152)  its deleted.

We  need  to  provide  a  link  for  review  proposal.

[2015-04-27 14:20] ChillarAnand opened #219 "write unit tests"
we need to write unit tests!

[2015-04-27 20:15] kracekumar commented on #219
+1. Slowly keep adding it, not at one shoot :-)

[2015-04-27 20:16] kracekumar commented on #209
This is fixed.

[2015-04-27 20:16] #209 closed

[2015-04-27 20:21] kracekumar commented on #216
@vnbang2003 Please check this, also the sections you're part of review will be displayed not all proposals.

[2015-04-28 05:17] vnbang2003 commented on #216
@ChillarAnand @kracekumar Thanks for quick fix. Do you guys think moving to separate tab will be good idea to make is user friendly ?

[2015-04-28 05:23] kracekumar commented on #216
+1 for separate tab.

On Tue, Apr 28, 2015 at 10:47 AM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-04-28 07:09] vnbang2003 commented on #216
Lets open new Issue so we don't forget about this.

[2015-05-01 15:36] bhanuvrat opened #220 "libpq-dev as a system requirement."
`libpq-dev` is not present on systems by default and `pip install psycopg2` fails without it.
lets include it in the README.

[2015-05-02 06:22] theskumar commented on #219
+1

[2015-05-06 04:19] vnbang2003 commented on #216
This is not fixed yet. Please look at
https://in.pycon.org/cfp/pycon-india-2015/proposals/distributed-programming-with-celery/
We need to fix it.

[2015-05-06 04:40] vnbang2003 commented on #216
Even this :https://in.pycon.org/cfp/pycon-india-2015/proposals/getting-started-with-vtk-in-python-for-scientific-visualization/

[2015-05-06 05:23] punchagan opened #221 "Reviewers should be able to view/post reviews for other sections"
Currently, reviewers are only allowed to post reviews for sections they are assigned as reviewers.  They are not allowed to view/post new reviews on sections for which they are not reviewers.

At the very least, all review comments should be visible.  This helps reviewers see what sort of feedback other reviewers are providing, and helps them incorporate good stuff into their own feedback.

A revi

[2015-05-06 13:40] pythonhacker commented on #221
I am joining this issue. All reviewers should be able to see other review comments whether they are able to write or not. In other words, read access to all reviews, write access to only their sections should be the design.

[2015-05-06 14:27] ChillarAnand commented on #216
If logged in user is the reviewer of that section then only it will be displayed in review section.

reviewer comments will be shown only to section reviewers.

@vnbang2003  @kracekumar  unable to reproduce locally.  implementation ( [[1]](https://github.com/pythonindia/junction/blob/master/junction/proposals/views.py#L61-L67) [[2]](https://github.com/pythonindia/junction/blob/master/junction/prop

[2015-05-06 14:38] ChillarAnand commented on #221
+1, since we are hiding reviewer names in comment section, providing read access to comments for all reviewers shouldn't be an issue.

[2015-05-07 05:16] pythonhacker opened #222 "[Feature] Provide reviewers-only comment/discussion section"
Vanitha had asked suggestion about an ML for reviewers. I am verbatim copying my email response to her on that.

"""
I am a bit against an ML as you know it takes some amount of self
discipline to summarize your thoughts and post on MLs to have a good,
directed and positive discussion. We can see inpycon as an example of
this practiced both in the right and wrong.

An ML for reviewers has a high p

[2015-05-07 05:19] pythonhacker commented on #88
We've already had quite a few submissions. If you haven't heard from any of the proposers about such a feature, I would think this is redundant. In that case close this.

[2015-05-07 05:24] pythonhacker commented on #222
Note that this is partly inspired by the "Talk" section of Wikipedia articles which work pretty well.

[2015-05-07 16:34] vnbang2003 commented on #216
@kracekumar  Are you able to see bug  in PyCon India CFP ?  I still see it as bug in CFP 2015

[2015-05-07 16:37] vnbang2003 commented on #221
@kracekumar @ChillarAnand  Can we hide submit button in reviewer section to get this feature live?
emails logic can remain same.

[2015-05-07 16:41] vnbang2003 commented on #222
we can add new Reviewers only tab where all reviewers can comment and it will be displayed to all reviewers . Do we need emails to be triggered for all this conversation  ?

[2015-05-07 16:46] vnbang2003 opened #223 "Dashboard page to show stats of talk based on section, Level, proposal sections"
We should add dashboard page which will show stats of talk in different way
1) Based on Talk
2) Based on Sections
3) Based on Proposals
4) Overall
5) Reviewers Based

This Grid will have count, reviewed and unreviewed column to make it more readable.
Once you click on number it should take to make CFP page with filtered.

I am working on it . Let me know we need to add more in this page.

[2015-05-07 16:48] vnbang2003 commented on #223
@kracekumar @sivaa @theskumar Let me know you feedback on this feature

[2015-05-07 16:49] kracekumar commented on #223
I think, for initial version this looks good. I think this dashboard will
be used by Conference chair right ?

On Thu, May 7, 2015 at 10:18 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-05-07 16:52] vnbang2003 commented on #223
Initial plan was for Conference Organizing team. Now i think it not harmful to make it publicly available.

[2015-05-07 16:58] ChillarAnand commented on #221
@vnbang2003 @kracekumar  should we hide `add comment` button in reviewers comments for other sections?

[2015-05-07 16:59] kracekumar commented on #223
I am not yet convinced to have this publicly available to everyone.

On Thu, May 7, 2015 at 10:22 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-05-07 17:01] #218 closed

[2015-05-07 17:02] vnbang2003 commented on #223
Every time user need to add group or permission by name organiser will be confusing.

[2015-05-07 17:03] vnbang2003 commented on #221
I think that easiest fix . @kracekumar what do you say ?

[2015-05-07 17:09] kracekumar commented on #221
Yes, that looks easiest fix. @ChillarAnand Go ahead with it.

[2015-05-07 17:59] #88 closed

[2015-05-07 18:32] #221 closed

[2015-05-07 18:38] kracekumar commented on #88
We haven't heard anything from other reviewers. I will skip it for now and add in later stage.

[2015-05-08 05:08] vnbang2003 commented on #216
How about doing this
Add new proposal status - Review in progress
Once one of the reviewer put his comment we trigger a signal to change status from "Yet to be reviewed"  to "Review in progress".
This will provide us more consistency and simply query.

[2015-05-08 05:14] vnbang2003 opened #225 "Scheduling feature"
It would be good to have datetime fields in proposal models so organizer or editoral panel can add date time and see the schedule page directly here instead of taking it offline working on excel sheet.
This page initial should be visible to only reviewers . Organizer or one of editorial team will have permission to make it public.

[2015-05-08 05:54] theskumar commented on #222
+1 from my side. Emails with links would be helpful. Sent to all reviewers involved in the talk?

[2015-05-08 06:04] pythonhacker commented on #222
More requirement specs here.

   1. This section should be RO for all reviewers and RW for the specific reviewers.
   2. Unlike the current anonymous reviews shared with proposers this should NOT be anonymous. I need to know who I am discussing with the nitty-gritties of a proposal for it to be effective. I suggest showing the handle of the reviewer if not the full name.
   3. Email notifications

[2015-05-08 06:06] pythonhacker opened #226 "Ability to quote comments in review replies"
Was trying to comment to a comment by the proposer when I noticed junction doesn't quote replies like email clients do.

This is forcing me to copy the sections and "quote" them manually one by one. Would be nice to have automatic quoting of comments I am replying to.

Didn't check for similar issues so feel free to close this as duplicate if already filed.

[2015-05-08 06:27] pythonhacker opened #227 "Nitpicking - Wrong source of comment in email"
There is a new comment on "xxxxxxxxxx" by one of the reviewer.:

"Hi Reviewer I have ............ Thanks author"

Clearly the source of the comment is wrongly interpreted by junction. I think it always puts __reviewer__ even though the comment is sometimes from the __proposer__ .

Possibly an easy-fix and nice-to-have. Not urgent.

[2015-05-08 06:35] kracekumar commented on #226
This came up in initial conversation, we wanted to do it later.
@vigneshsarma can you take care of this ?

On Fri, May 8, 2015 at 11:36 AM, Anand B Pillai <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-05-09 03:48] vnbang2003 opened #228 "Bug: Proposals To Be Reviewed displays even drafted proposal"
Proposals To Be Reviewed section filter need to correct to display on public proposal.

[2015-05-09 03:49] vnbang2003 commented on #228
@ChillarAnand i think you were working on this . Can you please take a look

[2015-05-09 05:40] ChillarAnand commented on #223
if we are going to add datetime for proposals([#255](https://github.com/pythonindia/junction/issues/225)); we can inlcude timeline in dashboard, where proposals will be dipslayed with respect to time/audi?

[2015-05-09 06:06] ChillarAnand opened #230 "move proposals to be reviewed to seperate tab"

[2015-05-09 07:05] #228 closed

[2015-05-09 07:19] theSage21 commented on #199
I will do this bit.

[2015-05-10 06:23] vnbang2003 commented on #223
Have commited the code to master branch directly. It's need some UI work . Will do in next few days.
Will open issue to filter proposal page with reviewer based filter like proposal_type.

https://github.com/pythonindia/junction/commit/5ec5f6ecf58e7ab0547411c21efebb5dc1539886
![screen shot 2015-05-10 at 11 51 03 am](https://cloud.githubusercontent.com/assets/316253/7553255/fbb6b2e4-f70a-11e4-8ecd-

[2015-05-10 06:24] vnbang2003 commented on #223
@kracekumar @ChillarAnand @sivaa @theskumar : Take a look and provide feedback on any changes.

[2015-05-10 06:24] #223 closed

[2015-05-12 04:42] vnbang2003 commented on #216
@ChillarAnand Take a look at screen shot for reference on bug in prodution.
GIve you me user id in inpycon cfp i will added you to reviewers list  to show what's happening.

![Uploading Screen Shot 2015-05-12 at 10.11.17 AM.png…]()
![screen shot 2015-05-12 at 10 11 28 am](https://cloud.githubusercontent.com/assets/316253/7580261/4f2064b8-f88f-11e4-8e25-c592e85745a2.png)

[2015-05-12 13:00] ChillarAnand commented on #216
@vnbang2003  userid: chillaranand

[2015-05-12 13:18] ChillarAnand opened #233 "distinct(*fields) is not available for all databases"
[code]

i am testing junction on sqlite db and it can't render dashboard view as sqlite cannot support `distinct(*fields)`

[2015-05-12 15:15] ChillarAnand opened #234 "reviewed proposals should not be shown in review section?"
right now if a reviewer marks a proposal as selected/rejected, it is still shown in review section. not sure if this is required @kracekumar  @vnbang2003 @pythonhacker

[2015-05-13 04:37] vnbang2003 commented on #233
We have used distinct to make sure even if reviewers my mistake is assigned to same section twice it doesn't show wrong numbers
To remove distinct we need to make sure add validation for ProposalSectionReviewer once we do this we can remove this distinct .
This bring me next question for discussion should we support sqlite db ?

[2015-05-13 05:05] kracekumar commented on #233
Sqlite has lot of these problems, not worth worrying. Use postgres or mysql.

[2015-05-13 05:07] vnbang2003 commented on #233
@ChillarAnand  Do you agree with @kracekumar  comments. If yes we can close the issue

[2015-05-13 06:58] #233 closed

[2015-05-13 13:28] ChillarAnand commented on #233
Note: distinct(*fields) works [__only on__ PostgreSQL](https://docs.djangoproject.com/en/dev/ref/models/querysets/#distinct)

@vnbang2003  @kracekumar  can we reformulate query?

[code]

[2015-05-13 13:40] ChillarAnand opened #235 "dashboard enhancements"
we can add more columns to the table so that reviewers can have more clarity.
1. drafts
2. public (reviwers comment=0)
3. reviewing (reviewer comments>0)
4. cancelled
5. waitlist
6. rejected
7. selected

[2015-05-13 14:05] ChillarAnand opened #237 "add coveralls to junction"
coverage report will be a reminder for contributors/reviewers about unittests

[2015-05-14 04:12] vnbang2003 commented on #235
@ChillarAnand  Am not able to understand the metrics from point of view of organizing team.

[2015-05-14 07:05] vnbang2003 commented on #233
If we add validation at the time of add reviewer to section we can remove distinct () till that point we need this. Please open bug  if required.

[2015-05-14 17:30] ChillarAnand commented on #235
if a proposal section looks like this
[code]
organizing team don't know whether the assigned reviewers has checked the proposals and provided feedback or not.

On the other hand if we have something like this
[code]
organizing team can ping reviewers to review the proposals and
if reviewers has checked proposals and gave  some feedback it will look like this
[code]

[2015-05-15 05:16] vnbang2003 opened #239 "Add reviewed and unreviewed filter along with section for proposal page"
In dashboard page we display section with reviewed and unreviewed number . We can't add hyperlink to pass filter or flag to filter reviewed and unreviewed proposal in url like proposal_type=2 or proposal_section=5.
Proposal is to add allow add filter like proposal_section=5&reviewed=1 and proposal_section=5&reviewed=0.

[2015-05-15 05:18] vnbang2003 opened #240 "In Proposals To Be Reviewed section filter doesn't work"
In Proposals To Be reviewed section the filter in url are getting applied to proposals.

Example look at url :https://in.pycon.org/cfp/pycon-india-2015/proposals/?proposal_section=5&proposal_type=2

[2015-05-15 11:22] vnbang2003 commented on #235
@kracekumar @ChillarAnand Let sync up tomorrow to discuss further as it think it meet the purpose already it just doesn't count public comments

[2015-05-16 04:44] Aayush-Kasurde commented on #138
Can anyone please close this issue as PR #232 is merged?

[2015-05-16 05:43] #138 closed

[2015-05-16 05:52] #203 closed

[2015-05-16 05:58] theskumar commented on #237
@kracekumar ping. Can we enable the integration at https://coveralls.io/ please. We can then add the required things to README.md and .travis.yml

[2015-05-16 06:01] ChillarAnand opened #241 "dashboard page should be visible only to organizing team"

[2015-05-16 06:02] kracekumar commented on #237
@theskumar Please go ahead!

[2015-05-16 06:03] kracekumar commented on #237
@theskumar Do you want someone to work on it dev sprint here ?

[2015-05-16 06:05] ChillarAnand opened #242 "add content upload status to proposals list page"
![jj](https://cloud.githubusercontent.com/assets/4463796/7664950/876dc01c-fbbf-11e4-9ca8-153613990953.png)

we can remove username from the page and can add content upload status, so it will be easy for reviewers

[2015-05-16 06:26] #155 closed

[2015-05-16 06:43] theskumar commented on #237
@kracekumar sure anyone can take it up. :)

[2015-05-16 06:46] ChillarAnand commented on #220
for development we are using sqlite and postgres for production. we have to move psycopg2 to requirements-prod.txt

[2015-05-16 07:08] anistark commented on #239
@ChillarAnand Working on this now..

[2015-05-16 07:40] theSage21 commented on #199
@bhanuvrat Close the issue? PR #238 is merged

[2015-05-16 08:31] #199 closed

[2015-05-16 08:44] anistark commented on #237
Cumulated in PR #246

[2015-05-16 08:45] theskumar commented on #237
@anistark please open a new issue for coverall integration.

[2015-05-16 08:46] theskumar commented on #237
Sorry, typo - s/new issue/new pull request/, specifically for coverall integration.

[2015-05-16 08:51] theskumar commented on #237
Ideally, when we say coveralls.io integration we mean that the coverage report generated at Travis CI will be reported to coveralls.io, that happens automatically, if you run the proper command for it inside Travsi CI and then we also show a badge in the README.md which indicates the % coverage.

You can checkout the coverall setup here:
1. https://github.com/fossevents/fossevents.in/ (see: covera

[2015-05-16 08:54] anistark commented on #237
Yes @theskumar On it.

[2015-05-16 08:59] ankeshanand commented on #237
I've set travis.yml acc. to https://github.com/coagulant/coveralls-python.
PR #248

[2015-05-16 10:21] animenon opened #252 "No option to remove upvote/downvote given on a proposal"
Supoose I give an up-vote to a proposal, then I am not able to remove my up-vote.
![image](https://cloud.githubusercontent.com/assets/6907950/7665738/2db43870-fbe3-11e4-8dd0-404083c0c10e.png)
Upvote added.
![image](https://cloud.githubusercontent.com/assets/6907950/7665741/444634a8-fbe3-11e4-9435-4e14c9552e54.png)
down-voted and it automatically did totalvotes-2 whereas I wanted to just remove my

[2015-05-16 10:26] #237 closed

[2015-05-16 10:53] theSage21 commented on #227
@pythonhacker I will fix this but I cannot find an example where the flaw is seen. Loking at the code everything seems fine. Can you post a test case?

[2015-05-16 18:20] theSage21 commented on #219
I can write tests. Is there a specific way I have to write them? I usually put them in the application folder.

[2015-05-16 18:39] kracekumar commented on #219
Yes, it is good to have `unit_tests` directory inside the `app directory`. `Unit tests` shouldn't connect to db,  `mocks/stubs` are used with help of `mock library`. Use `py.test` as test runner and plain asserts.

Writing unit test is super fun when the view layer is split into multiple function where each function does one thing. While writing unit tests please feel free to add extra layer/refac

[2015-05-17 14:46] kracekumar commented on #252
Once you enter the game, you can come out ;-) This is by design and we won't fix!

[2015-05-17 14:46] #252 closed

[2015-05-20 15:08] kvsingh opened #253 "Show details about an operation on hovering in Proposal edit page"
![screen](https://cloud.githubusercontent.com/assets/822537/7729032/2b8ab222-ff30-11e4-8506-362ea9c71fa6.png)

When I hover over the buttons just below the Proposal title and author name, I am unable to figure out what any of these buttons does. The delete and update buttons might be intuitive, but for the other two, the users might not know what functions they perform. It would be nice to get a s

[2015-05-23 03:07] vnbang2003 commented on #222
Am looking into it .

[2015-05-23 18:10] vanishan opened #255 "Voting for Reviewers"
We need to have voting option only for reviewers under each proposal which helps in talk selection.
This should be maintained private.

[2015-05-23 18:38] vanishan opened #256 "Filter proposals assigned to a reviewer"
We list all the proposals with the filter criteria yet to be reviewed and review in progress. For a reviewer, its difficult to find out which proposal he/she is allocated as a reviewer as he has to open each proposal to see the existence of Reviewer tab.
We need to list all the proposals assigned to a reviewer. It would be good if the filter criteria is added under the filters yet to be reviewed a

[2015-05-25 14:39] ChillarAnand opened #257 "empty space at the bottom"
in all pages, there is lot of empty space between end of content and the footer. this should be removed.
here is a screenshot
![jj](https://cloud.githubusercontent.com/assets/4463796/7798666/45419a4e-031a-11e5-8f71-9df75ad67e14.png)

[2015-05-25 14:48] ChillarAnand opened #258 "link to dashboard"
for conferences we have dashboard, but there is not link to it to navigate there.
may be add button in home page, next to conference name?

[2015-05-25 15:25] kracekumar commented on #257
Yes please :-)
On May 25, 2015 20:09, "Anand Reddy Pandikunta" <notifications@github.com>
wrote:

[2015-05-25 17:27] vanishan opened #259 "dashoard - Issue with the hyperlinks"
The hyperlinks on total count in type based and section based proposal statistics takes to proposal page by default and no filter applied.
Url/filter criteria needs to be fixed.

[2015-05-26 02:05] vnbang2003 commented on #259
I had removed -- in url for poroposal-list  not where when it was added back.

url(r'^(?P<conference_slug>[\w-]+)/proposals/', include('junction.proposals.urls')),
url(r'^(?P<conference_slug>[\w-]+)--/',
        RedirectView.as_view(pattern_name="proposals-list"),
        name='conference-detail'),

The fix for it name the first url to proposals-page or similar and use this in named url of dashboa

[2015-05-29 10:13] vnbang2003 opened #261 "Improving logging and event action history"
We need to log all the action of each reviewers or any action button to help us analysis.
I would recommend doing two ways
1) Standard log file entry
2) use django-simple-hsitory(https://github.com/treyhunner/django-simple-history) to capture each action in DB.

[2015-05-29 10:47] vnbang2003 commented on #259
I have committed the fix. https://github.com/pythonindia/junction/commit/f257fea6f4f32117cb15b794efc74ee8308af50d

[2015-05-29 10:47] #259 closed

[2015-05-29 14:26] vnbang2003 commented on #258
I had added it . I think @kracekumar  had disabled it .

[2015-05-29 20:44] kracekumar opened #262 "Adding Enum to ProposalComment"
In Junction, there are three type of comments, `comments by all users (public), private comments (only visible to reviewer and proposer), notes (reviewers internal discussions)`. These are managed by two flags, https://github.com/pythonindia/junction/blob/master/junction/proposals/models.py#L153.

It is source of confusion to look up multiple flags. The better solution is to have `enum` aka `Posit

[2015-05-30 07:28] ChillarAnand opened #264 "allow users to change username?"
if user signups using 3rd party account, username is generating automatically based on name.

[2015-05-30 07:50] kracekumar commented on #264
Yes, this was already asked by one of the user. We should have this.

+1

On Sat, May 30, 2015 at 12:58 PM, Anand Reddy Pandikunta <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-05-30 11:41] NabeelValapra commented on #264
how about setting ```SOCIALACCOUNT_AUTO_SIGNUP = False ``` ?

[2015-05-30 12:37] NabeelValapra commented on #264
How about setting ```SOCIALACCOUNT_AUTO_SIGNUP = False``` ?

[2015-05-30 17:28] mudassir0909 commented on #257
@ChillarAnand Can you please point out to any specific URL ? it'll be easier that way

[2015-05-31 19:57] kracekumar commented on #43
We need to start writing documentation. Documentation should contain `setup instruction, how tos, features` etc for phase one.

### How tos

- Set up a conference
- Add reviewers for a conference
- Assign Section reviewers
- Private Comments
- Reviewers only collaboration

### Features

One liner/small writeup about existing features.

### Setup

- How to setup third party packages like django-all

[2015-06-01 06:55] pythonhacker commented on #227
See this email (screenshot) for example.
![screenshot-new comment on cyber intelligence using python - pyconindiacfp - letterbox - mozilla thunderbird](https://cloud.githubusercontent.com/assets/316177/7907617/2df06c0a-0859-11e5-9646-fdb39c0a2ae3.png)

This email is clearly from the __proposer__, not from the __reviewer__ . But the email says it is from the __reviewer__ .

[2015-06-01 06:57] pythonhacker commented on #222
I can see this now in Junction, so isn't this done ? The issue should be closed now.

[2015-06-01 07:07] kracekumar commented on #222
As of now it is visible for section reviewers. Let's say you're reviewer
for Core Python and not reviewer for Network Programming, the section won't
show up in latter. We're fixing that as well, then we will close the issue.

On Mon, Jun 1, 2015 at 12:27 PM, Anand B Pillai <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-01 07:11] vnbang2003 commented on #222
I will fix and send patch in next 2 days and close it.

[2015-06-01 12:42] ChillarAnand commented on #257
@mudassir0909 sorry for delay. looks like issue is fixed :+1:

[2015-06-01 13:00] ChillarAnand commented on #264
by setting that all auth will display a default form with email & username after verification from 3rd party. we have to override that form to display only username.

or we can have a profile page where user can change it anytime?

[2015-06-01 13:35] ChillarAnand opened #270 "filter proposal should directly display proposals"
when someone filters proposals, the page is reloaded and page is displayed from the begining like this
![an1](https://cloud.githubusercontent.com/assets/4463796/7913928/2b31f064-0891-11e5-9eab-5cad3c3402e4.png)

instead we can have an anchor tag at proposals and display proposals directly which will be more convinient like this
![an2](https://cloud.githubusercontent.com/assets/4463796/7913927/2b2d

[2015-06-01 15:29] vnbang2003 commented on #258
@kracekumar @ChillarAnand  Lets make button visible only to admin. We even added Reviewers Dashboard. Should we make it tab view for dashboard ? I am not great with UI if someone can help it will be awesome.

[2015-06-01 18:25] kracekumar commented on #222
@vnbang2003 We can close this right ?

[2015-06-02 10:43] kracekumar opened #273 "Spam deduction in Junction"
Recently @pythonhacker and @harisibrahimkv reported few comments looks like a spam. Junction right now only allows logged in users to comment.

There are two levels of deducting/marking comment as a spam. During signup check the reputation of email/ip of user, if it is potential spam email id/ip, block the user, legit user can write back to the concerned person to activate the account.

One more w

[2015-06-02 15:52] vnbang2003 commented on #222
Below two point are not taken care.
Possibly also a moderator role would be nice - this can be fixed for each section. Like userx is moderator for "Core Python" reviews so he automatically becomes moderator for such discussions. But this is a nice-to-have not immediate.
Put a local (per proposal) max comments per reviewer limit for this section - just to make sure there are no wild arguments and f

[2015-06-02 15:52] #222 closed

[2015-06-02 15:55] vnbang2003 commented on #225
Adding more details
We can add datetime fields where admin can add value to this fields. Taking datetime value it should populate schedule page automatically.
Editoral Panel can provide feedback if they want few thing to change.
@kracekumar Let me know if it make sense.

[2015-06-03 13:59] ChillarAnand opened #274 "comments should be converted to html before mailing"
junction comment system supports markdown. when somebody leaves a comment, it should be converted to html & then it should be send as html in emails.

[2015-06-04 16:12] #240 closed

[2015-06-04 16:15] vnbang2003 commented on #216
Looks like intention of Proposal to be reviewed is to let user know that they have not reviewed but i can happen that other reviewers would have reviewed . Hence closing the bug.

[2015-06-04 16:15] #216 closed

[2015-06-07 17:12] ChillarAnand opened #276 "update login url in email messages"
when some one leaves comments on proposal, email sent to receipents has login url which redirects to home page.  this  should redirect to corresponding proposal instead of home page.

[2015-06-07 17:16] kracekumar commented on #276
This is bad user experience. We should fix it.

On Sun, Jun 7, 2015 at 10:42 PM, Anand Reddy Pandikunta <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-07 17:17] #255 closed

[2015-06-07 18:44] #276 closed

[2015-06-08 01:57] theSage21 commented on #227
Close the issue? #275 fixes this.

[2015-06-08 02:56] #227 closed

[2015-06-09 12:39] pythonhacker opened #278 "Change "Reviewers Only" to "Reviewers Talk""
__Reviewers Only__ is a little intimidating. When I filed issue #222  it was inspired by the __Talk__ section of Wikipedia.

I had mentioned in the bug.

    This could be implemented as a third tab possibly called "Reviewer Talk" or "Reviewer discussion" in the current view.

Believe me, __Reviewers Talk__ would actually get more people talking and using that tab. It is a bit psychological :)

[2015-06-09 12:41] pythonhacker commented on #274
+1 . Right now it is often jumbled up and difficult to read.

[2015-06-09 12:46] pythonhacker opened #279 "Reviewer Coherence - Which reviewer am I talking to ?"
Right now every comment by a __reviewer__ is shown as __reviewer__ only. This impedes coherent conversations cuz the proposer has no idea which reviewer he is talking to.

When I say __Which reviewer__ I dont mean the _actual identity_ of the reviewer. It is more like, __Am I talking to the same reviewer who had given me that interesting comment and which I followed up with changes, or is this som

[2015-06-09 12:53] pythonhacker commented on #273
How about also,

   1. Thresholding comments from same IP ? If you posted a comment on a talk at time __t__ , you cannot post another comment within __t + delta_t__ where delta_t could be even an hour.
  1. Not allowing postings from known spam IPs - there are well known lists we can scrub an internal SPAM IP list to.
  1. Not allowing postings with less than __n__ characters. This prevents postin

[2015-06-09 12:56] pythonhacker commented on #256
Also add a view where I can quickly filter out proposals I have already reviewed (entered some comments) and proposals yet to review. Right now I see just one blanket view of __Proposals to Review_ _which contains stuff that I have already wrote comment on.

Maybe this is another bug, but I felt it was in same scope here.

[2015-06-09 13:52] kracekumar commented on #279
This is a good suggestion.

On Tue, Jun 9, 2015 at 6:16 PM, Anand B Pillai <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-09 19:26] #278 closed

[2015-06-10 05:43] kracekumar commented on #273
All these three should be implemented.

[2015-06-10 05:45] kracekumar commented on #273
The order for implementing above should `Point 3 -> Point 2 -> Point 1`. We need to prevent spam account creation as well.

[2015-06-11 07:38] theSage21 commented on #279
Is this an acceptable fix? #281
I personally find the usage of PK to be ugly but cannot think of anything simple at the moment.

[2015-06-13 08:22] #241 closed

[2015-06-14 16:18] ChillarAnand opened #283 "sign in with google is not working"
when signin in with google, it is redirecting to signup page

[2015-06-14 16:50] kracekumar commented on #283
It redirect to https://in.pycon.org/cfp/pycon-india-2015/proposals/#

[2015-06-14 17:31] ChillarAnand commented on #283
@kracekumar  not sure what is causing this. i am still getting the error. but with github everything is working fine.

[2015-06-14 17:41] ChillarAnand commented on #283
may be this https://github.com/pennersr/django-allauth/issues/215 ?

[2015-06-15 08:00] #253 closed

[2015-06-15 11:12] theskumar commented on #264
@ChillarAnand how about having this option available at both the places.

[2015-06-15 11:15] theskumar commented on #283
This is working fine for me.

Although, it created me a new account, I had signed up via github earlier.. not sure how you resolve this issue given the context.

[2015-06-15 11:24] theskumar commented on #273
How about just use a third party to evaluate the spammy nature of a particular comment. I suggest using `askimet`[1] if anyone doesn't have any objection with it.

I'm personally not in favour to including the spam detection logic coded into junction itself. If not askimet, then a publish pypi library that will give spam score for a comment should do.

[1]
https://github.com/miracle2k/python-akism

[2015-06-15 13:59] ChillarAnand commented on #273
akismet :+1:

[2015-06-15 14:04] ChillarAnand commented on #283
my bad. google wasn't in social accounts

[2015-06-15 14:04] #283 closed

[2015-06-15 14:05] ChillarAnand commented on #264
@theskumar  :+1:

[2015-06-15 16:12] kracekumar commented on #283
@theskumar If you use `allauth's ` default connection option `https://in.pycon.org/cfp/accounts/social/connections/#`, it will link multiple emails under same account.

@ChillarAnand I am able to login with Google and Github for same email id. Can you try incognito or different browser ?

[2015-06-15 16:17] ChillarAnand commented on #283
@kracekumar  i have added google to social accounts. it is working fine for both google & github. no issues.

[2015-06-16 15:05] #274 closed

[2015-06-16 17:47] kracekumar opened #285 "Link to proposal is broken in email"
Link sent in private comment email is not full url but relative one like `http://cfp/pycon-india-2015/proposals/python-for-flying-machines/`.

/cc @ChillarAnand

[2015-06-18 08:28] #285 closed

[2015-06-18 15:41] kracekumar commented on #264
I would lean to have profile section where user can modify these auto generated stuff. Signup process should be really quick.

So along with `Social Accounts` in the drop down we can have Edit Profile option.

We need also bigger dashboard for users to see their talks and selected talks and tickets information etc in the future, we will have separate issue for that.

For now we can have Edit profi

[2015-06-19 14:51] pythonhacker commented on #279
PK ? Can you clarify

[2015-06-19 14:52] kracekumar commented on #279
PK, primary key

On Fri, Jun 19, 2015 at 10:51 PM, Anand B Pillai <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-19 15:49] kracekumar opened #287 "Move my proposal to My Dashboard"
When user is logged in, user submitted proposals are listed in proposals list page. We should move this separate page called `my dashboard`.

My Dashboard should display all the proposals submitted by the user which aren't deleted. Proposals can belong to multiple conference. Here is how it will look

## Your Proposals

### PyCon India 2015

Title     | Proposal Section | Proposal Type | Proposal

[2015-06-21 12:52] kracekumar opened #288 "Change Reviewers heading to Reviews in comments section."

[2015-06-23 04:04] dhilipsiva commented on #279
I think this can be closed now.

[2015-06-23 04:08] kracekumar commented on #279
Yes, Just being cautious, if something comes up after deployment, we can
fix it and close it.

On Tue, Jun 23, 2015 at 12:04 PM, dhilipsiva <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-23 04:08] dhilipsiva commented on #279
:+1:

[2015-06-23 04:20] kracekumar commented on #279
Screen shot from local system
![screen shot 2015-06-23 at 9 49 27 am](https://cloud.githubusercontent.com/assets/311929/8298890/4077f11e-198d-11e5-86d7-c708980bf7d4.png)

[2015-06-23 04:23] dhilipsiva commented on #279
A bit confused. Is there a bug?

[2015-06-23 04:26] kracekumar commented on #279
Nope :-)

On Tue, Jun 23, 2015 at 12:23 PM, dhilipsiva <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-23 04:27] kracekumar commented on #279
It is a general practice to upload screenshot if there is a change in UI or
new feature is added. I realised this after merging. From next time you can
add screenshot in description.

On Tue, Jun 23, 2015 at 12:26 PM, Kracekumar Ramaraju <me@kracekumar.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-23 04:29] dhilipsiva commented on #279
Oh, okies. Did not know that. Will do that from this point forward. :stuck_out_tongue:

[2015-06-24 18:25] kracekumar commented on #279
Code is live in server and everything looks good.

[2015-06-24 18:25] #279 closed

[2015-06-24 18:52] kracekumar opened #291 "Section based closure date for CFP"
Conference consist of different types of sessions like `Talks, Workshops`. So far the all the past conferences had single closure date for both. Going forward junction should be flexible to collect projects/topics for `Dev Sprint, Flash Talks`.

Every session type can have start date and end date. If the session/proposal type has start date that should be counted or date given during conference cr

[2015-06-25 03:10] pythonhacker commented on #279
Thanks for doing this @kracekumar .

[2015-06-25 04:19] pythonhacker opened #292 "Comments Preview"
It would be nice to have a Preview of the comments before posting them so you can correct errors in the markdown.

Best template is right here - when I am writing these comments I can see a __Preview__ tab on the right of the __Write__ tab.

![screenshot-new issue pythonindia-junction - mozilla firefox-1](https://cloud.githubusercontent.com/assets/316177/8346792/723d3a0e-1b1f-11e5-8781-2bb552aa1bf

[2015-06-25 04:20] pythonhacker commented on #292
That makes for a nice recursive bug definition.

[2015-06-25 04:35] kracekumar commented on #292
We have this for proposal submission, we should have this for comments too.

+1.

On Thu, Jun 25, 2015 at 9:50 AM, Anand B Pillai <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-25 04:39] dhilipsiva commented on #291
Sure. I will take this up.

-- 
Cheers,

dhilipsiva

Full Stack & DevOps Engineer

http://dhilipsiva.com

+91 81 97 98 53 97

    

On 25 June 2015 at 00:22:41, Kracekumar Ramaraju (notifications@github.com) wrote:

Conference consist of different types of sessions like Talks, Workshops. So far the all the past conferences had single closure date for both. Going forward junction should be flexible

[2015-06-27 06:54] vnbang2003 commented on #288
![288_junction](https://cloud.githubusercontent.com/assets/316253/8390877/76daf7b4-1cc7-11e5-8277-9a2240dd4acc.png)

[2015-06-27 07:20] vnbang2003 commented on #258
@kracekumar I think we can add new block which will be visible only to admin and add link to both the dashboard page. which will be displayed as in screenshot.

{% block dashboard_link %}
 {% endblock %}

![258](https://cloud.githubusercontent.com/assets/316253/8390950/202543e4-1ccb-11e5-9c8f-461332c1aafd.png)

[2015-06-29 07:26] vnbang2003 commented on #288
@kracekumar  ?

[2015-06-29 07:27] vnbang2003 commented on #258
Do provide update and let me know if we can close ticket as we wont fix.

[2015-06-29 13:01] kracekumar commented on #288
Yes. I meant "Reviews"

[2015-06-29 13:09] kracekumar commented on #258
Can you point me to the url which will rendered on clicking `Proposal Dashboard, Reviewers Dashboard` ?

[2015-06-29 15:10] vanishan commented on #256
@kracekumar @vnbang2003,
This feature should be implemented at the earliest. With the existing proposals page its difficult for reviewer to find the talks assigned to him regardless of review status. This is a blocker for reviewers as they have to go through a number of proposals to find the one assigned to them once they add a comment, we cannot expect them to rely only on mail notification.

[2015-06-29 16:09] vnbang2003 commented on #258
it will point to Dashboard pages
 (1) Proposal Dashboard : cfp/pycon-india-2015/dashboard/
 (2) Reviewers Dashboard  cfp/pycon-india-2015/dashboard/reviewers/

[2015-06-29 16:18] vnbang2003 opened #293 "new pages for multiple views"
I think it time for Junction to have multiple page
1) Dashboard (To view his proposals, previous submit like mentioned  in #287  along with that we can add stats which display his reviews stats)
2) Reviewing (Page which display proposal list assigned to me for selected proposals).
3) Proposals (page which display all proposals including mine for that conference)

We even need to link two other das

[2015-06-29 18:13] #270 closed

[2015-06-29 18:19] kracekumar commented on #258
We can refrain doing it now. We are adding Dashboard feature, we will
completely design it.

On Mon, Jun 29, 2015 at 9:39 PM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-06-29 19:03] kracekumar commented on #256
I have attached rough sketch.

![img_20150630_000113](https://cloud.githubusercontent.com/assets/311929/8415547/196d02d2-1ebd-11e5-821b-d44f46b0cc42.jpg)
![img_20150630_000134](https://cloud.githubusercontent.com/assets/311929/8415548/197c91ca-1ebd-11e5-95cd-4addd8fd7bbc.jpg)

@vanishan @pythonhacker @vnbang2003 @ChillarAnand Have a look.

We can move `Proposals for review` to new page. Link to th

[2015-06-30 04:12] vnbang2003 commented on #256
I personally feel we need to sit and redesign UI and give good thought.
We will surely have multiple thing coming into picture as i explained in #293 .
Once voting come in to picture few more thing will be added for reviewers.
With Organizer login we will end up showing more links.
We even need to add schedule page also soon and if possible come with generic algorithm to automatically create sched

[2015-06-30 05:24] kracekumar commented on #256
We will continue discussion in separate thread. We will have proper mockups
to discuss those. Let's discuss what can be improved in the mockup.

[2015-06-30 18:32] ChillarAnand opened #296 "in list proposals page filtering should be done on frontend"
right now we are sending requests to server for every filtering. this should be avoided as we can filter in frontend itself.

[2015-06-30 18:40] ChillarAnand commented on #257
this is not yet fixed.

here is the screenshot
![spa](https://cloud.githubusercontent.com/assets/4463796/8438755/7f0bb660-1f85-11e5-8a1c-3d6e914e1a08.png)

url: http://127.0.0.1:8000/a-porro-conference/proposals/ or any list proposals view

[2015-07-01 04:01] vnbang2003 commented on #258
As i have open new bug for NewTab/Page  which is basically redesign on page flow #293 .
I will add this point in that bug hence closing it for now.

[2015-07-01 04:01] #258 closed

[2015-07-01 04:10] vnbang2003 commented on #239
I see there is duplicate bug opened #246 and there is pull request also.
hence closing it to avoid confusion.
@anistark Any particular reason to open bug #246  ?

[2015-07-01 04:10] #239 closed

[2015-07-01 04:13] vnbang2003 commented on #230
@ChillarAnand  can we close this ticket as we are actively discussing same point in #256.

[2015-07-01 04:17] vnbang2003 commented on #235
@ChillarAnand   Presently proposal dashboard page show status based on reviewers comment not public comments hence i think this bug can be closed.
Which reviewers is commented and all is shown in reviewers dashboard.

Let me know if we can close it.

[2015-07-01 04:26] vnbang2003 commented on #162
@ChillarAnand  update on this ?

[2015-07-01 04:28] vnbang2003 commented on #242
@ChillarAnand  we had discuss about this more in details in ticket #145 . Can we close this as duplicate ?

[2015-07-01 04:32] vnbang2003 commented on #19
@kracekumar  Can we also define more details here so we soon get this feature up.

[2015-07-01 05:07] kracekumar commented on #19
I will be updating all the details what is required this week.

On Wed, Jul 1, 2015 at 10:02 AM, Vijay <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-07-01 12:57] ChillarAnand commented on #242
yep. tracking here https://github.com/pythonindia/junction/issues/145

[2015-07-01 12:57] #242 closed

[2015-07-01 13:12] ChillarAnand commented on #162
@vnbang2003 will do it in couple of days

[2015-07-01 13:12] #230 closed

[2015-07-01 16:48] vnbang2003 commented on #264
username are not meant to be changeable.  I propose to add field alias_name in profile page.
if alias_name value is entered we show it else show username.
This is much easier and consistent way.

@ChillarAnand @kracekumar : Let me know our thoughts ?

[2015-07-02 18:30] ChillarAnand commented on #162
Admin will be accessible to only organizing team. May be we should add a button in proposal detail page, which will be accessible to reviewers to send mails for content upload?

@vnbang2003 @kracekumar Thoughts?

[2015-07-03 03:40] vnbang2003 commented on #162
Am fine either way .More important is we need this feature asap.
If required we can move button and make it custom admin action later if we don't find it appropriate

[2015-07-03 03:44] vnbang2003 commented on #225
@kracekumar @ChillarAnand Can you please provide details so we prepare ourself before schedule is gone come up.

[2015-07-03 04:37] kracekumar commented on #225
I will provide the details in this weekend.
On Jul 3, 2015 9:14 AM, "Vijay" <notifications@github.com> wrote:

[2015-07-03 05:55] kracekumar commented on #291
@dhilipsiva Any updates on this ?

[2015-07-03 06:24] dhilipsiva commented on #291
Not yet. I have been travelling since last week. Was this on a High-Priority? In any case, I will be working this on this Sunday.

-- 
Cheers,

dhilipsiva

Full Stack & DevOps Engineer

http://dhilipsiva.com

+91 819 77 93582

    

On 3 July 2015 at 11:25:40, Kracekumar Ramaraju (notifications@github.com) wrote:

@dhilipsiva Any updates on this ?

—
Reply to this email directly or view it on GitH

[2015-07-03 06:50] kracekumar commented on #291
Weekend should be fine :-) Following up to confirm you're on track.

On Fri, Jul 3, 2015 at 11:54 AM, dhilipsiva <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-07-05 08:11] kracekumar commented on #264
@vnbang2003 Makes sense to me. We can call it `Display Name`.

[2015-07-05 08:14] kracekumar commented on #273
Reading the docs suggests `wordpress api key` is required. I am sure, there will be other libraries/services, if some one can do quick prototype, it will be awesome.

[2015-07-05 08:24] kracekumar commented on #296
@mudassir0909 Is there good way to implement this in client side ? Our recent experience with DOM manipulation is bad, tending to stay in server side, https://github.com/pythonindia/junction/blob/master/junction/templates/proposals/to_review.html#L78.

[2015-07-05 08:45] kracekumar commented on #139
How about using tags from stackoverflow ? We can make http call to stackoverflow to find them?

[2015-07-05 09:21] kracekumar commented on #145
While loading the page in reviewers dashboard (`to_review view`), if the proposer has linked the contents in `Content URLs` display `link icon` in the proposal div along with tags `Talks`, `Web Developments` tags.

#### Simple mockup
![screen shot 2015-07-05 at 2 46 38 pm](https://cloud.githubusercontent.com/assets/311929/8511071/c9dec158-2324-11e5-8fa5-dcbc0ce809a2.png)

Fontawesome link: https:/

[2015-07-05 10:49] kracekumar commented on #225
We have a dummy schedule api here `https://github.com/pythonindia/junction/blob/master/junction/templates/dummy_schedule.json`.

### Feature

Junction should support scheduling feature. We need to have UI to create schedule (drag and drop) and api for mobile client consumption.

Organizer should be able to create a venue with `Name, Google Map URL`. Venue consists of rooms. `Rooms` should have `na

[2015-07-05 10:49] kracekumar commented on #225
@vigneshsarma will working on to get api first and then go ahead with UI.

[2015-07-05 10:55] kracekumar commented on #171
As of now we need api for `schedule and feedback`.

Dummy Schedule API: https://github.com/pythonindia/junction/blob/master/junction/templates/dummy_schedule.json
Schedule API issue: https://github.com/pythonindia/junction/issues/225
Feedback API issue: https://github.com/pythonindia/junction/issues/19

Spoke to people offline, everyone is happy to use `DRF`. If there are second opinion please sha

[2015-07-05 11:13] kracekumar opened #298 "Registering mobile devices"
We're working on having mobile application for PyCon India. The app shouldn't ask username and password or have account creation steps. We need to have alternate way to identify each device uniquely.

This is similar to web application where a user registers and verify the details. Taking this to mobile, as soon as user installs the app client will generate `UUID1` and send to the server (user acc

[2015-07-05 11:26] kracekumar commented on #19
`Feedback` will be submitted anonymously but all feedback data will have `UUID` as discussed in https://github.com/pythonindia/junction/issues/298.

We need to have flexible feedback objects. Every section should have feedback template. `Talks and Workshops` will different data points. As of now our paper based feedback form has same data like `How was the content ? +1, 0, -1, How was the presenta

[2015-07-06 01:43] theskumar opened #299 "Fix filters in `/to_review`"
![a](https://www.dropbox.com/s/49brere0ko3jsq5/Screenshot_2015-07-06_07_12_19.jpg?dl=1)

The filter doesn't seem to work, verify and fix.

[2015-07-06 02:07] theskumar opened #300 "fix names of pre-registered reviewers names (before it's was implemented)"
it seems the reviewers who had signed up before the number based reviewer name is implement for the same name `Reviewer`, it will be worth-while to either update their names or implement a rule to generate a name at realtime based of reviewer existing signature like database id or irreversible hash of his/her email/id.

[2015-07-06 02:16] theskumar commented on #300
Some more context.
![a](https://www.dropbox.com/s/jaekh5jqnvyytcs/Screenshot%202015-07-06%2007.38.26.jpg?dl=1)

[2015-07-06 05:04] kracekumar commented on #300
As of now, we added numbers for all. Can you confirm ?

[2015-07-06 05:06] kracekumar commented on #299
If only one filter is chosen the results works fine.

[2015-07-06 05:10] kracekumar commented on #299
We're reimplementing this in backend. We will be able to get in two or three days.

[2015-07-06 06:31] mudassir0909 commented on #296
yes there is but then if we go with jquery-only solution it'll be messy & harder to maintain. So, the solution is to use Backbone in the places where we wish to make parts of application ajax based.

[2015-07-06 10:27] theSage21 commented on #219
I am having trouble running the existing tests. `py.test` fails with internal error. Is there a specific way to run tests?

[2015-07-06 11:11] kracekumar commented on #219
Show the output ?

On Mon, Jul 6, 2015 at 3:57 PM, arjoonn sharma <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-07-06 11:24] theSage21 commented on #219
Aah, sorry, it was my mistake. I was mistakenly running from `~/dev/junction` as opposed to `~/dev/junction/junction`. Realized this immediately after I commented.

[2015-07-06 14:02] ChillarAnand commented on #256
Closing as this is done. A bug is yet to fix https://github.com/pythonindia/junction/issues/299

[2015-07-06 14:02] #256 closed

[2015-07-07 04:24] vnbang2003 commented on #145
This sounds good to me.

[2015-07-07 05:14] dhilipsiva opened #302 "Choice Fields (Or Enum equivalent) refactors"
I am working on Issue #291 . I cant help but notice the code snippets like `if conference.status != 1:`
from [junction/proposals/views.py](https://github.com/pythonindia/junction/blob/bc2cbae1fa97ed4fdf225988a0f794c446a0bcae/junction/proposals/views.py#L126) (It might be in some other places too). It is not immediately apparent what `1` represents. I have to open [junction/base/constants.py](https

[2015-07-07 05:49] rmad17 commented on #302
:+1:  Support @dhilipsiva 's point.

[2015-07-07 06:05] kracekumar commented on #302
+1 for enum. Please go ahead.

[2015-07-07 07:09] rishimukherjee commented on #298
I like the idea. +1

[2015-07-07 14:52] ChillarAnand commented on #296
As [discussed](https://github.com/pythonindia/junction/pull/297#issuecomment-118139744), we are sticking with server side filtering for now.

[2015-07-07 14:52] #296 closed

[2015-07-08 06:14] #162 closed

[2015-07-08 16:33] ChillarAnand opened #304 "Show last sent mail details to reviewers to avoid duplicates"
In proposal detail page, info about last sent email to proposer about content has to be shown.

[2015-07-08 16:35] ChillarAnand opened #305 "Generic mails for proposal authors"
We will have list of messages type and templates, say "Request for
content", " Talk selected", "Talk rejected", " Schedule published " and
message area will populate the data. Reviewer/Admin can edit and send
email. We should log the email sent info.

[2015-07-08 18:20] dhilipsiva commented on #291
I am not familiar with entire codebase. But is the following line correct? `proposal_sections` and `proposal_type` is swapped.
<img width="454" alt="screen shot 2015-07-08 at 23 43 29" src="https://cloud.githubusercontent.com/assets/502170/8578356/f3a720c6-25cb-11e5-9756-e82136029f5c.png">

[2015-07-08 19:36] kracekumar commented on #291
AFAIK, it is swapped. Looks like @ChillarAnand wrote it.

[2015-07-10 03:10] dhilipsiva commented on #291
@kracekumar `..if CFP date is elapsed, custom message CFP submission is closed...` The `submission is closed` message is not shown depending on date but on status. Just clarifying it so that there is no confusion.
<img width="436" alt="screen shot 2015-07-10 at 08 39 10" src="https://cloud.githubusercontent.com/assets/502170/8611473/2ca28078-26df-11e5-848f-d3bb4c972e74.png">

[2015-07-10 03:24] dhilipsiva commented on #291
Apologies for taing so long on completing such simple task. Been caught up with both Full Timae and Part Time works lately. :P Does #307 Look good?

[2015-07-10 19:30] kracekumar commented on #291
Yes that was previous assumption. Now we need to check for date.

[2015-07-11 09:49] theSage21 commented on #219
Is this how I should proceed? https://github.com/theSage21/junction/commit/265f053b2d9945973302bcf21a8fc1ab1801366b

[2015-07-13 03:26] theskumar commented on #219
You don't need to mock email functionality, checkout `outbox` module[1].

With pytest, you can also use available `outbox` fixture[2], while in development django is set to use `consoleBackend` so not actual email sent out anyways.

Sample Test:
[code]

__Footnotes__:

[1] https://docs.djangoproject.com/en/1.8/topics/testing/tools/#email-services
[2] https://github.com/pythonindia/junction/blob/ma

[2015-07-17 00:24] hTrap commented on #145
Please review https://github.com/pythonindia/junction/pull/311 for the above issue

[2015-07-17 19:12] #145 closed

[2015-07-19 16:28] kracekumar opened #312 "Voting option in proposal page"
When a reviewer goes to proposal page for `section` which is assigned to him, show a button to cast the vote like

![screen shot 2015-07-19 at 9 31 17 pm](https://cloud.githubusercontent.com/assets/311929/8766618/ad5598ba-2e5d-11e5-8836-196566b0c7f9.png)

Click on the button should go to voting page `http://localhost:8000/<conference>/proposals/<proposal>/vote/`.

Reviewer should be allowed to lea

[2015-07-19 16:32] kracekumar opened #313 "Filter by vote casted"
`Reviewers` list page should allow filtering by vote casted.

![screen shot 2015-07-19 at 10 01 43 pm](https://cloud.githubusercontent.com/assets/311929/8766761/cbd69b96-2e61-11e5-9b51-33f537296c98.png)

[2015-07-19 17:11] kracekumar opened #314 "Admin view to see casted vote"
`Admin/Conference` moderator should be allowed to see vote casted by all reviewers in `/vote/`. Only admin should be allowed to see the content. Proposals should be grouped by section

### Filters for admin
![screen shot 2015-07-19 at 10 18 20 pm](https://cloud.githubusercontent.com/assets/311929/8766804/23f2ca14-2e64-11e5-8f74-96cd736970e9.png)
![screen shot 2015-07-19 at 10 40 42 pm](https://clo

[2015-07-20 16:27] ChillarAnand commented on #312
Not sure about this. Reviewers can leave a comment in comment section?

[2015-07-20 16:36] ChillarAnand opened #316 "Migrate to Python 3"
As @theskumar [mentioned](https://github.com/pythonindia/junction/issues/201#issuecomment-90929480),  we can move to Python 3 and drop  support for Python  2.

[2015-07-20 16:47] kracekumar commented on #312
No this comment to say why they are voting +1 or -1. Probably call it as justification ?

[2015-07-20 16:51] ChillarAnand commented on #312
Still didn't understood :(
Whether  they are voting +1  or -1, can be  known from  the  vote value itself?

[2015-07-20 16:55] kracekumar commented on #312
If reviewer says -1. We want to know why it is -1 right ? It can be because
the content is not upto level or speaker didn't follow up. We need capture
the info. This info is viewable only by the reviewer and admin team. Other
reviewers/proposers aren't allowed to see this.

On Mon, Jul 20, 2015 at 10:21 PM, Anand Reddy Pandikunta <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
h

[2015-07-20 17:57] ChillarAnand commented on #312
Ok. In voting view, we will  show  this comment to corresponding  reviewer only.

For admin, we can have  a new view where  we will show (score of prop0sal)/(max score) and all vote comments by all reviewers?

[2015-07-21 04:13] theskumar commented on #299
It's seems to be happening because of spaces in the attributes `id` and `data-type`.

Noticed the use of:

[code]
where `id="Web Development"`, where instead a number id or slug should be used.

[2015-07-21 04:14] theskumar commented on #299
It works fine if you don't have spaces in the filter select item. e.g. `yes/no` in reviewers comment.

[2015-07-21 04:23] theskumar opened #318 "Use django-compressor with lib-sass"
We can get ride of grunt all together and use django-compressor with lib-sass[1], it doesn't require you to install bower or grunt or install any ruby gem. It's a pure python solution.

It complies sass in runtime in DEBUG=True, and you can an optional option to pre-compile & compress in production during collectstatic.

Ref:

[1] https://pypi.python.org/pypi/libsass
[2] https://github.com/pythoni

[2015-07-21 19:47] kracekumar commented on #312
Yes it will be shown as part of https://github.com/pythonindia/junction/issues/314.

[2015-07-22 17:31] #312 closed

[2015-07-24 14:45] kracekumar commented on #300
Hope this isn't issue any more.

[2015-07-24 14:45] #300 closed

[2015-07-24 14:45] kracekumar commented on #300
Please feel to reopen if things aren't working as expected.

[2015-07-24 14:49] kracekumar commented on #299
@theskumar If I am right this commit https://github.com/pythonindia/junction/commit/16009a53462f58e3a287951e60b7fd25ea036d36 fixed right ?

[2015-07-24 16:15] theskumar commented on #299
No it doesn't, i just improved some UI around it that's it. It requires a bit more of work to remove spaces in `id`.

[2015-07-27 06:21] #137 closed

[2015-07-28 06:59] kracekumar commented on #261
- https://github.com/pythonindia/junction/blob/master/junction/proposals/models.py#L200
- https://github.com/pythonindia/junction/blob/master/junction/proposals/models.py#L66

Logging these two models should be good @hTrap.

[2015-07-28 07:00] kracekumar commented on #261
We should able to filter on these logging by any one of the field. Say show me all `proposals modified based on review_status`.

[2015-07-29 20:07] #287 closed

[2015-07-30 06:31] pythonhacker opened #325 "Getting a blank page upon voting"
Wondering if this is correct. I think it should return some feedback saying your vote is recorded or better give options for upvote/downvote etc.
![screenshot from 2015-07-30 12 00 17](https://cloud.githubusercontent.com/assets/316177/8977029/a48bcff8-36b2-11e5-9cc3-a5006a8ef252.png)

[2015-07-30 09:03] kracekumar commented on #325
@ChillarAnand Can you have a look at this ?

[2015-07-30 16:13] ChillarAnand commented on #325
@kracekumar Wifi not working. Will checkout tomorrow.

Sent from my iPhone

[2015-07-30 17:13] ChillarAnand opened #327 "Comment voting should use ajax"
In proposal detail page, proposal up/down vote uses ajax. Same should be used for comment voting also. Right now it is reloading entire page.

[2015-07-30 17:24] kracekumar commented on #325
@pythonhacker Can you verify this is fixed ?

[2015-08-05 19:10] kracekumar commented on #298
@dhilipsiva Can you take up this task ? We're using Django REST Framework for serving API.

[2015-08-05 20:23] dhilipsiva commented on #298
Sure. But I cant work on this until Sunday. Running on a tight schedule. Please assign this to me if its not urgent.

[2015-08-05 20:31] kracekumar commented on #298
No worries. You can start working next week :-)

[2015-08-05 20:33] dhilipsiva commented on #298
Oh, great. In that case, I will take this up.

[2015-08-06 16:47] ChillarAnand opened #332 "Percentile calculation for votes"
Sum of votes for a proposal depends on number of reviewers assigned for a  section and conference chair might get biased as there is an option for `sort by number of votes`. We need to  calculate votes percentile & sort accordingly, to make it independent of number of reviewers.

[2015-08-08 09:25] #314 closed

[2015-08-10 19:06] kracekumar opened #333 "Add spreadsheet export for ReviewerVotes"

[2015-08-11 19:27] kracekumar commented on #298
@dhilipsiva Let me know if you need any help from my side.

[2015-08-12 00:58] dhilipsiva commented on #298
Oh shoot! I forgot about this. Will send a PR today.
On 12 Aug 2015 12:57 am, "Kracekumar Ramaraju" <notifications@github.com>
wrote:

[2015-08-13 01:52] tapasweni-pathak opened #334 "No dropdown for proposal section"
In submit a proposal [here](https://in.pycon.org/cfp/pycon-india-dev-sprint-2015/proposals/create/),
there is no dropdown in [proposal section](https://gyazo.com/0458a807c15eaa55344dd41aa30ad86b) which is mandatory field. Without this, it is [not allowing](https://gyazo.com/fefd53ee9a71f26e9d6194cc9431f961) me to submit the proposal.

[2015-08-13 02:39] vnbang2003 commented on #334
@tapasweni-pathak Thanks for point it out. I have add 3 section 1)Python (2) Django (3) Others.
@sayanchowdhury Can you please list down section so we can add it.

[2015-08-13 07:53] vnbang2003 commented on #334
Closing it now. Please re-open if you face same issue.

[2015-08-13 07:53] #334 closed

[2015-08-14 19:26] kracekumar opened #335 "Selected proposals should be displayed section wise in proposal list page"

[2015-08-15 06:54] kracekumar opened #336 "Explara integration"
We need to sync participants info to junction for various purpose.

- See how many ticket buyers actually vote for proposals
- Kiosk at sponsors stall.

We need to have separate table to map `user` and `ticket`. User may buy `workshop, dev sprint, talks` tickets.

The code/ui to sync can lie out of junction like installable django package. We can use Django admin UI to see ticket buyer and junctio

[2015-08-17 10:46] kracekumar opened #337 "Comment count in proposal list page should consider public comments not reviewers count"
https://in.pycon.org/cfp/pycon-india-2015/proposals/getting-started-with-ansible/ has not comments, but it shows 1.

[2015-08-17 12:10] pythonhacker commented on #325
Fixed

[2015-08-17 12:10] #325 closed

[2015-08-18 05:18] dhilipsiva commented on #302
This Issue can be closed, if there are no related bugs.

[2015-08-18 05:24] dhilipsiva commented on #298
@kracekumar Apologies on the delay. My wife and I had a baby boy last week. I am afraid I cannot take this up at the moment. I can surely work on this when I come back to Bangalore (Next week). But I am afraid I cant work on this until then. If this is not on priority, I can work on this next week.

[2015-08-18 05:43] kracekumar commented on #298
No worries :-)

[2015-08-18 07:06] #302 closed

[2015-08-18 18:02] ChillarAnand commented on #333
![img_0254](https://cloud.githubusercontent.com/assets/4463796/9338165/e0af59c0-4600-11e5-813c-961c24b3c4f8.JPG)

Color code:

[code]

@kracekumar @vnbang2003  Can  you  verify color code?

[2015-08-18 18:28] ChillarAnand opened #340 "Content url is showing twice in dashboard"
URL:  https://in.pycon.org/cfp/profiles/

![p1](https://cloud.githubusercontent.com/assets/4463796/9338913/f31f65ec-4604-11e5-899c-89a2c2ca54fc.png)

[2015-08-18 18:32] kracekumar commented on #340
When there are two links in `Content URLS`, each icon leads to each link.

[2015-08-18 18:32] #340 closed

[2015-08-18 18:57] #333 closed

[2015-08-18 19:04] kracekumar commented on #299
@ChillarAnand Can you take this up ? One of your pull request you gave recently had similar code. You can abstract it out.

[2015-08-19 20:00] kracekumar opened #343 "Export improvement"
There seem to be mismatch with the sum and number of votes in the excel exported (please confirm). I think it would be better if we can include proposal section and proposal type for each talk.

[2015-08-19 20:01] kracekumar opened #344 "Export spreadsheet enhancement"
Export feature should consider filters applied in the page (like, proposal section, proposal type) etc. It is a good to have feature to have.

[2015-08-20 14:12] kracekumar commented on #343
Also we should add proposers comment against each talk

[2015-08-22 07:04] theSage21 opened #345 "Unable to login with github"
I have previously registered with github.

When I try to login with Github, it simply says Social Network Login Failure.

**edit**
![screenshot from 2015-08-22 12 39 54](https://cloud.githubusercontent.com/assets/7693265/9422959/f29f11ee-48ca-11e5-8195-41a9531ed544.png)

This is encountered only when I try to login from the link provided in the email for updating talk content.
<http://in.pycon.org

[2015-08-22 14:32] kracekumar commented on #345
@vigneshsarma can you have a look ?

[2015-08-30 16:04] ChillarAnand commented on #337
This proposal has https://in.pycon.org/cfp/pycon-india-2015/proposals/python-traceback-for-humans/ only  1 comment but it is showing 2 in dashboard.

![t2](https://cloud.githubusercontent.com/assets/4463796/9568131/d182b57a-4f5e-11e5-876b-9a2a7d0f1ad1.png)

[2015-09-01 18:32] kracekumar opened #351 "Excel file name should be unique every time in Export Reviewers Vote"

[2015-09-03 18:53] kracekumar commented on #335
Fixed in https://github.com/pythonindia/junction/commit/9f75d2fe9295e77d2d4f116eb93ec544a755227c

[2015-09-03 18:53] #335 closed

[2015-09-04 12:04] kracekumar opened #352 "Show all proposal in list page"
Proposal list page should show all proposals, right now it is not showing logged in user's proposals.

[2015-09-04 12:24] kracekumar opened #353 "Support sponsored session in API"

[2015-09-04 14:38] kracekumar opened #354 "Don't filter logged in user sessions in proposal list."

[2015-09-05 09:47] kracekumar commented on #354
Fixed in 0702415dac5d3cee8eec12399c84f5b472233f97

[2015-09-05 09:47] #354 closed

[2015-09-06 10:33] kracekumar commented on #298
Fixed in https://github.com/pythonindia/junction/pull/355. We won't implement verification of device.

[2015-09-06 10:33] #298 closed

[2015-09-06 13:02] dhilipsiva commented on #298
Oh, nice. Thanks. Sorry I could not fix this.

[2015-09-06 14:21] ChillarAnand commented on #352
Looks like it is resolved  on `master`?

[2015-09-06 14:22] ChillarAnand opened #356 "Timezone warning for Device.verification_code_expires_at"
Warning while applying migrations

[code]

[2015-09-06 14:35] kracekumar commented on #298
Never mind :-)

On Sun, Sep 6, 2015 at 6:32 PM, dhilipsiva <notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-09-06 14:35] kracekumar commented on #352
Yes, I fixed yesterday.

On Sun, Sep 6, 2015 at 7:51 PM, Anand Reddy Pandikunta <
notifications@github.com> wrote:

--
Regards
Kracekumar Ramaraju
http://kracekumar.com
+91 85530 29521

[2015-09-06 14:56] #352 closed

[2015-09-13 13:05] vnbang2003 opened #359 "Panelist feedback should also have 2-3 question instead of just comment"
It been observed few panelist just add -1 as comment which doesn't help co-ordniator to give reason why talk is rejected.
We need to comeup with 2-3 mandatory question to understand reason for each vote panelist give
1) Quality of content ?
2) Do you think proposer have hand on experience for talk submitted
3) Is reviewers concern addressed ?
4)Comments

[2015-09-20 17:38] kracekumar opened #362 "Test junction under PyPy"
It will be cool to run junction on pypy and see if we can use it production. If the test benchmark is on par with CPython (we love faster one's ) and doesn't involve too much work, then switch to PyPy.

[2015-09-25 19:25] kracekumar opened #363 "Add feedback render page"
We collect text/choice feedback from mobile app. We need to show it to proposer, this is only valid for selected talks.

We need two tabs. One for choice feedback and other for text feedback. Choice feedback should use charts to represent the data. Choice feedback has normally three option like `Good, Bad, Ok`.   [Doughnut chart](https://en.wikipedia.org/wiki/Pie_chart#Doughnut_chart) is suited fo

[2015-09-26 10:35] kracekumar opened #364 "Add user profile"
When a user signup, we create Django User Object. We need to create a profile object (`OneToOne` relationship), but this should be optional.

`https://in.pycon.org/cfp/profiles/` currently displays all proposals by a user. We need to store `City`, `Phone`. This info is useful when talks get selected.

User should be able to edit `City/Phone`. Phone number should be string field.

[2015-09-26 18:04] #336 closed

[2015-09-26 18:12] ChillarAnand commented on #288
Also change glyphicons for `Reviews`  & `Reviewers Talk`

[2015-09-26 18:31] ChillarAnand opened #365 "Remove unnecessary info from cfp page"
![jj](https://cloud.githubusercontent.com/assets/4463796/10119110/4c640180-64aa-11e5-954d-9a6c261f1055.png)

In cfp page, guidelines, faq are displayed for each event. We can just display name & description.Guide lines  & FAQ can be added in correspoding pages.

[2015-09-26 19:20] kracekumar opened #366 "User should be able to connect social accounts"
Proposer can login via `Github/Google`. We should allow proposers to connect their `Facebook/Twitter/Github/LinkedIn` page so it will give good view of proposer technical competency.

All social accounts should be displayed automatically in `Speaker Info` section.

[2015-09-27 19:00] #363 closed

[2015-10-01 05:04] ChillarAnand opened #369 "Use ticket ids instead of ticket nums"

[2015-10-02 08:46] indradhanush opened #370 "Changing the title does not update the url"
Here's a link to my proposal:
https://in.pycon.org/cfp/pycon-india-2015/proposals/time-travel-with-python/

Initially the title was:
**Time travel with Python**

And I changed it to:
**Avoiding common pitfalls of datetime from a webapp's perpective**

The url remains the same. The url should be updated to reflect the new title, while also making sure that the url with the older title redirects to

[2015-10-02 10:17] jibin-jacob-jose commented on #369
I am interested in solving this. What I get from this is, use modal id instead of ticket_no from ticket modal.
or are you referring to rename the modal field

[2015-10-02 10:42] jibin-jacob-jose commented on #327
Working on this

[2015-10-02 17:35] kracekumar opened #371 "Add an option for co speaker."

[2015-10-04 02:36] sivaa opened #372 "Voting shouldn't be allowed post conference"
Voting on the proposals shouldn't be allowed after the talks/schedule is finalized.

[2015-10-19 18:32] ChillarAnand commented on #362
Junction doesnt have good coverage, so we are not sure if any thing breaks.

Even test timings doesn't seem good.
PyPy take 119 seconds, where as Py takes only 78 seconds.

PyPy:

[code]

Py:
[code]

May be i am missing something?

[2015-10-24 10:01] #288 closed

[2015-10-24 10:39] sjose1x opened #376 "There is not any 'create proposal' options for conferences which are in the 'Accepting Proposal' status"
There is not any 'create proposal' options for conferences which are in the 'Accepting Proposal'  status
![Uploading Screen Shot 2015-10-24 at 4.06.52 pm.png…]()

[2015-10-25 15:36] ChillarAnand commented on #362
As @vigneshsarma mentioned, i have updated to lastest pypy, there is only a  minor performance    change.

Python:

[code]

PyPy:

[code]

[2015-11-26 16:58] dhilipsiva commented on #302
@kracekumar I created a stand alone decorator for doing this [dhilipsiva/orm-choices](https://github.com/dhilipsiva/orm-choices). Would it be okay if I refactored this code to use the `orm-choices` library and send a PR?

[2015-11-26 18:23] kracekumar commented on #302
@dhilipsiva Sure, but one feature which will be useful is reverse lookup. If choice `Public` is `1`, db contains `1`, while returning the data via api, field need to bare the value as `Public` not 1.

[2015-12-07 13:02] gangadharmgithub opened #378 "Not able to install uwsgi requirement on Windows"
pip install -r requirements-dev.txt  fails with below error while installing uwsgi on Windows operating system.

------------------------------------
Traceback (most recent call last):
File "setup.py", line 3, in <module>
import uwsgiconfig as uc
File "c:\Users\Gangadhar\python-training\junction\uwsgi-2.0.11.2\uwsgiconfig.p
y", line 8, in <module>
uwsgi_os = os.uname()[0]
AttributeError: 'module'

[2015-12-07 14:55] ChillarAnand commented on #378
uswgi is required only for production. You can open `requirements.txt` remove `uwsgi` and continue.

If you need to install it on windows you need cygwin. Check [out this](http://stackoverflow.com/a/32165052/2698552).

[2015-12-18 19:19] kracekumar opened #380 "Assign one reviewer per sessionAssign one reviewer per session"

[2015-12-18 19:35] kracekumar opened #381 "Remove upvote option in future version"
`Upvote/Downvote` isn't considered while selecting the talk. Conference setting should have option for disabling/enabling voting.

[2015-12-18 19:36] kracekumar opened #382 "Change button color in reviewers dashboard"

[2015-12-18 19:37] kracekumar opened #383 "Remove +O in vote in reviewer voting"

[2015-12-18 19:38] kracekumar opened #384 "Comment should be mandatory for reviewers internal comments"

[2015-12-18 19:39] kracekumar opened #385 "Weekly reminders/status update to reviewers about their pending"
This issue requires much more thought should be implemented at the end.

[2015-12-18 19:42] kracekumar opened #386 "Incorporate in junction to link previous year proposer's cfp and feedback"
This should be available to only reviewers and admin.

[2015-12-18 19:43] kracekumar opened #387 "Proposal completion status/progress bar for submission"
This is similar to `LinkedIn` profile completion progress bar.

[2015-12-19 05:21] sjose1x commented on #372
How can I reproduce this issue..?

[2015-12-19 05:24] #316 closed

[2015-12-19 05:35] sjose1x commented on #372
Hi,
I'm working on this issue.

[2015-12-19 05:57] nava45 commented on #383
I am working on it

[2015-12-19 06:04] kracekumar opened #388 "Remove/refactor repeated code and add test cases"
Lot of code is repeated across apps, club them and remove the repeated tests. Add relevant test cases.

[2015-12-19 06:26] kracekumar opened #389 "Add requires.io support to track outdated requirements"
https://requires.io/github/pythonindia/junction/requirements/?branch=master

[2015-12-19 08:15] stuckinfront opened #392 "Validation Check can be included for Mobile Number field on Sign Up page[Enhancement]"
Right Now string values for mobile number getting accepted.

[2015-12-19 08:23] stuckinfront opened #393 "Mandatory fields can be shown as asterisk while updating profile."
Right now if user is not selecting any mandatory field then while submitting ,user will see what and all mandatory fields are.This can be informed to user at earlier stage while updating.

[2015-12-19 08:25] #393 closed

[2015-12-19 08:32] stuckinfront opened #394 "Delhi is displayed as "Dehli" under interested locations on update profile page."

[2015-12-19 08:33] #394 closed

[2015-12-19 08:34] #392 closed

[2015-12-19 09:10] nava45 commented on #327
I am looking into it

[2015-12-19 10:09] sjose1x commented on #364
- Create a new model Profile with one to one relationship with user.
- Add City/Phone fields
- Create/Edit form

[2015-12-19 10:15] sjose1x commented on #364
I'm on it.. Thanks

[2016-01-02 03:20] bhanuvrat opened #398 "migrate to docker-compose from fig"
fig is now officially docker-compose.
minor change, to stay abreast.

[2016-01-03 07:53] vsham20 commented on #264
I am working on this issue

[2016-01-03 10:58] kracekumar commented on #398
+1. Can you send a pull request ?

[2016-01-04 13:50] ChillarAnand commented on #264
@vsham20 Looks like we don't have custom user model yet. We are using default `User` provided by django. We have to create new model here.

[2016-01-04 13:52] ChillarAnand commented on #264
Dashboard view https://github.com/pythonindia/junction/blob/master/junction/profiles/views.py

[2016-01-04 13:53] ChillarAnand commented on #388
@kracekumar  Completed?

[2016-01-04 18:56] kracekumar commented on #388
@ChillarAnand Nope. I am on halfway, but will jolt down list of points to speed up the development.

[2016-01-05 18:36] kracekumar commented on #388
#397 does repeated code refactor. Test Cases are pending.

[2016-01-05 18:48] kracekumar commented on #388
## Test cases

### User creation
[ ] - Create a new user with user name and password
[ ] - Login
[ ] - Profile creation

### Proposal

[ ] - Create new proposal
[ ] - Edit proposal
[ ] - Delete proposal
[ ] - View proposal
[ ] - Filter proposals by type and section

### Reviewer

[ ] - Reviewer private comment
[ ] - Reviewer vote
[ ] - Reviewer Internal comment

### Proposal Comment

[ ] - Public

[2016-01-09 10:34] vsham20 commented on #264
@ChillarAnand hii...how can i setup this on my local machine. I see the documentation but i am getting some errors.

[2016-01-09 10:57] ChillarAnand commented on #264
Please post the errors you are getting.

[2016-01-09 11:22] vsham20 commented on #264
@ChillarAnand here http://paste.openstack.org/show/483364/ i am getting this "InsecurePlatformWarning" and i cant access it via browser too

[2016-01-09 12:33] ChillarAnand commented on #264
It is just a warning. You can ignore that if packages are installed successfully.

[2016-01-09 12:34] vsham20 commented on #264
@ChillarAnand cool ...and what about accessing it?

[2016-01-10 17:16] kracekumar opened #400 "django bootstrap is unable to render invalid form"
When a form with invalid `vote_value` is passed to `proposal_reviewer_vote` form, bootstrap thorws up with following traceback

[code]

@ChillarAnand can you have a look ?

[2016-01-12 17:01] ChillarAnand commented on #264
If  that step  is  completed,  all  packages are installed.
What do you want to access?

[2016-01-12 18:03] kracekumar commented on #388
Closed via https://github.com/pythonindia/junction/pull/401

[2016-01-12 18:03] #388 closed

[2016-01-12 18:07] kracekumar commented on #383
@nava45 any update ?

[2016-01-12 19:25] kracekumar opened #402 "Add ConferenceSettings options"
The certain set of features like `public voting, proposal visibility` aren't configurable. Conference like `PyCon US` doesn't support public voting. Junction should be able to support it. In order to facility that conference admin should be allowed to toggle the features.

The change should be backward compatible and whenever conference is created default option should be created.

[2016-01-12 19:36] kracekumar opened #403 "Conference admin control"
Currently Django admin is used to control all `conference, reviewers, feedback questions, reviewer internal questions`. Site admin is allowed to manage all these features. Every year conference admins are different. Conference admin should be allowed to add new `reviewers`, configure `questions` rather than site admin. Site admin should be allowed to change details across conference.

Admin site r

[2016-01-13 09:30] nava45 commented on #383
No. I am leaving this bug right now. Please somebody can work on this.

[2016-01-29 07:20] ramaseshan opened #404 "Installing requirements wouldnt work"
So I downloaded the code, and did a

`pip install -r requirements-dev.txt`

and it wouldnt work.

following is the trace log :

[2016-01-29 09:21] gprakhar commented on #404
Same issue.
I figured out what exactly the issue is.
The star for globing at end of the package name:
`dj-database-url==0.3.*`
is causing the error.
If you comment this line and rerun the command, it again gives same error for different line:
` uwsgi==2.0.*`

What is the exact package version to be used here for dj-database-url & uwsgi ?

[2016-01-29 09:30] kracekumar commented on #404
Can you do `pip install -U pip` and `pip install -r requirements-dev.txt` ?

[2016-01-29 09:33] gprakhar commented on #404
Is the first command is to be executed inside the virtenv created for junction ?

[2016-01-29 09:44] gprakhar commented on #404
First activate your virtual env.
Install 'pg_config' tool, which is in postgresql-devel package (libpq-dev in Debian/Ubuntu)
Execute the commands mentioned by Kracre above.
It works!! Please mark resolved.

[2016-01-29 09:56] kracekumar commented on #404
Yep, both inside virtualenv.

[2016-01-29 10:00] #404 closed

[2016-01-30 08:40] ChillarAnand opened #405 "Make twitter handle configurable"

[2016-01-31 15:18] #405 closed

[2016-02-08 20:59] theskumar commented on #372
@sjose1x Any updates on this?

[2016-02-10 05:21] sjose1x commented on #372
@theskumar Please have a look..

[2016-02-13 18:31] #402 closed

[2016-02-14 14:57] #382 closed

[2016-02-14 14:57] #383 closed

[2016-02-15 19:01] #384 closed

[2016-02-15 19:02] kracekumar commented on #381
Fixed in #408.

[2016-02-15 19:02] #381 closed

[2016-02-20 15:34] suraj-jayakumar opened #410 "Pip requirements error"
Tried to install the requirements using new virtual environment of Anaconda [Windows 10]
When i run this

I get this error

  Using cached uwsgi-2.0.12.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "c:\users\surajj~1\appdata\local\temp\pip-build-kidcbj\uwsgi\setup.py", line 3, in <modul

[2016-02-28 18:07] vinay13 opened #411 "error while installing requirements-dev.txt"

[2016-02-29 12:35] ChillarAnand commented on #403
We can create a group and then assign required permissions to moderator. Will that be sufficient? @kracekumar

[2016-02-29 12:45] theskumar commented on #411
@vinay13 can you provide the error log that you getting.

[2016-02-29 12:48] theskumar commented on #410
@suraj-jayakumar I am really sorry i don't have a window machine so I can't really help here.

That said, the uwsgi is not needed to be installed during development, so you should be able to comment  out that requirement from `requirements.txt` (do not commit that change) and then try installing the dependencies.

[2016-03-01 19:28] vinay13 commented on #411
error : pg_config executable not found.
It is resolved now by running this command .. sudo apt-get install libpq-dev python-dev.
Thanks.

[2016-03-04 05:47] kracekumar commented on #403
Not sure this will work. Can you quickly prototype and push in some branch ?

[2016-03-10 18:12] #411 closed

[2016-03-10 18:34] #389 closed

[2016-03-10 18:34] #398 closed

[2016-03-10 18:35] #378 closed

[2016-03-10 18:39] theskumar commented on #345
@theSage21 thanks a lot for reporting but this is no longer valid it seems. Please reopen this ticket if you think the issue is still persisting on your end.

[2016-03-10 18:39] #345 closed

[2016-03-10 18:42] #220 closed

[2016-03-10 18:43] #351 closed

[2016-03-10 18:45] theskumar commented on #364
@sjose1x is it possible to test your implementation somewhere?

[2016-03-10 18:48] theskumar commented on #365
Just for clarification, the FAQs and other sections are part of the description. I'm happy if we just keep the  title and meta info currently displayed.

This is good candidate for new comers to it up.

[2016-03-10 18:50] #125 closed

[2016-03-11 09:47] jklmn13 commented on #327
@nava45  Do you mind, if I work on it

[2016-03-11 10:12] nava45 commented on #327
Please go ahead.

On Fri, Mar 11, 2016 at 3:17 PM, jaocb <notifications@github.com> wrote:

--
Navaneethan R,
call me: +91 959 120 4532,
tech <http://navaspot.wordpress.com> | me
<http://navaneethanit.wordpress.com>

Thank you my friend for our beautiful conversation which
brings harmonious between us hopefully.

[2016-03-13 09:00] vinay13 opened #415 "unable to login by github."
Exception Value: SocialApp matching query does not exist.
Exception Location: /home/dexter/workDrive/junction/myvenv/local/lib/python2.7/site-packages/django/db/models/query.py in get, line 357

[2016-03-13 09:09] kracekumar commented on #415
Hope you have created an app in `Github` and added details as per [documentation](https://django-allauth.readthedocs.org/en/stable/installation.html).

[2016-03-13 16:00] ChillarAnand commented on #403
Fixed in #414

[2016-03-13 16:00] #403 closed

[2016-03-22 13:01] #415 closed

[2016-03-23 18:57] #257 closed

[2016-03-23 20:16] pulkitpahwa commented on #371
I am working on it

[2016-03-25 20:55] PeeyushAgg opened #420 "Footer Correction"
Someone in Mailing list pointed out the outdated copyright year.

Please update the copyright year in ```junction/mkdocs.yml``` from ```2015``` to ```2016```

[2016-03-26 04:50] ChillarAnand commented on #420
Thanks for opening issue here.

It is already fixed in https://github.com/pythonindia/junction/pull/417

[2016-03-28 03:52] theskumar commented on #420
As pointed out, this just requires a new deployment. Closing this now.

[2016-03-28 03:52] #420 closed

[2016-03-28 03:55] theskumar commented on #371
@pulkitpahwa What the current status of this? Let us know if you where able to make progress or need any help of any sort.

[2016-03-28 03:57] #400 closed

[2016-03-28 04:31] pulkitpahwa commented on #371
@theskumar I have started reading the code, and building the project step by step. No help required as of now. Will let you know if I need some help.

[2016-03-28 04:34] theskumar commented on #371
Great! keep us updated. Thanks for taking this up.

[2016-03-28 13:42] theskumar commented on #196
@kracekumar We should make a new release, as a lot of things have been updated/add in the master since this release. There are almost 450+ commits.

Do we need to do any preliminary checks before this release?

[2016-03-28 13:59] theskumar commented on #31
It seems these feature can't really be part of the junction, they are better suited to be included as part of main conference website or landing page.

It would be little too much to maintain these features in a software meant to manage proposals.

I'm closing this, but feel free to re-open if you think it make sense to have these feature even now.

[2016-03-28 13:59] #31 closed

[2016-03-28 14:00] #327 closed

[2016-03-28 14:15] theskumar commented on #370
A valid point, and it does make sense to be able to update the url. @indradhanush thanks for reporting this.

@kracekumar @ChillarAnand I propose to use an alternate url scheme for proposals using a option unique id along with the slug, if the unique id is present use that to redirect to the correct sluggifed url. (slug being generated on-the-fly at the request time), thoughts?

The url scheme wou

[2016-03-30 18:20] kracekumar commented on #370
@theskumar As long as existing urls work, I am ok for the change.

[2016-03-30 18:30] kracekumar commented on #196
@theskumar Master branch is up to date. It's good to make a release.

[2016-03-31 11:06] #196 closed

[2016-03-31 20:03] #299 closed

[2016-03-31 20:06] theskumar commented on #293
@vnbang2003 it seems most of the functionality mentioned have been implemented.

Can you verify that the desired functionality existing and list down any missing pieces. Thanks.

[2016-03-31 20:11] #356 closed

[2016-03-31 20:16] theskumar commented on #172
This looks duplicate of #291, @kracekumar it seems this functionality exist now. Please confirm if not. Thanks.

[2016-03-31 20:45] #370 closed

[2016-04-01 04:22] vnbang2003 commented on #293
Yep done. closing it

[2016-04-01 04:22] #293 closed

[2016-04-01 06:13] #365 closed

[2016-04-01 06:13] theskumar commented on #365
This is now in master and deployed.

[2016-04-04 21:08] kracekumar commented on #172
Yep this is fixed.

On Fri, Apr 1, 2016 at 1:46 AM, Saurabh Kumar <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-04-04 23:45] #172 closed

[2016-04-08 05:52] theskumar opened #427 "Add ability to cancel/remove casted vote"
Clicking on either upvoted/downvoted button should remove the casted vote. Currently, it does nothing.

[2016-04-08 07:28] #427 closed

[2016-04-23 06:50] #369 closed

[2016-04-27 18:51] raun commented on #387
I want to work on this feature. Can you help me? And tell me where to start?

[2016-04-27 18:59] raun commented on #387
Correct me if I am wrong here, the data for getting the progress can be fetched from junction.proposals.models.Proposal and I need to implement a method that can compute the progress of a proposal.

[2016-04-27 19:34] raun commented on #387
And then expose a GET api for getting the progress of an object identified by the slug. Does the approach looks right to you guys?

[2016-06-13 06:34] theSage21 opened #433 "Proposal voting does not return to 0 on +-1"
To recreate

- Create a proposal
- Upvote
- Downvote
- Watch bug in action

Proposal switches between -1 and +1.
+1, -1 should return votes to zero right?

[2016-06-13 08:17] theskumar commented on #433
No, either to upvote or downvote a proposal. To remove your vote, you would need to click on the `upvote` or `downvote` icon once again. Let me know if this clears up the confusion.

[2016-06-13 08:19] theskumar commented on #433
I'm closing the ticket for now to keep things sane, reopen the ticket as necessary! Thanks for all the help @theSage21!

[2016-06-13 08:19] #433 closed

[2016-06-13 08:20] theSage21 commented on #433
Right, it does. I was just about to close it. :+1:

[2016-06-14 03:41] bhanuvrat opened #434 "Adding multiple speaker to a proposal"
A talk may be delivered by more than one speaker.
The system should facilitate the proposer to add more than one speaker.

To begin with, simply indicating that "speaker info" for more than one person can be added would suffice.

[2016-06-14 17:54] vnbang2003 opened #435 "Display CFP timelines"
In the Proposal page we should display the CFP timeliness like Proposal acceptance deadline, First Cut dates, Final submission deadlines, Public voting etc.
if possible make it configurable.

[2016-06-21 00:16] anandology opened #436 "Logout should redirect to the same page"
Currently logout redirects to `/`. So I end up on the conference website instead of CFP.

The right thing to do would be to redirect back to the same page. If you really want to redirect to the root, then it should be root of the application, not /.

[2016-06-21 00:24] anandology opened #437 "Make URLs more readable"
Make the URLs more readable. For example, can you guess what this URLs are about?

https://in.pycon.org/cfp/2016/proposals/?proposal_type=8#proposals
https://in.pycon.org/cfp/2016/proposals/?proposal_section=34#proposals

I suggest changing them to the following.

https://in.pycon.org/cfp/2016/proposals/all (to show all the proposals)
https://in.pycon.org/cfp/2016/proposals/all/type-workshops
http

[2016-06-21 00:29] anandology opened #438 "The section/type pages don't have a heading"
The filtered view of proposals by type and section do not have any heading, making it hard to figure out what page we are on.

https://in.pycon.org/cfp/2016/proposals/?proposal_type=8#proposals
https://in.pycon.org/cfp/2016/proposals/?proposal_section=34#proposals

I suggest changing the [View All Proposals X] link to [Section - Web Development X].

[2016-06-21 00:43] anandology opened #439 "Make it easy to navigate though proposals in a section"
Right now Junction don't have a way to navigate through proposals of a section. For this we need to add next/prev links to a proposal page and also they should understand which section the user currently in.

Good example of this pattern is navigating though photos in a flickr set.

https://www.flickr.com/photos/kushaldas/15243627367/in/album-72157648319479582/

It is showing photo 15243627367, in

[2016-06-22 04:51] vnbang2003 opened #440 "Enforce reviewers to add more than 30 character in comment section while voting"

[2016-06-22 12:12] aktech opened #441 "Proposal undo upvote/downvote doesn't works"
To Recreate:

1. Go to any proposal
2. Either upvote or downvote
3. Now press on the same upvote or downvote button (exactly what you did in previous step) to undo your vote.
4. That doesn't works.

See the bug in action.

[2016-06-23 04:26] theSage21 opened #443 "Proposal comment count is off"
I am unable to point out the source of this but the proposal comment count on the main page is wrong.

There are two comments on my proposal and the main proposal list shows three.
![screenshot from 2016-06-23 09-51-05](https://cloud.githubusercontent.com/assets/7693265/16291816/a16a1a86-3928-11e6-8b14-cfc9c59b1e0d.png)
![screenshot from 2016-06-23 09-51-25](https://cloud.githubusercontent.com/ass

[2016-06-23 06:59] #443 closed

[2016-06-23 07:04] kracekumar commented on #443
@theSage21 It's fixed now. Thanks for reporting.

![screen shot 2016-06-23 at 12 45 14 pm](https://cloud.githubusercontent.com/assets/311929/16294514/ba691c9c-393e-11e6-868d-249717d887ed.png)

[2016-06-23 07:05] theSage21 commented on #443
@kracekumar thank you :+1:

[2016-06-23 08:43] smtchahal opened #445 "Directory created after running all tests successfully"
After running all tests successfully (`$ py.test`), a directory called `qr_files` gets created at the root of the project, containing a single file named `Pankaj Kumar_TKEFAJC.png`.

Steps to reproduce the bug:

1. Start with a clean working directory and run `py.test`.
2. Make sure the tests are successful.
3. There's a directory named `qr_files` at the root of the project.

Apparently this is do

[2016-06-23 09:25] theskumar commented on #445
@smtchahal adding `qr_files` to `.gitignore` works, want to submit a PR?

[2016-06-23 09:42] smtchahal commented on #445
Done!

[2016-06-23 13:35] #445 closed

[2016-06-23 18:30] smtchahal commented on #441
Just sent in a pull-request that fixes this. I would add tests, but I couldn't find a suitable test module. Let me know what you think.

[2016-06-24 14:16] ChillarAnand commented on #434
Tracking at #371

[2016-06-24 14:16] #434 closed

[2016-06-24 15:40] #332 closed

[2016-06-24 19:54] aktech commented on #441
ping @theskumar @kracekumar

[2016-06-25 11:45] #436 closed

[2016-06-25 11:45] #440 closed

[2016-06-25 12:12] #441 closed

[2016-06-27 07:59] nibrahim opened #453 "Namespace the URLs by year"
The website has some parts that are namespaced by year (e.g. in.pycon.org/2016 for the main page) but some parts that are namespaced by functionality (e.g. https://in.pycon.org/cfp/2016/proposals/). This is confusing in many ways. e.g.
  - Some pages are not really part of any conference (e.g. https://in.pycon.org/cfp/)
  - Some pages use the wrong theme (e.g. https://in.pycon.org/blog/2015/) uses

[2016-06-27 10:03] kracekumar commented on #453
Since 2012 CFP follows the current pattern but URL may be different [0]. I am aware PyCon US does `/2016/speaking/` but the contents is  unavailable for public. The selected proposals details are part of schedule. Every year, they clear database. If we follow same path every year new instance of the junction should be setup. Junction is not only used by PyCon India, there are other conferences usi

[2016-06-27 10:33] nibrahim commented on #453
I see that with 2012, the funnel is namespaced under the year https://in.pycon.org/2012/funnel/pyconindia2012/ but after that, you're right, it's funnel/year.

But before the implementation details, do you think it's worth doing? If so, we can find a path of least resistance. Otherwise, we can drop it without wasting time on the technical details.

[2016-06-27 11:07] kracekumar commented on #437
I agree with using `proposal_type=<name>` rather than `id`.

[2016-06-27 11:14] kracekumar opened #454 "Remove non assigned sections in `to_review` page"
Conference has many sections and proposal reviewers are assigned for few sections. The unassigned section names are displayed in `to_review` page. Remove the unassigned sections in the page.

[2016-06-27 14:54] smtchahal commented on #372
I want to work on this issue, but just to be clear, does this refer to the reviewer votes (`ProposalSectionReviewerVote`) or users' up votes/down votes (`ProposalVote`)?

[2016-06-28 01:58] theskumar commented on #372
@smtchahal i think this has already been taken care off. You may like to cross check. And yes this for both.

[2016-06-29 04:11] smtchahal commented on #372
We should still probably add tests that check for this though, because I'm not yet sure what disallowing voting post-conference means. Does that mean voting on a conference's proposals isn't allowed if the conference starts in the future (tomorrow or later) or that the conference's status is accepting proposals  and/or accepting votes? Or both?

[2016-07-01 10:39] #454 closed

[2016-07-01 10:41] kracekumar commented on #453
I find value for blog at least and not CFP.

[2016-07-01 10:47] kracekumar commented on #376
These are two disconnected things. Unfortunately it can't be automated and manually modified in admin page.

[2016-07-01 10:52] kracekumar commented on #372
It is checked here https://github.com/pythonindia/junction/blob/fe98c691b299a66588af670c3b422cd5a3437ad9/junction/proposals/views.py#L190. You're right, we need to add test case. Can you add test case ?

[2016-07-01 11:04] kracekumar commented on #171
We already have working API for mobile development. New endpoint entry will have separate issue.

[2016-07-01 11:04] #171 closed

[2016-07-01 14:26] smtchahal commented on #372
That seems to prevent votes against conferences that start in the future, and it only seems to work for user votes (not reviewer votes). Is that intended? Also, someone can still vote on the proposals by sending a POST request to the appropriate URL with the appropriate headers &ndash; there's no protection in `vote_views.proposal_vote`.

I suggest adding a `allows_voting` method in `models.Propos

[2016-07-01 14:51] kracekumar commented on #372
Good catch. There should be a check.

No coupling logic to model.

Can you point out the code snippet which allows this ?

[2016-07-01 16:41] #438 closed

[2016-07-02 08:08] theskumar commented on #453
I agree with @kracekumar and can't see this discussion relating to junction now. I'm closing the ticket. Thanks @nibrahim, but sorry we really don't much choice. Blog discussion can be moved to https://github.com/pythonindia/inpycon-blog.

Best.

[2016-07-02 08:08] #453 closed

[2016-07-02 13:47] kracekumar opened #458 "Markdown preview isn't working in production"
Junction uses [django-pagedown](https://github.com/timmyomahony/django-pagedown) for markdown input. In the local environment, comment section displays the preview whereas this is missing in production.

#### Staging screenshot
![screen shot 2016-07-02 at 7 25 04 pm](https://cloud.githubusercontent.com/assets/311929/16540623/ed9b9652-4088-11e6-8e19-db928683178f.png)

#### Production screenshot

![

[2016-07-02 14:37] theskumar commented on #458
the pagedown_init.js doesn't seems to be upto date on server. Here is the diff, local vs prod:
<img width="616" alt="1___tmp_ht__zsh_" src="https://cloud.githubusercontent.com/assets/236356/16540856/8b78eb2a-4090-11e6-8ec3-795fd46d790d.png">

[2016-07-02 14:38] theskumar commented on #458
Not sure, why this would have happened though. collectstatic is supposed to overwrite the existing files, right?

[2016-07-02 15:04] theskumar commented on #458
well, i've updated the file manually for now. It would be worth looking into why this happened. pagedown version is same on my local and remote machine.

[2016-07-02 15:12] theskumar commented on #458
Used `--clear` with collectstatic to get a fresh copy of the file.

Generally, the files are updated based on timestamps, but i've no clues why this didn't happen for pagedown library.

@vigneshsarma https://docs.djangoproject.com/en/1.9/ref/contrib/staticfiles/#collectstatic has more info.
Do you think it's a good to add `--clear` to https://github.com/pythonindia/magudi/blob/master/salt/roots/li

[2016-07-02 16:15] vigneshsarma commented on #458
From the docs, it seems like collectstatic itself is supposed to update the files if it has been modified. Not sure why it didn't happen in this case.

@theskumar `--clear` seems like an option.

But during the deploy it will cause a short period where the static files will be delete and site might have issues for a short time. This will be a matter of seconds.

If this is acceptable we can add th

[2016-07-02 17:02] smtchahal commented on #372
Well there's nothing in the code that prevents this. You can confirm this by logging in as admin, creating a proposal in a conference with a past create date in a particular section, then making admin a conference reviewer and then a proposal section reviewer for that section. You can't up vote or down vote on the proposal, that works as expected, but you can still cast a reviewer's vote if you ar

[2016-07-02 20:03] kracekumar opened #462 "Add proposal API"
Junction doesn't have API to expose proposals public data. There are APIs for `conference, schedule, venue` etc ... Junction needs to have API for the proposals.

`Slug: /api/v1/proposals?conference_name=conference_name`

API returns 20 proposals at a time with the total count.

[code]
- `count` contains a total number of items.
- `data` contains list of proposals details.
- Proposal details shoul

[2016-07-02 20:11] kracekumar commented on #372
Rather than relying on the date, any conference which is not in `Schedule Published` status can accept voting.

I am ignoring the admin use case you pointed. Since that can be done by the superuser.

Would you like to make the change ?

[2016-07-03 07:53] smtchahal opened #463 "Failed integration test"
Apparently one integration test, namely `test_reviewer_views.test_get_proposal_votes_dashboard` now fails, at least under Python 3.4.3.

[code]

[2016-07-03 11:08] kracekumar commented on #463
@ChillarAnand is the one who broke it :-)

[2016-07-03 11:10] kracekumar commented on #458
No downtime of any asset.

[2016-07-03 11:42] ChillarAnand commented on #463
Uh oh, that test succeeded in local machine

[2016-07-03 12:17] kracekumar opened #466 "Comment Email should say about privacy of the comment"
Whenever a user leaves a comment, the list of concern users gets an email. The email should say this comment was `Public comment, Review comment, Reviewers only comment`. This helps the receiver to get the context and medium.

[2016-07-03 14:01] ChillarAnand commented on #463
Thankyou @smtchahal. Fixed in  https://github.com/pythonindia/junction/pull/465

[2016-07-03 14:01] #463 closed

[2016-07-04 18:16] nibrahim opened #468 "Bad formatting in text/plain part of notification email."
I read email using an offline MUA and prefer to read the text/plain part (rather than the HTML one). It's very badly formatted right now. All the tags used for emphasis etc. are all converted into literals and it's a mess. It looks like the default is text/html and the it's just been quickly converted into text/plain. Here's what it looks like now.

[code]

This needs to be cleaned up.

[2016-07-04 18:18] kracekumar commented on #468
Yes, we send only `HTML` email. Will add `text` as well.

[2016-07-04 18:18] #466 closed

[2016-07-04 18:42] RishabhJain2018 commented on #364
@theskumar Can I work on this ?

[2016-07-04 18:54] nibrahim commented on #468
Thanks. Maybe I'm just very behind the times preferring text/plain emails. :)

[2016-07-04 19:02] kracekumar commented on #468
There are a group of people use it with Emacs, just that in recent changes, I overlooked it.

[2016-07-04 21:14] RishabhJain2018 commented on #364
@kracekumar @theskumar  Please tell me where will you take the input of city, phone from user . Also brief me about the Create/Edit Form.

[2016-07-05 03:24] theskumar commented on #364
It will happen just after registration and should be editable via user > edit profile menu item.

[2016-07-05 14:55] ChillarAnand commented on #468
@nibrahim Sorry for inconvenience.  Will be fixed in #470

[2016-07-05 14:59] #458 closed

[2016-07-05 15:06] ChillarAnand commented on #376
Hopefully that answers your question. Feel free to reopen if you have any other issues.

[2016-07-05 15:06] #376 closed

[2016-07-05 19:55] #468 closed

[2016-07-05 20:12] kracekumar commented on #458
@ChillarAnand Is it fixed in production ?

[2016-07-06 16:32] ChillarAnand commented on #458
I think @theskumar fixed this in production.

[2016-07-06 16:55] kracekumar commented on #458
@ChillarAnand You're right.

[2016-07-06 16:55] ChillarAnand opened #471 "Make tests faster?"
[code]

Just to run a single test it is taking >75 seconds.

Maybe fixtures are taking a lot of time? Is there a way to make it faster?

[2016-07-06 16:56] kracekumar commented on #292
This is fixed in production. Preview is right below the comment text area.

[2016-07-06 16:56] #292 closed

[2016-07-06 17:53] kracekumar opened #472 "DB index"
Junction has a large number of filters around `conference, proposals, comment, proposal type, and section`.  As long as these filters are on foreign key, performance is fine. The problem arises when the filter is applied on more than one field. Investigate all queries and add necessary index.

[2016-07-11 10:34] kracekumar opened #478 "List assigned sections in reviewer dashboard"
List assigned sections in reviewer dashboard https://in.pycon.org/cfp/<slug>/proposals/to_review/

[2016-07-13 04:00] vnbang2003 opened #480 "Comment sections"
This year we have getting feedback from reviewers that they commented in public comment section.
Should we make public comments readonly fore reviewers so they use reviewers section to comment.

[2016-07-13 08:25] ChillarAnand commented on #480
@vnbang2003  Activating `reviewer comment` tab instead of `public comment ` tab should be fine?

[2016-07-13 12:04] kracekumar commented on #480
This is negligence from the reviewer. Three tabs should be visible for the reviewer. If they wish to comment in public section for various reasons, it's up to them. Can't do much.

[2016-07-13 16:45] akshayaurora opened #481 "Dashboard needs ability to sort through reviewed/unreviewed proposals."
Dashboard needs ability to sort through reviewed/unreviewed proposals.

[2016-07-13 16:45] akshayaurora commented on #481
@kracekumar ^^

[2016-07-13 19:06] kracekumar opened #482 "Declare `urls` in the app and include in main urls.py"

[2016-07-13 20:16] kracekumar commented on #481
Fixed in #483 #485 #484.

URLS
-------

- https://in.pycon.org/cfp/<slug>/dashboard/proposal_state/?q=unreviewed
- https://in.pycon.org/cfp/<slug>/dashboard/proposal_state/?q=reviewed

[2016-07-13 20:16] #481 closed

[2016-07-14 13:39] vnbang2003 commented on #480
I understand negligence will not it be good to request for some sort of confirmation to make sure they  intended to do so.

[2016-07-14 13:41] vnbang2003 opened #486 "Remainder for reviewers"
After seeing two years reviews i think it will be good if we add automated way to send remainder on unreviewed talk to reviewers and their link .
Say 7 days before the deadline on daily basis .

[2016-07-14 17:21] kracekumar opened #487 "Email shouldn't have reviewer's name"
There is a new Reviewer Only comment on X by Y. This email is triggered when a reviewer leaves a comment in "Reviewers Only" tab. Here Y is the real name and not nick. This should be reviewers nick.

[2016-07-14 19:04] kracekumar opened #488 "In votes dashboard add an option to sort the proposal based on reviewers vote"

[2016-07-14 19:16] kracekumar opened #489 "Add newrelic"
New relic free service provides analysis on code performance and database queries time. This is beneficial for optimization.

[2016-07-15 04:53] ChillarAnand commented on #489
Newrelic provides only 14 days trail? Are there any other alternatives?

How about [silk](https://github.com/django-silk/silk)?

[2016-07-19 19:22] #487 closed

[2016-07-19 19:22] #478 closed

[2016-07-19 19:24] #488 closed

[2016-07-24 10:30] vnbang2003 opened #497 "Display proposers previous talk to reviewers"
When i login as Reviewers i should be show list of previous talk submitted by proposers and proposal status.
This feature will help reviewers to understand back ground reference also.

If possible connect even open space also .

[2016-07-24 12:13] userimack commented on #482
hi, I want to work on these issue.

[2016-07-24 14:20] ChillarAnand commented on #482
Please go ahead!

[2016-07-27 17:08] vnbang2003 opened #498 "Shouldn't allow title of proposal to be changed after last date of submission"
We should not allowed proposal title to be changed after the last date of submission.
If reviewers suggest for change it can just be done by CFP coordinator or admin.

[2016-07-27 17:09] vnbang2003 opened #499 "Make all fields readonly after final selection date"
We should make all fields of proposal readonly after the final selection deadline.
If changed are to be CFP coordinator or admin can do it.

[2016-08-02 18:46] kracekumar opened #500 "Second phase voting"
After first cut selection, submitted content may not match the promise. Reviewers need to cast the vote on selected proposals and comment. The first and second phase voting follow same guidelines and permissions.  Admin and conference moderators can only audit the votes and feedback.

[2016-08-04 18:52] vinay13 opened #501 "Real time comments ."
Comments should be real time . If new comments published should appear on page w/o refresh .

[2016-08-04 19:00] kracekumar commented on #501
Not a priority but good to have. I will be happy to consider a pull request.

[2016-08-05 10:01] ravishanker404 opened #502 "Upgrade to Django 1.9"

[2016-08-11 11:23] #500 closed

[2016-08-18 18:19] punchagan commented on #480
I'm not sure if these comments were made in the public comment section by choice or by accident. I don't see a problem with reviewers making general comments in the public section.

If it was done by accident, some kind of color coding for each tab may be helpful to quickly identify which tab is active.

[2016-08-18 18:21] punchagan opened #508 "Comments are not displayed in chronological order"
Noticed this in the reviewer comments section. May or may not be true with public comments.

[2016-08-18 18:23] kracekumar commented on #508
In reviewers section latest comment at the bottom. Reversing the order will help?

[2016-08-22 10:27] punchagan commented on #508
No, they are not always in that order, either.  They get mixed up. For instance look at reviewer comments on [this page](https://in.pycon.org/cfp/2016/proposals/algorithmic-music-generation~dBrxd/)

[2016-08-22 13:23] ChillarAnand commented on #508
Sorry for inconvenience. Will be fixed in  https://github.com/pythonindia/junction/pull/509

[2016-09-04 17:10] ChillarAnand commented on #508
Fixed in https://github.com/pythonindia/junction/pull/509. Please reopen if there are any issues.

[2016-09-04 17:10] #508 closed

[2016-09-04 17:13] #337 closed

[2016-09-04 18:03] theskumar commented on #364
@kracekumar @RishabhJain2018  what's the status of this issue?

[2016-09-04 18:16] RishabhJain2018 commented on #364
@kracekumar I will be fixing this.

[2016-09-15 13:08] ChillarAnand commented on #313
We already have `Reviewer comment` filter. Also comment and vote are mandatory for reviewers. Shouldn't reviewer comment filter suffice?

[2016-09-15 18:18] RishabhJain2018 commented on #501
@kracekumar Can I pick up this issue?

[2016-09-16 07:03] kracekumar commented on #501
On Thursday, September 15, 2016, Rishabh Jain <notifications@github.com>
wrote:

Sure. Post your brief thoughts on how to implement this before coding.

--
Sent from Gmail Mobile

[2016-09-17 19:30] RishabhJain2018 commented on #501
@kracekumar I have searched about the real time commenting & I found that it can be done through Ajax calls as well as through websockets. For ajax calls we can use Pusher API and for websockets we can use PubNub.
What are your views towards it?

[2016-09-18 06:36] kracekumar commented on #501
@RishabhJain2018 Using external service is overkill. AJAX calls are simple to implement with `jquery` and `Python API`. New comment already uses AJAX but the issue is rendering; page reload isn't an optimal way. The response should contain all the information on the client side to render a DOM element.

[2016-09-18 09:01] RishabhJain2018 commented on #501
@kracekumar Yeah Sure, I will use Pusher.

[2016-09-20 10:44] kracekumar opened #510 "Ability to mail proposers"
### Problem

The team sends the email to proposers on various occasions like `Request to upload slides, Announcing list of selected talks, Speaker Guidelines, Schedule announcement`. These tasks require sysadmin to populate the list of email address, and coordinator uses mail chimp to send out emails.

The dependency on sys admin slows down the process, and time-consuming.

### Working

Junction s

[2016-09-20 10:45] kracekumar opened #511 "Web UI to generate QR codes"
Provide an option for conference moderators to download QR codes and sync tickets from Explara.

[2016-09-20 11:01] kracekumar opened #512 "Workshop coordinator"
Workshop coordinator writes an introduction email to workshop participants and tutor. Junction already stores the ticket information. The details can be used to form workshop list and workshop coordinator can trigger an email from UI.

[2016-10-10 01:53] kracekumar commented on #502
Any updates?

[2016-10-10 01:56] kracekumar commented on #386
Part 1 of the issue is duplicate of #497

[2016-12-13 18:17] ibrahim45 commented on #264
@ChillarAnand I am Working on it!!

[2016-12-31 10:06] cosmologist10 commented on #502
I am working on this issue.

[2016-12-31 14:55] kracekumar commented on #502
@cosmologist10 Thanks for picking up the issue! Please keep us updated about the progress. You may need to add few extra test cases.

[2017-01-03 15:18] shashankaryan commented on #366
Hey, I am working on this issue.

[2017-01-09 22:21] cosmologist10 commented on #502
I have updated the packages and fixed some bugs, still there are some in which i'm really confused. Please have a look:
http://paste.opensuse.org/32513794

[2017-01-10 05:53] kracekumar commented on #502
Django 1.10 consolidated  `TEMPLATES_` variables into `TEMPLATES` variable. Junction `common.py` Contains `TEMPLATE_DIRS` which needs to go into `TEMPLATES`. Here is the documentation for help: https://docs.djangoproject.com/en/1.10/topics/templates/

[2017-01-10 18:00] cosmologist10 commented on #502
I have already added this http://paste.opensuse.org/66070349 and still
getting the same error. Followed this
http://stackoverflow.com/questions/32445953/django-app-works-fine-but-getting-a-template-warning-message
still no effect.

On Tue, Jan 10, 2017 at 11:23 AM, Kracekumar Ramaraj <
notifications@github.com> wrote:

[2017-01-11 10:14] kracekumar commented on #502
I had an assumption you're working on `Django 1.10`. If you're doing that, let's first move to Django 1.9. 1.8 to 1.10 migration breaks a lot of base libraries with the current version.

I made three changes in setting files.
1. Copy your `TEMPLATES` variable.
2. Change  `DEBUG` to `# DEBUG = os.environ.get('DEBUG', 'on') == 'on'` and add `'debug' : DEBUG` in `OPTIONS` under `TEMPLATES`.
3. Commen

[2017-01-11 10:17] kracekumar opened #514 "Update base libraries"
The libraries in `requirements.txt` are lacking behind the current master. For example, current `all-auth` version is `0.30` but we use `0.21`. Upgrade all the libraries to latest version.

This change may require code changes.

[2017-01-13 19:35] kracekumar opened #515 "Should we participate in RGSOC?"
[Rails Girls Summer of Code](http://railsgirlssummerofcode.org/blog/2016-12-01-rgsoc-2017-project-submissions-open) is accepting applications for open source projects to participate.

The event is for three months. The participants get involved in any open source project from July 1st to September 30th. The project mentors will help the participants online. This is a solid work for mentors!
Here i

[2017-01-13 19:35] kracekumar commented on #515
Jan 31 is the deadline for application submission.

[2017-01-21 19:38] kracekumar commented on #515
@ChillarAnand @vnbang2003 @theskumar @sivaa

[2017-01-22 09:31] ChillarAnand commented on #515
Are there any prerequisites for projects? I'll be available to help.

[2017-01-22 10:28] vnbang2003 commented on #515
+1 👍

[2017-01-23 16:03] kracekumar commented on #515
Guidelines: http://railsgirlssummerofcode.org/guide/projects/
Project details: https://teams.railsgirlssummerofcode.org/projects/new

@ChillarAnand. We need to create a list of issues to work.

[2017-01-24 03:25] theskumar commented on #515
I won't have bandwidth to take this up. If there are any quick help possible, I would to get involved.

Cheers,

[2017-02-01 17:41] kracekumar commented on #515
I just realised, I forgot to submit the project :-(

[2017-02-01 17:41] #515 closed

[2017-02-08 12:42] pythonhacker commented on #14
Can we triage and close or specify action points for issues older than a year ?

[2017-02-08 12:45] pythonhacker opened #516 "Triage older issues greater than a year (Meta)"
When scanning through issues (60 open as of now) I see issues that are older than a year. We should start triaging at this point to make sure the software doesn't fork too much (too many unmerged branches, decisions not yet made).

For issues older > 1 year.

1. Close issues no longer relevant and we don't plan to do.
2. Merge similar issues which we plan to do.
3. For larger issues (enhancements)

[2017-02-10 13:06] #471 closed

[2017-02-10 13:06] ChillarAnand commented on #264
@iambibhas any updates?

[2017-02-10 13:06] #235 closed

[2017-02-10 13:06] #234 closed

[2017-02-10 13:08] ChillarAnand commented on #516
It would be helpful if authors of respective issues can take this up and triage as mentioned above.

[2017-02-11 16:36] kracekumar commented on #502
@cosmologist10 Any update on the issue?

[2017-02-11 16:39] kracekumar commented on #19
This feature is available in master branch.

[2017-02-11 16:39] #19 closed

[2017-02-11 16:55] kracekumar commented on #72
This proposal types and sections are filterable with query string like https://in.pycon.org/cfp/pycon-india-2015/proposals/?proposal_section=6#proposals

[2017-02-11 16:55] #72 closed

[2017-02-11 16:58] kracekumar commented on #87
The setup section carries instruction to set up sample data.

[2017-02-11 16:58] #87 closed

[2017-02-11 17:03] kracekumar commented on #141
https://in.pycon.org/cfp/pycon-india-2015/proposals/?proposal_type=2&proposal_section=6#proposals.
UI doesn't display the audience level. The user needs to manipulate the URL bar to get the link. The UI should allow adding multiple filters.

[2017-02-11 17:05] kracekumar commented on #91
Add a setting variable to get the URL and display the links in the template.

[2017-02-11 17:08] kracekumar commented on #201
We're on Django 1.8.

[2017-02-11 17:08] #201 closed

[2017-02-11 17:09] kracekumar commented on #225
Scheduling is possible with Admin UI.

[2017-02-11 17:09] #225 closed

[2017-02-11 17:11] kracekumar commented on #264
@ChillarAnand it's not @iambibhas, it's @ibrahim45

[2017-02-11 17:12] #291 closed

[2017-02-11 17:13] kracekumar commented on #501
@RishabhJain2018 Any updates?

[2017-02-11 17:18] kracekumar commented on #499
I'd like to leave the feature as it as. The system captures revision of all the fields in the proposal https://github.com/pythonindia/junction/blob/master/junction/proposals/models.py#L91. Sample URL: https://in.pycon.org/cfp/nimda/proposals/proposal/<proposal_id>/history/<history_id>/

[2017-02-11 17:18] #499 closed

[2017-02-11 17:21] #372 closed

[2017-02-11 17:23] kracekumar commented on #364
@RishabhJain2018 Any update?

[2017-02-11 17:24] kracekumar commented on #343
Is this feature already done @ChillarAnand ?

[2017-02-11 17:40] kracekumar commented on #387
@raun Thanks for the interest and apologies for late reply. This feature needs workflow and complicated.It's not yet ready. You can look into other issues if you'd like to contribute.

[2017-02-11 17:43] RishabhJain2018 commented on #364
@kracekumar I had fixed the issue. Please refer to the PR #469 .

[2017-02-11 17:45] RishabhJain2018 commented on #501
@kracekumar I almost forgot the issue. Please give me sometime ro fix this. I will make the PR asap.